.blog-link {
    margin: 25px 0;
}

.blog-link p {
    text-align: center;
    font-style: italic;
    margin: 0;
}

.blog-link a  {
    display: block;
}

.blog-items-list .post{
    max-width: 100%;
    width: 100%
}

.page-header {
    padding: 20px 8vw;
}

.blog-post-single .post-main {
    max-width: 100%;
    margin: 0 8.2vw;
}