%mini-cart-text-color{
    color: #797979;
}

.mini-cart-subtotal[data-cart-quantity="0"],
.mini-cart-subtotal.mini-cart-quantity-mobile[data-cart-quantity="0"] { 
    display: none; 
}

@media screen and (max-width: 1023px) {
    .mini-cart-subtotal {
        display: none;
        font-size: 1.2rem;
        margin-right: 5px !important;

        @media only screen and (max-width: $screen-xs) {
            margin-right: 0 !important;
        }
    }

    .mini-cart-subtotal.mini-cart-quantity-mobile {
        // background: #6ea438;
        // border-radius: 0.8em;
        // -moz-border-radius: 0.8em;
        // -webkit-border-radius: 0.8em;
        // color: #fff;
        display: flex;
        margin: 0;
        // font-weight: bold;
        // line-height: 1.5em;
        // text-align: center;
        // width: 1.6em;
        // font-size: .8em;
        // position: absolute;
        // right: -15px;
        // top: -10px;
    }
}

.mini-cart-open {
    .site-canvas, .site-header {
        transform: none;
    }

    .mini-cart {
        box-shadow: -10px 5px 20px 19px rgba(0, 0, 0, 0.10);
        border-left: 1px solid #ccc;
    }
}

.mini-cart {
    box-shadow: transparent;
    transition: all .3s ease;
    z-index: 1000;
    background-color: #fff;
    @extend %mini-cart-text-color;

    .button-cart-close{
        svg{
            fill: #797979;
        }
    }

    .mini-cart-top-bar{
        border-bottom: 1px solid #e7e8ec;
    }

    .mini-cart-title{
        color: #2e3036;
        font-size: 1.8rem;
        line-height: 1;
    }

    .mini-cart-item{
        @extend %mini-cart-text-color;

        &:after{
            background-color: #e7e8ec;
        }

        &:hover{
            background-color: #fff;

            &:after{
                background-color: #e7e8ec;
            }
        }
    } 
    .compare-tab-item{
        @extend %mini-cart-text-color;
    }

    .mini-cart-item-actions{
        .link{
            color: #0fa0ea;
            text-decoration: none;
            letter-spacing: inherit;
        }
    }

    .mini-cart-item-price{
        opacity: 1;
    }
}


.mini-cart-item-options .option-value {
    color: inherit;
}

.mini-cart-actions {
    display: flex;
    flex-direction: row;

    > * { flex: 1 0 auto; }
}

.mini-cart-actions .button-secondary:hover {
    box-shadow: none;
}

.mini-cart-item-options .option-value {
    display: block;
    margin-top: 10px;
}

.mini-cart-item-options .option-value-label-mc {
    display: block;
    font-size: .8em;
    line-height: .8em;
}

.mini-cart-item-options .option-value:not(:last-child):after {
    content: " ";
}
