$newsletter-height: 45px;

.newsletter{
    @extend .section;
    margin-top: 20px;
    float: left;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid rgba(25, 25, 25, 0.1);
    padding: $standard-padding *2 $standard-padding;

    &__heading{
        font-size: 1.3rem;
        text-align: center;
        line-height: 1;
        margin: 0;
        font-weight: 200;
    }

    &__text{
        font-size: 0.9rem;
        text-align: center;
        line-height: 1;
        margin-top: 10px;
        color: #999;
    }

    &__label{
        display: none;
    }

    &__controls{
        padding: 0;
        margin: 20px auto 0 auto;
        display: table;
        border: 1px solid #bbb;
        border-radius: $button-border-radius;
        overflow: hidden;
        height: $newsletter-height;
        width: 100%;
        max-width: 450px;
    }

    &__input{
        box-shadow: none;
        border-radius: 0;
        border: none;
        padding-left: 30px;
        margin: 0;
        // flex: 1 0 auto;
        width: 75%;
        height: $newsletter-height;
        float: left;
    }

    &__button{
        @extend .button;
        @extend .button-primary;
        @extend .button-primary--dark;
        border: none;
        border-radius: 0 !important;
        margin: 0;
        padding: 0;
        // font-size: .9rem;
        box-shadow: none;
        // flex: 1 0 auto;
        width: 25%;
        height: $newsletter-height;
        float: left;
        font-size: 1rem;

        &:hover{
            border-left: inherit;
        }
    }

    &__message{
        text-align: center;

        &--error{
            font-weight: 800;
            color: $danger;
        }

        &--success{
            color: $btn-color-green
        }
    }
}
