  <figure>
      <a class="post-more" href="{{url}}">
        <img src="{{getImage thumbnail 'core-blog-thumbnail'}}" class="post-thumb" alt="{{thumbnail.alt}}">
        <!-- <img src="https://dummyimage.com/640x400/ccc/ccc" alt="" class="post-thumb"> -->
      </a>
  </figure>

  <h2 class="post-title"><a href="{{url}}">{{title}}</a></h2>
  {{!-- {{> components/blog/blog-post-meta author=author date_published=date_published}} --}}
  <p class="post-summary">{{{summary}}}{{#if show_read_more}}&hellip;{{/if}}</p>

  <strong class="post-summary-actions">
    {{#if show_read_more}}
      <a class="post-more" href="{{url}}">{{ lang 'blog.read_more_text' }} &rsaquo;</a>
    {{/if}}
  </strong>

  {{!-- {{> components/common/share-buttons share_buttons=share_buttons url=url title=title image=(getImage thumbnail 'thumb')}} --}}
  

