{{{snippet 'forms_search'}}}
<div itemscope itemtype="https://schema.org/WebSite">
  <meta itemprop="url" content="https://authenteak.com/"/>
  <form class="search-form atmo-center-search" action="/search" data-atr="howdy" method="get" target="_top" itemprop="potentialAction" itemscope itemtype="https://schema.org/SearchAction">
      <meta itemprop="target" content="https://authenteak.com/search?search_query={search_query}"/>
      <div class="form-field">
        <label for="{{label}}_search_query" class="hide">{{label}}</label>
        <input class="search-input form-input form-input-short" name="search_query" id="{{label}}_search_query" placeholder="{{lang 'header.search'}}" required  itemprop="query-input">
      </div>
      <button class="button-search-submit" type="submit">
        {{> svg/search}}
      </button>
  </form>
</div>
