<script>
    try{
        Object.assign(TEAK.User, {
            isLoggedIn: {{#if customer}}true{{else}}false{{/if}},
            isTradeCustomer: {{#if customer.customer_group_id '==' '1' }}true{{else}}false{{/if}},
            uuid: "{{customer.id}}"
        });

        Object.assign(TEAK.Globals, {
            graphQl: "{{settings.storefront_api.token}}"
        });

        // ajax in the global SVG sprite
        TEAK.Utils.getSvgSprite("{{cdn '/assets/svg/icon-defs.svg'}}");
    }catch(err){}
</script>