/*
    Styles for custom Blog pages
    - extends brands page properties
*/

.blog{
    @extend %span-1-1;
    @extend %span;
    @extend .no-pad;

    a{
        display: block;
    }

    p a{
        display: unset !important;
    }

    & .button{
        display: inline-block !important;
    }

    &__breadcrumbs{
        @extend .brands__breadcrumbs;
    }

    &__headerCntr{
        @extend .brands__headerCntr;
    }

    &__header{
        @extend .landing__header;

        &--2{
            font-size: 2rem;

            @media only screen and (max-width: $screen-sm) {
                font-size: 1.4rem;
            }
        }

        &--3{
            font-size: 1.6rem;

            @media only screen and (max-width: $screen-sm) {
                font-size: 1.2rem;
            }
        }
    }

    &__hero{
        @extend .brands__hero;
    }

    &__heroImg{
        @extend .brands__heroImg;
    }

    &__section{
        @extend .brands__container;
    }

    &__row{
        @extend .landing__row;

        @media only screen and (max-width: $screen-sm) {
            flex-direction: row;
            flex-wrap: wrap;
        }

        &--noFlex{
            @extend .landing__row--noFlex;
        }
    }

    &__figure{
        @extend %span;
        @extend .no-pad;
    }

    &__col-1-1{
        @extend %span-1-1;
        @extend %span;   
    }

    &__col-1-2{
        @extend %span-1-2;
        @extend %span;  
        
        @media only screen and (max-width: $screen-sm) {
            width: 100%;

            & .landing__col-1-2{
                width: 50%;
            }
       }
    }

    &__col-1-3{
        @extend %span-1-3;
        @extend %span;   

        @media only screen and (max-width: $screen-sm) {
            width: 100%;
        }
    }

    &__col-1-4{
        @extend %span-1-4;
        @extend %span;   

        @media only screen and (max-width: $screen-sm) {
            width: 50%;
       }
    }

    &__figImg{
        object-fit: contain;
        width: 100%;
    }

    &__titleCaption{
       width: 100%;
       text-align: center;

        &--overlay{
            position: absolute;
            bottom: 60px;
            width: calc(100% - 40px);
        }
    }

    &__videoCntr{
        @extend .brands__videoCntr;
    }

    &__video{
        @extend .brands__video;
    }
}