/*
    Styles for custom Landing pages
    - extends brands page properties
*/

.landing{
    @extend %span-1-1;
    @extend %span;
    @extend .no-pad;

    a{
        display: inline-block;
    }

    p a{
        display: unset !important;
    }

    &__spacer{
        width: 100%;
        height: 1px;
        margin: 60px 0;
        float: left;
        display: flex;
        flex: 1 0 auto;
    }

    & .button{
        display: inline-block !important;
    }

    &__breadcrumbs{
        @extend .brands__breadcrumbs;
    }

    &__headerCntr{
        @extend .brands__headerCntr;
    }

    &__header{
        @extend %span-1-1;
        @extend %span;

        &--2{
            font-size: 2rem;

            @media only screen and (max-width: $screen-sm) {
                font-size: 1.4rem;
            }
        }

        &--3{
            font-size: 1.6rem;

            @media only screen and (max-width: $screen-sm) {
                font-size: 1.2rem;
            }
        }
    }

    &__hero{
        @extend .brands__hero;
    }

    &__heroImg{
        @extend .brands__heroImg;
    }

    &__section{
        @extend .brands__container;
    }

    &__row{
        @extend .brands__row;
        text-align: center;
        padding: 0 0 20px 0;

        @media only screen and (max-width: $screen-sm) {
            flex-direction: row;
            flex-wrap: wrap;
        }

        &--noFlex{
            display: block;
        }
    }

    &__figure{
        @extend %span;
        @extend .no-pad;
    }

    &__col{
        &--brands{
            h3{
                width: 100%;
                border-bottom: 1px solid #eee;
                margin-top: 80px;
                padding-bottom: 10px;
            }
        }

        &--list{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    &__col-1-1{
        @extend %span-1-1;
        @extend %span;   
    }

    &__col-1-2{
        @extend %span-1-2;
        @extend %span;  
        
        @media only screen and (max-width: $screen-sm) {
            width: 100%;

            & .landing__col-1-2{
                width: 50%;
            }
       }
    }

    &__col-1-3{
        @extend %span-1-3;
        @extend %span;   

        @media only screen and (max-width: $screen-sm) {
            width: 100%;
        }
    }

    &__col-1-4{
        @extend %span-1-4;
        @extend %span;   

        @media only screen and (max-width: $screen-sm) {
            width: 50%;
       }
    }

    &__figImg{
        object-fit: contain;
        width: 100%;
    }

    &__titleCaption{
       width: 100%;
       text-align: center;

        &--overlay{
            position: absolute;
            bottom: 60px;
            width: calc(100% - 40px);
        }
    }

    &__videoCntr{
        @extend .brands__videoCntr;
    }

    &__video{
        @extend .brands__video;
    }


    &__modal{
        background-color: #fff;
        border-radius: $border-radius;
        padding: 40px;
        box-shadow: 20px 20px 50px 20px rgba(0, 0, 0, 0.47);
        display: none;

        &--open{
            display: block;
        }
    }

    &__form{
        display: flex;
    }

    &__input{
        width: 100%;
        padding: 15px;
    }

    &__list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;

        &--col{
            width: 100%;
            flex: 0 0 auto;
            padding: 10px;

            @media only screen and (max-width: $screen-sm) {
                width: 100%;
            }

            &:last-of-type{
                align-self: flex-start;
                flex: 0 auto;
            }
        }
        
    }

    &__listItem{
        flex: 0 0 auto;
        width: 20%;
        line-height: 1.2;
        padding-right: 20px;
        text-align: left;

        &:nth-child(5n){
            padding-right: 0;
        }

        @media only screen and (max-width: $screen-sm) {
            width: 50%;

            &:nth-child(2n){
                padding-right: 0;
            }
        }

        &--heading{
            width: 100%;
            font-weight: 800;
            font-size: 1.3rem;
            line-height: 1;
            padding-bottom: 5px;
            border-bottom: 1px solid #eee;
            text-align: center;
        }
    }

    &__itemLink{
        padding: 10px 0;
        display: block;
    }
}