%heading-responsive{
    @include dynamic-font(21, 28);
}

/*
    Styles for custom Product pages
    - extends brands page properties
*/

.product{
    @extend %span-1-1;
    @extend %span;

    &__freezeBody{
        @extend %freeze-body;
    }

    @media only screen and (max-width: $screen-xs) {
       padding: 0;
    }

    & .button{
        display: inline-block;
    }

    &__breadcrumbs{
        @extend .brands__breadcrumbs;
    }

    &__name{
        margin: 0 0 16px 0;
        font-size: 1.8rem;
        line-height: 1.4;

        &--pod{
            font-size: 1rem;
            line-height: 1.2;
            text-align: center;
            padding: 15px 0;
            margin: 0;
        }

        &--sm{
            font-size: 1.4rem;
            margin: 0;
        }
    }

    &__infoGraphic{
        width: 100%;
        margin: 30px 0;
    }

    &__infoItem{
        justify-content: flex-start;
        display: flex;
        align-items: center;
        align-content: center;

        & .icon-no-assembly{
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }
    }

    &__title{
        margin: 0 0 16px 0;
        line-height: 1.4;
        @extend %heading-responsive;
        font-weight: 400;

        &--upperBadge{
            text-transform: uppercase;
            font-size: .7rem !important;
            font-weight: 800;
            line-height: 1;
            color: #555;
            background-color: #ccc;
            padding: 5px 8px;
            border-radius: $button-border-radius;
            margin: 0 0 10px 0 !important;
            display: flex;

            @media only screen and (max-width: $screen-md) {
                font-size: 0.9rem;
                margin: 0;
            }
        }

        &--tight{
            line-height: 1;
            margin: 0;
        }

        &--flex{
            display: flex;

            @media only screen and (max-width: $screen-sm) {
                flex-direction: column;
            }
        }

        &--2{
            font-size: 1.1rem;
            text-transform: uppercase;
            margin: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            align-content: center;
        }

        &--customizePDP{
            text-transform: capitalize;
            padding-bottom: 0;
            font-size: 1.3rem;
            margin-bottom: 15px;
            
            @media only screen and (max-width: $screen-md) {
                flex-direction: column;
            }

            @media only screen and (max-width: $screen-xs) {
                margin-bottom: 10px;
            }
        }

        &--noMargin{
            margin: 0;
        }

        &--borderBottom{
            width: 100%;
            padding-bottom: 10px;
            border-bottom: 1px solid #ddd;
        }
    }

    &__tabTitle{
        @extend .product__title;
        margin: 0;
        display: flex;
        margin: 0 -20px;
        padding: 20px;

        &:hover{
            background-color: rgba(110, 164, 56, 0.05);
        }

        &--noBg{
            &:hover{
                background-color: transparent;
            }
        }

        @media only screen and (max-width: $screen-sm) {
            flex-direction: column;
        }
    }

    &__titleLink{
        display: flex;
        align-content: center;
        align-items: center;
        line-height: 1;
        flex: 1 0 auto;
        width: 100%;
        background-color: transparent;
        outline: none;

        &:hover{
            & .icon-chevron-down{
                fill: $clr-ocean;
                transform: rotate(-90deg);
            }
        }

        & .icon{
            width: 50px;
            height: 50px;
            flex: 0 0 auto;
            fill: #333;
            transform: rotate(0deg);
            transition: all 0.3s ease;
        }

        &--active{
            & .icon-chevron-down{
                transform: rotate(180deg);
            }

            &:hover{
                & .icon-chevron-down{
                    transform: rotate(180deg);
                }
            }
        }

        
    }

    &__titleText{
        display: flex;
        flex: 1 0 auto;
        align-items: center;
        align-content: center;
        font-weight: 400;

        @media only screen and (max-width: $screen-sm) {
            padding: 15px 0;
        }

        & .icon{
            width: 25px;
            height: 25px;
            margin-right: 20px;
            fill: #aaa;
        }
    }

    &__titleBtn{
        @extend .button;
        @extend .button-primary;
        @extend .button-primary--ocean;
        padding: 8px 20px;
        align-self: flex-end;

        @media only screen and (max-width: $screen-sm) {
            margin:20px 0;
            align-self: center;
            width: 100%;
        }
    }

    &__desc{
        margin: 0 0 15px 0;

        &--margin{
            margin-bottom: 30px;
        }
    }

    &__descLink{
        text-decoration: none;
        border-bottom: 1px solid #ccc;
    }

    &__bgHighlight{
        background-color: #f2f2f2;

        @media only screen and (max-width: $screen-sm) {
            padding: 10px !important;
        }        
    }

    &__itemNum{
        margin: 10px 0 20px 0;
        padding-bottom: 10px;
        display: flex;
        align-items: center;
        align-content: center;
        border-bottom: 1px solid #eee;
        line-height: 1.4;
        font-size: .75rem;;
    }

    &__ratingWrapper{
        @extend .yotpo-pdp-wrapper;
        text-decoration: none;
        display: flex;
    }

    &__shipping{
        @extend .shipping-range;
        @extend .shipping-range--static;
    }

    &__shippingInfo{
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        line-height: 1.4;
        margin-bottom: 16px;
        text-align: left;
        @extend .shipping-range--static;
    }

    &__shippingInfoTitle{
        @extend .shipping-range-title;
    }

    &__shippingInfoCntr{
        @extend .shipping-range-cntr;
    }


    &__priceCntr{
        float: left;
        width: 50%;
        padding: 20px 0;

        &--full{
            display: flex;
            width: 100%;
            flex-direction: row;
        }
    }

    &__price{
        font-size: 2.1rem;
        margin: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        float: left;
        line-height: 1;
        width: 100%;

        &--pod{
            font-size: 1rem;
        }

        &--left{
            justify-content: start;
            text-align: left;
            flex: 0;
        }
    }

    &__priceLine{
        margin: 0;
        align-items: baseline;
    }

    &__priceLineItem{
        display: flex;
        flex: 1 0 auto;
        align-content: flex-end;
        align-items: flex-end;
    }

    &__priceValue{
        order: 0;
        margin: 0 10px 0 0;
    }

    &__priceRrp{
        @extend .highlight;
        order: 1;
        opacity: 0.5;
        font-size: 1.1rem;
    }

    &__priceDesc{
        margin: 0;
        line-height: 1.2;

        @media only screen and (max-width: $screen-sm) {
            font-size: 0.8rem;
            padding-left: 20px;
        }

        &--name{
            width: 100%;
            display: block;

            @media only screen and (max-width: $screen-sm) {
                display: inline-block;
            }
        }

        &--swatch{
            width: 100%;
            display: block;

            @media only screen and (max-width: $screen-sm) {
                display: inline-block;
            }
        }
    }


    &__promoText{
        @extend .pdp-promo-text;
    }

    &__highlights{
        @extend .highlight-group;
        margin-bottom: 20px;
        border-radius: $border-radius;
    }

    &__headerCntr{
        @extend .brands__headerCntr;
    }

    &__header{
        @extend .brands__header;

        &--top{
            margin: 0
        }

        &--2{
            @extend .landing__header--2;

            @media only screen and (max-width: $screen-sm) {
                font-size: 1.4rem;
            }
        }

        &--3{
            @extend .landing__header--3;

            @media only screen and (max-width: $screen-sm) {
                font-size: 1.2rem;
            }
        }
    }

    &__hero{
        @extend .brands__hero;
    }

    &__heroImg{
        @extend .brands__heroImg;
    }

    &__section{
        @extend .brands__container;
    }




    &__row{
        @extend .landing__row;
        text-align: left;
        padding: 0;
        flex-direction: column;

        &--podCntr{
            flex-direction: row;

            &:last-of-type{
                padding: 0 !important
            }
        }

        &--center{
            justify-content: space-evenly;
            align-items: center;
            align-content: center;
        }

        &--left{
            align-items: flex-start;

            @media only screen and (max-width: $screen-sm) {
                flex-direction: column !important;
            }
        }

        &--section{
            padding: 20px 0 !important;
        }
        
        &--border{
            border-top: 1px solid #ddd;
        }

        &--bottomBorder{
            border-bottom: 1px solid #ccc;
        }

        @media only screen and (max-width: $screen-sm) {
            flex-direction: row;
            flex-wrap: wrap;
        }

        &--noFlex{
            @extend .landing__row--noFlex;
        }
    }
    

    &__col{
        &--hide{
            display: none;
        }

        &--marginBottom{
            margin-bottom: 40px;
        }

        &--rightBorder{
            border-right: 1px solid #eee;
        }

        &--allBorder{
            border: 1px solid #ccc;
            border-radius: $border-radius;
        }

        &--topBorder{
            border-top: 1px solid #eee;
        }

        &--priceCntr{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            padding: 0;

            @media only screen and (max-width: $screen-md){
                justify-content: flex-end;
            }

            @media only screen and (max-width: $screen-sm) {
                justify-content: space-between;
            }
        }
    }


    &__pod{

        &--1-4{
            display: flex;
            @extend .product__col-1-4--lg;
            padding: 0 20px;
            flex-direction: column;
            background-color: transparent;

            &:first-of-type{
                padding-left: 0;
            }

            &:last-of-type{
                padding-right: 0;
            }

            @media only screen and (max-width: $screen-sm) {
                width: 100%;
            }
        }

        &--center{
            display: flex;
            align-items: center;
            justify-content: center;
        }
       
        &--1-1{
            width: 100%;
            display: flex;
        }

        &--btn{
            padding: 10px;
            border: $standard-border;
            border-radius: $border-radius;
            outline: none;
            background-color: transparent;
            width: 25%;
            display: flex;
            flex-direction: column;

            @media only screen and (max-width: $screen-sm) {
                margin-bottom: 10px;
                width: 50%;
            }

            &:first-of-type{
                padding-left: 10px;
            }

            &:last-of-type{
                padding-right: 10px;
            }

            &-active{
                border-color: #ccc;
                box-shadow: 0 2px 10px 2px rgba(0, 0, 0, .12);
            }

            &:hover{
                @extend .product__pod--btn-active;
            }
        }

        &--detailCntr{
            @extend .product__col-8-10--lg; 
            @extend .product__col-1-1;
            display: flex;
            padding: 0 0 0 20px;

            @media only screen and (max-width: $screen-sm) {
                padding: 0 20px;
                flex-direction: column;
            }
        }

        &--metaDesc{
            @extend .product__col-6-10--lg; 
            @extend .product__col-1-1;

            display: flex;
            padding-right: 20px;
            align-content: center;
            flex-direction: column;

            @media only screen and (max-width: $screen-lg) {
                width: 50%;
            }

            @media only screen and (max-width: $screen-sm) {
                padding: 0;
                width: 100%;
            }
        }

        &--controls{
            @extend .product__col-4-10--lg;
            @extend .product__col-1-1;
            padding: 0 0 0 20px;

            @media only screen and (max-width: $screen-lg) {
                width: 50%;
            }

            @media only screen and (max-width: $screen-sm) {
                padding: 20px 0 0 0;
                width: 100%;
            }
        }

        @media only screen and (max-width: $screen-md) {
            flex-direction: column;
        }

        &--horz{
            padding: 40px 0;

            @media only screen and (max-width: $screen-md) {
                flex-direction: column;
            }
        }

    }


    &__podBtnCntr{
        width: 100%;
        padding: 20px;
        display: flex;

        @media only screen and (max-width: $screen-sm) {
            flex-direction: row;
            flex-wrap: wrap;
            padding: 0;
        }
    }


    &__podSwatches{
        @extend .form-field-control;
        display: flex;
        flex-direction: row;
        justify-content: start;
        width: 100%;
        flex: 1 0 auto;
        flex-wrap: wrap;
        align-items: flex-start;

        &--center{
            padding-top: 15px;
            justify-content: center;
        }
        
        & .swatch-radio{
            position: absolute;
            opacity: 0;
        }

        & .swatch-pattern-image{
            display: none;

            &.swatch-disabled{
                opacity: 0.10;
                cursor: not-allowed !important;
            }
        }

        
    }

    &__scrollCntr{
        max-height: 250px;
        overflow-y: scroll;
        overflow-x: hidden;
        justify-content: start;
        padding-top: 0;
        @extend %scrolling-inner;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
    }


    &__podSwatchItem{
        width: 10%;
        padding: 0 2px;

        &--text{
            width: 100%;
            font-size: 0.8rem;
            color: #777;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;
            padding: 3px 0 0 0;

            & .icon{
                width: 10px;
                height: 10px;
            }
        }

        & .swatch-color{
            // @extend .round;
            padding-bottom: 100%;
            display: block;
            background-size: contain;
            border-radius: $border-radius;
        }

        &--row{
            width: 25%;
            margin-bottom: 10px;

            @media only screen and (max-width: $screen-sm) {
                width: 50%;
            }

            & .swatch-wrap{
                display: flex;
                align-items: center;
                align-content: center;
                border: 1px solid #eee;
                border-radius: $border-radius;
                padding: 0 3px;
                cursor: pointer;

                & .swatch{
                    display: flex;
                    align-items: center;
                    align-content: center;
                    width: 30%;
                    height: 60px;

                    & .swatch-color{
                        width: 50px;
                        height: 50px;
                    }
                }

                & .drawer__swatchLabelCntr{
                    width: 70%;
                    display: block;
                    padding-left: 10px;

                    & .drawer__swatchLabel--grade{
                        padding-right: 3px;
                    }

                    & span{
                        display: inline-block;
                        
                    }
                }
            }
        }
    }


    &__titleCaption{
        @extend .landing__titleCaption;
    }

    &__videoCntr{
        @extend .brands__videoCntr;
    }

    &__video{
        @extend .brands__video;
    }


    &__tabSection{
        @extend %span;
        @extend .product__col-1-1; 
        @extend .product__col--topBorder;

        padding: 0 20px 0 20px;

        &--active{
            padding-bottom: 20px;
        }
    }


    &__figure{
        @extend %span;
        padding: 0;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        height: 100%;
        flex-direction: column;

        @media only screen and (max-width: $screen-sm) {
           padding: 20px
        }

        &--auxSwatch{
            position: absolute;
            left: 75%;
            width: 60%;
            bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &:last-of-type{
                left: 110%;
            }
        }

        &--full{
            width: 100%;
            height: 600px;

            @media only screen and (max-width: $screen-sm) {
                padding: 0;
                height: auto;
            }
        }

        &--pod{
            @extend .product__col-2-10--lg;
            @extend .product__col-1-1;
        }
    }

    &__figImg{
        @extend .landing__figImg;
        max-height: 600px;
        object-position: 50% 50%;
        object-fit: cover;

        &--border{
            border: 1px solid #ccc
        }
    }

    &__figSlider{
        display: flex;
        flex-direction: row;
        max-height: 600px;

        @media only screen and (max-width: $screen-lg) {
            flex-direction: column;
        }

        @media only screen and (max-width: $screen-md) {
            flex-direction: column;
        }

        & .product__figure--full{
            padding: 0 20px
        }

        & .slick-list{
            width: 90%;
            order: 1;

            @media only screen and (max-width: $screen-md) {
                width: 100%;
                order: 0;
            }
        }
    }


    &__figSliderThumbs{
        width: 10%;
        order: 0;
        margin-right: 20px;

        @media only screen and (max-width: $screen-lg) {
            width: 100%;
            order: 1;
            display: flex !important;
            flex-direction: row;
            justify-content: center;
        }

        @media only screen and (max-width: $screen-md) {
           display: flex !important;
           width: 100%;
           order: 1;
           margin: 20px 0 0 0;
        }

        & li{
            margin: 0 5px 0 5px;
        }

        & img{
            object-fit: fill;
        }
    }

    &__figSliderLink{
        display: block;
        cursor: pointer;
    }

    &__figImgName{
        font-size: .8rem;
    }

    &__img{
        object-fit: cover;
        width: 100%;

        &--thumb{
            width: 100%;
        }
    }

    &__figLink{
        display: block;
        padding: 0 20px;

        @media only screen and (max-width: $screen-md) {
            padding: 0;
        }
    }

    &__imgPagination{
        @extend .product-images-pagination;
    }

    &__imgPaginationItem{
        @extend .pagination-item;

        &--svg{
            @extend .pagination-item--svg;
        }
    }

    &__slides{
        @extend .no-pad;
        @extend .product-images-container;
    }

    &__sidesWrap{
        @extend .product-slides-wrap;
    }



    // qty
    &__qtyCntr{
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        margin-right: 20px;

        & .product-quantity{
            width: 50px !important;
            margin: 0 10px;
            text-align: center;
        }
    }

    &__qtyText{
        font-size: 1.2rem;
        font-weight: 400;
        margin-right: 10px;
    }

}



body.product{
    padding: 0 !important;
}

[class*='product__col-']{
    @extend %span;

    @media only screen and (max-width: $screen-sm) {
        & > [class*='product__col-']{
            padding: 0;
        }
    }
}

// Mobile Portrait
@include make-default-landing-grid(product__col);

// Mobile Landscape
@media only screen and (min-width: $screen-xs) {
    @include make-landing-grid(xs, product__col);
}

// Tablet Portrait
@media only screen and (min-width: $screen-sm) {
    @include make-landing-grid(sm, product__col);
}

// Tablet Landscape
@media only screen and (min-width: $screen-md) {
    @include make-landing-grid(md, product__col);
}

// Desktop
@media only screen and (min-width: $screen-lg) {
    @include make-landing-grid(lg, product__col);
}

// Desktop Wide & HD TV
@media only screen and (min-width: $screen-xl) {
    @include make-landing-grid(xl, product__col);
}
