/*Product Detail Custom Tabs*/

.tab-header {
	border-top: 1px solid #e6e9ef;
	border-bottom: 1px solid #e6e9ef;
	text-align: center;
}

.tab-header ul {
	margin: 0;
	padding: 0;
}

.tab-header li {
	position: relative;
	list-style-type: none;
	display: inline-block;
    box-sizing: border-box;
    cursor: pointer;

    @media screen and (max-width: 1023px) {
        display: block;
    }
}

.tab-header li.active {
    cursor: default;
    @media screen and (max-width: 1023px) {
        background-color: #f5f5f5;
    }
}

.tab-header li.innactive-tab,
.mobile-tab-heading.innactive-tab {
    display: none;
}

.tab-header li.innactive-tab a {
    color: #cccccc;
    cursor: default;
}

.tab-header li:after {
	transition: all .4s;
}

.tab-header li.active:not(.innactive-tab):after,
.tab-header li:not(.innactive-tab):hover:after {
	position: absolute;
	content:'';
	bottom: 0;
	left: 0;
	height: 4px;
	width: 100%;
    background-color: #666;
    
    @media screen and (max-width: 1023px) {
        background-color: transparent;
    }
}

.tab-header li a {
	text-decoration: none;
	display: block;
	padding: 30px 20px;
	color: #666;
    text-transform: uppercase;
    
    @media screen and (max-width: 1023px) {
        padding: 10px;
    }
}

.tab-content {
	max-width: 960px;
    margin: 0 auto;
    
    ol{
        margin-left: 15px;
    }
}

#descTab,
#specsTab,
#careTab,
#shipTab,
#pdfTab,
#videoTab, 
#warrantyTab,
#returnTab { 
    display: none;
    padding: 20px;
}

#descTab.active,
#specsTab.active,
#careTab.active,
#shipTab.active,
#pdfTab.active,
#videoTab.active,
#warrantyTab.active,
#returnTab.active  { 
	display: block;
}

// remove space below tabs
.section.product-tabs{
    padding: 0;

    & .tabs{
        margin: 0;
    }
}

.products-recently-viewed{
    display: none;
}

.products-related .section-title{
    margin-top: 40px;
    text-transform: uppercase;
}

/*Mobile Product Detail Custom Tabs*/
.mobile-tab-wrapper {
    display: none;
}

@media screen and (max-width: 1023px) {
   .mobile-tab-wrapper {
       display: block;
   }
   
   .tab-wrapper {
       display: none;
   }
}

.mobile-tab-heading {
    text-decoration: none;
	display: block;
	padding: 13px;
	color: #666;
    text-transform: uppercase;
	border-bottom: 1px solid rgba(128, 128, 128, 0.22);
    text-align: left;
    position: relative;
    
    @media screen and (max-width: $screen-md){
        &::after {
            position: absolute;
            content: "";
            background: url("data:image/svg+xml; utf8, <svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 20 20' enable-background='new 0 0 20 20' xml:space='preserve'><path d='M13.25 10l-7.141-7.42c-0.268-0.27-0.268-0.707 0-0.979 0.268-0.27 0.701-0.27 0.969 0l7.83 7.908c0.268 0.271 0.268 0.709 0 0.979l-7.83 7.908c-0.268 0.271-0.701 0.27-0.969 0s-0.268-0.707 0-0.979l7.141-7.417z'></path></svg>");
            color: #999;
            height: 15px;
            width: 15px;
            right: 15px;
            bottom: 17px;
        }

        &--active{
            &::after {
                content: "";
                transform: rotate(90deg);
            }
        }
    }

    
}

.mobile-tab-wrapper #descTab,
.mobile-tab-wrapper #specsTab,
.mobile-tab-wrapper #careTab,
.mobile-tab-wrapper #shipTab,
.mobile-tab-wrapper #pdfTab,
.mobile-tab-wrapper #videoTab,
.mobile-tab-wrapper #warrantyTab,
.mobile-tab-wrapper #returnTab  { 
	display: none;
}

.mobile-tab-wrapper #descTab.active,
.mobile-tab-wrapper #specsTab.active,
.mobile-tab-wrapper #careTab.active,
.mobile-tab-wrapper #shipTab.active,
.mobile-tab-wrapper #pdfTab.active,
.mobile-tab-wrapper #videoTab.active,
.mobile-tab-wrapper #warrantyTab.active,
.mobile-tab-wrapper #returnTab.active { 
	display: block;
}

#videoTab .tab-content-panel {
    display: block;

    .video-container iframe {
        width: 100%;
        height: -webkit-fill-available;
    }
}
