.product{

    // swatch
    &__swatchCol{
        @extend %span-1-1;
        @extend %span;
        padding: 20px 0;
    }

    &__swatchList{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
        justify-content: center;
    }

    &__swatchItem{
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        position: relative;

        &--select{
            width: 100%;
        }

        &--marginBottom{
            margin-bottom: 15px;

            &:last-of-type{
                margin: 0;
            }
        }

        &--list{
            flex-direction: row;
            justify-content: flex-start;
            padding: 5px 15px;
            border: 1px solid #eee;
            height: 70px;
            margin-bottom: 15px;
        }

        &--globalControl{
            display: flex;
        }
    }


    &__swatchItemList{
        display: flex;
        flex: 1 0 auto;

        & .product__swatchItem{
            margin-left: 10px;
            justify-content: flex-start;
            align-items: flex-start;
            flex: 0 0 auto;
            width: 59px;
            height: 59px;

            &--error{
                @extend .product__swatchLabel--error;
                border: 2px solid;
                border-radius: 50%;
            }
        }

        & .product__swatch{
            width: 55px;
        }
    }


    &__swatchLabel{
        width: 100%;
        border: 1px solid #ccc;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 8px 10px;
        border-radius: $border-radius;
        cursor: pointer;

        &--error{
            border-color: #FF5E5D;

            & .product-quantity{
                box-shadow: 0 0 0 1px #FF5E5D inset !important;
            }

            &:hover{
                border-color: #FF5E5D !important;
            }
        }

        &:hover{
            border-color: $btn-color-green;
        }

        & .icon-long-arrow-right{
            width: 10%;
            height: 15px;
            fill: #333;
            margin-right: 4px;
            margin-top: -4px;
        }
    }


    
    &__atcCollectionBtn{
        @extend .button;
        @extend .button-primary;
        @extend .button-wide;
        @extend .button-primary--green;
        outline: none;
        height: 51px;
        display: flex !important;
        justify-content: center;
        align-items: center;
        align-content: center;
        position: relative;
        margin-left: 20px;
        padding: 10px 3em;
        line-height: 1;

        &--trans{
            @extend .button-primary--greenTrans;
        }

        & .icon{
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }
    }

    &__clearSwatch{
        @extend .blog__clearFilter;
        position: absolute;
        top: 0px;
        right: -8px;
        padding: 5px;
        background-color: #e74c3c;
        margin: 0;

        & .icon{
            width: 10px;
            height: 10px;
            fill: #fff;
        }
    }
    
    &__swatchColHeading{
        margin: 10px 0 0 0;
        line-height: 1;
        font-size: 1rem;
        text-transform: uppercase;
    }

    &__swatch{
       width: 55px;
       max-width: 55px;
       height: 55px;
       border-radius: 50%;
       position: relative;
       overflow: hidden;
       flex: 0 0 auto;
       width: 25%;

       &--labelRight{
            order: 2;
       }
    }


    &__swatchLabelIcon{
        @extend .icon;
        @extend .icon-long-arrow-right;

        width: 10%;
        height: 15px;
        fill: #333;
        margin-right: 4px;
        margin-top: -4px;

        &--right{
            order: 3;
        }

        &--angle{
            transform: rotate(-40deg);
            margin: 0;
            fill: #ccc;
        }
    }


    &__swatchControls{
        margin: 10px 0;
        padding: 5px 0;
        border-top: 1px solid #eee;
        @extend .form-field;
        @extend .form-field-options;
        @extend .form-field-swatch;
    }


    &__swatchColor{
        background-color: #eee;
        background-size: cover;
    }

    &__swatchImg{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        object-fit: cover;
    }

    &__swatchText{
        padding-left: 10px;
        width: 75%;

        &--right{
            order: 1;
            width: 100%;
        }
    }

    &__swatchOptionText{
        margin: 0;
        font-size: 0.75rem;
    }

    &__swatchName{
        font-weight: 800;
        display: flex;
        line-height: 1;
        text-align: left;
        font-size: 1rem;
    }

    &__swatchOptionIconCntr{
        display: flex;
        font-weight: 400;
        margin-left: 8px;
        font-size: 0.9rem;
        font-style: italic;
        color: #999;
        white-space: nowrap;
        align-items: center;

        @media only screen and (max-width: $screen-lg) {
            margin: 0;
        }

        @media only screen and (max-width: $screen-sm) {
           display: none;
        }
    }

    &__swatchOptionIcon{
        width: 12px;
        height: 12px;
        margin: 0 4px 0 2px;
    }

    &__swatchValue{
        display: none;
        line-height: 1;
        text-align: left;
        margin-top: 5px;
        padding: 0 0 0 16px;
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        height: 14px;

        &:before{
            position: absolute;
            content: "";
            @include icon-check-mark($btn-color-green);
            width: 12px;
            height: 12px;
            top: 50%;
            left: 0;
            margin-top: (-12px/2);
        }
    }

    &__swatchRequestBtn{
        display: none;
        align-items: center;
        justify-content: center;
        align-content: center;
        line-height: 1;
        padding: 0;
        background-color: #fff;
        outline: none;

        &--collections{
            padding: 15px 20px;
            width: 100%;
            flex: 1 0 auto;
            line-height: 1;
            display: flex;
            background-color: #f2f2f2;
            justify-content: flex-start;
            align-content: center;
            align-items: center;
            border-radius: 3px;
            outline: none;

            &:hover{
                & *{
                    color: #555;
                    fill: #555;
                }
            }
        }

        &--pdp{
            display: none;
        }
    }


    &__swatchRequestIcon{
        width: 15px;
        height: 15px;
        fill: #3498db;

        &--collections{
            height: 55px;
            width: 55px;
            fill: #ccc;
        }

        &--pdp{
            fill: $btn-color-green
        }
    }


    &__swatchRequestText{
        font-size: .95rem;
        margin-left: 8px;
        line-height: 1;
        color: #3498db;
        border-bottom: 1px solid #3498db;

        &--collections{
            color: #777;
            text-decoration: none;
            border-bottom: none;
            margin: 0 0 0 20px;
            font-size: 1.3rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            @media only screen and (max-width: $screen-sm) {
                line-height: 1.4;
            }

            & span{
                text-align: left;
                margin-bottom: 5px;
                display: flex;
                line-height: 1;
                align-content: center;
                align-items: center;
                justify-content: space-between;

                @media only screen and (max-width: $screen-sm) {
                    font-size: 1.1rem;
                }

                & .icon{
                    height: 15px;
                    width: 30px;
                }
            }

            & small{
                font-size: 0.9rem;
                flex: 1 0 auto;

                @media only screen and (max-width: $screen-sm) {
                    text-align: left;
                    font-size: .7rem;
                }
            }
        }

        &--pdp{
            color: $btn-color-green;
            border-bottom: 1px solid $btn-color-green;
        }
    }


    &__swatchSelect{
        @extend .form-input;
        @extend .form-select;
        width: 100%;
    }
}