// PDP Collection pages


.product{

    &__collectionsCntr{
        width: 100%;
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;

        &--topSpace{
            margin-top: 100px;
        }
    }


    &__collections{
        display: flex;
        padding: 0 0 40px 0;
        // border-bottom: 1px solid #eee;
        padding-bottom: 20px;

        @media only screen and (max-width: $screen-md) {
            flex-direction: column;
        }

        &--sliderCntr{
            @extend .product__col-2-3--lg;
            float: left;

            @media only screen and (max-width: $screen-lg) {
                width: 60%;
            }

            @media only screen and (max-width: $screen-md) {
                width: 100%;
            }
        }

        &--customizeCntr{
            @extend .product__col-1-3--lg; 
            padding: 0 0 0 20px;
            float: left;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            @media only screen and (max-width: $screen-lg) {
                width: 40%;
            }

            @media only screen and (max-width: $screen-md) {
                padding: 40px 0 20px 0;
                width: 100%;
            }
        }
    }


    &__layoutSelections{
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        background-color: #f2f2f2;
        padding-bottom: 20px;
    }


    &__collectionSelection{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        @media only screen and (max-width: $screen-md) {
            flex-direction: column;
        }
    }

    &__collectionsFigure{
        @extend .product__figure;
        background-color: #fff;
        height: 200px;
    }

    &__collectionCartControls{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__collectionSelectedControls{
        display: flex;
        width: 60%;
        justify-content: center;
        flex-direction: row;
        padding-right: 20px;
        align-content: center;
        align-items: center;

        @media only screen and (max-width: $screen-md) {
            width: 100%;
        }

        @media only screen and (max-width: $screen-sm) {
            flex-wrap: wrap;
            padding-left: 20px;
        }
    }


}
