/* Product Detail Options */
.form-field-options {

    &--legacy{
        display: none;
        visibility: hidden;
    }
    

    .form-field-title{
        margin: 0;
    }

    .form-field-title-cntr {
        position: relative;
        float: none;
        margin-bottom: 0;
        text-transform: inherit;
        font-size: 1em;
        display: flex;
        align-items: center;
        justify-content: left;
        align-content: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;

        @media only screen and (max-width: $screen-sm) {
            font-size: 12px;
            padding-right: 20px;
            white-space: initial;
            display: flex;
        }

        .swatch-value {
            display: initial;
            text-transform: none;
            font-size: 1em;
            flex: 1 0 auto;
            width: 30%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            @media only screen and (max-width: $screen-sm) {
                // width: 100%;
                float: left;
            }

            &:after { content: '\00a0'; }
        }
        .required-text { display: none; }
    }
    &.form-required .form-field-title:before {
        content: '* ';
        color: #C00;
    }
}



.product-options-container {
    margin: 0;

    .form-inline-message{
        margin: 0;
        line-height: 1;
    }

    & .form-select{
        height: 70px !important;
        width: 100%;
        font-size: 1rem;
        font-weight: 800;
        margin: 10px 0;

        &:hover{
            box-shadow: 0 0 0 1px $clr-ocean inset !important;
        }
    }

    & .form-select-wrapper{
        width: 100%;

        &::after{
            width: 15px;
            height: 15px;
        }

        @media only screen and (max-width: $screen-sm) {
            width: 100%;
        }
    }

    & .form-field-options{
        margin-bottom: 15px;
        position: relative;
    }
}
