
/*Product Details Page Styles*/
.product-details {
    background-color: $color-background-pdp;
    // float: left;
    padding-bottom: 0;

    .breadcrumbs{
        margin: 0 0 20px 0;
    }
}

.product-details-wrapper{
    width: 100%;
    float: left;
}

.product-details-column {
    padding: 0 20px;
}

.product-row{
    @extend %span;
    @extend %span-1-1;
    text-align: center;
}


.product-images-container{
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.product-slides-container{
    max-height: 780px;
    width: 100%;
}

.js .product-slides-wrap, .js .product__sidesWrap{
    visibility: visible;
}

.product-images-pagination{
    justify-content: center;
    align-content: center;
    height: auto;
    flex: 0 0 auto;
    width: 100%;
    float: left;

    & .slick-slide img{
        height: 97px;
        width: 97px;
        object-fit: contain;
    }
}

.product-images-loader{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 10px;
    margin-top: -10px;
    padding: 0;
    width: 20px;
    height: 20px;
}

.product-grid-item{
    width: 325px;
    display: inline-block;
}

.product-trade{
    float: left;
    margin-top: 0;
    width: 100%;
}

.product-carousel{
    display: flex;
    flex-direction: row;
    width: 100%;
}


.product-slides-wrap a.product-image {
    position: relative;
    overflow: hidden;
    display: block;
    // height: 780px;

    &:nth-of-type(2){
        opacity: 0;
    }

    &.no-zoom { background-size: contain; }

    &::before {
        content: '';
        display: block;
        width: 100%;
        padding-top: 100%;
    }

    img {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        box-shadow: 0 0 0 50vmax #FFF;

        @supports (object-fit: contain) {
            top: 0;
            height: 100%;
            transform: none;
            object-fit: contain;
        }
    }
}

.product-images-pagination{
    .slick-track{
        display: flex;
    }

    .pagination-item--svg{
        width: 121px;
        display: flex;
        align-items: center;
        place-content: center;
        background-repeat: no-repeat;
        background-size: cover;

        & svg{
            fill: #fff;
        }
    }
}

.product-images-pagination-icon.slick-disabled { pointer-events: none; }

@media screen and (max-width: 767px) {
    .product-images-pagination {
        margin: 5em -0.375em 2em -0.375em;
    }
}

@media only screen and (max-width: $screen-md) {
    .product-images-pagination{
        display: none;
        visibility: hidden;
    }
}





.tmp-prod-details {
    // max-width: 1230px;
    margin: 0 auto;
}

h1.product-title {
    font-size: 1.6em;
    margin-bottom: 5px !important;
}


@media only screen and (max-width: $screen-md) {
    .product-title, .item-number{
        text-align: center;
    }
}

.item-number{
    font-size: .75rem !important;
    margin-bottom: 20px !important;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
}

.item-number-mobile{
    @media only screen and (max-width: $screen-sm) {
        text-align: center;
        width: 100%;
        justify-content: center;
    }
}



.price-range,
.item-number,
.shipping-range {
    margin: 0;
    font-size: 1em;    
}

.shipping-range{
    margin-top: 0;
    align-items: center;

    &--tip{
        margin-left: 10px;
    }
}

.price-range,
.item-number{
    font-size: 1.6em; 
}

.price-you-save{
    font-style: italic;
    font-size: .75rem;
    text-align: left;
    display: none;
}

.product-price-line{
    margin: 10px 0 0 0;
    display: flex;
    line-height: 1;
}

.product-price{
    margin-top: 20px;
    color: #2e3036;
}

.product-recomendation-pod, .product-carousel{
    & .product-price{
        margin-top: 3px;
    }

    & .product-item-title{
        font-size: 0.9rem;
        margin-bottom: 0;
    }
} 


.slick-slide .product-price-line, .product-grid-item .product-price-line{
    text-align: center;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.product-grid-item{
    & .lazy-image{
        height: 250px;
    }

    .product-item-thumbnail{
        width: auto;
        height: auto;
        max-width: inherit;
    }
}

.price-rrp{
    margin: 0 10px;
    order: 1;
}

.price-value{
    order: 0;
}

@media only screen and (max-width: $screen-md) {
    .price-range{
        font-size: 1.6rem;
        font-weight: 400;
    }

    .price-rrp{
        font-size: 1.6rem;
        // width: 100%;
        // display: block;
        opacity: 0.5;
        line-height: 1;
        font-weight: 400;
        flex: 0;
    }

    .price-value{
        font-size: 1.6rem;
        line-height: 1;
        flex: 0;
        order: 0;
        font-weight: 400;
    }

    .product-details .product-price{
        margin-top: 0;
    }
}

.pdp-promo-text {
    margin: 0;
    text-align: left;
    font-size: 1em;
    color: #cc2e2e;
    font-weight: 600;

    @media only screen and (max-width: $screen-md) {
        text-align: left;
        margin-bottom: 1.5rem;
    }
}

ul.highlight-group {
    margin: 10px 0 15px 15px;;

    li {
        list-style-type: disc;
        font-size: .85em;
    }
}


.product-price .shipping-range {
    font-size: .5em;
}

@media screen and (max-width:770px) {
    .product-price .shipping-range {
        font-size: 1rem;
        padding-bottom: 15px;
        font-weight: normal
    }
}

.pdp-shadow {
	display: none;
}

.free-shipping-text {
    margin: 30px 0 0 0;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;

    @media screen and (max-width:770px) {
        font-size: 1rem;
        font-weight: 600;
        margin-top: 20px;
    }

    &--link{
      display: flex;
      align-items: center;
      align-content: center;
      line-height: 1.5;
      text-decoration: none;


      &:hover{
          color: inherit;
      }
    }
}

.product-item-details--review{
    padding: 0 10px;
}

.product-rv-carousel{
    & .carousel-navigation-item{
        display: block !important;

        & .icon{
            fill: #111;
            height: 84px;
            width: 35px;
        }
    }
}

.product-quantity-submit .add-to-cart{
    width: 55%;
    margin: 15px 0 !important;

    @media screen and (max-width: $screen-md){
        width: 100%;
    }
}

@media screen and (max-width: 1024px){
    .product-details .add-to-cart {
        display: block;
        margin: 0 auto;
        width: 100%;
        float: none;
    }
}

@media screen and (max-width: $screen-md){
    .product-details .add-to-cart {
        font-weight: 800;
    }
}


// showroom
.showroom-block{
    display: flex;
    align-items: center;
    align-content: center;

    span{
        height: 35px;
    }

    p {
        line-height: 1.4;
    }

    svg{
        margin: 0;
        height: 35px;
    }
}

.add-to-cart-form{
    .shipping-range{
        @media screen and (min-width: $screen-xl){
            display: none
        }
    }
}