.product{
    // modal
    &__modal{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 999;
    }

    &__modalDialog{
        @extend .toolTip__cntr;
        margin-top: 5vh;
        top: auto;
        width: 90vw;
        margin-left: -(90vw/2);
        height:90vh;
        max-height: none;

        &--success{
            width: 60vw;
            margin-left: -(60vw/2);
            height: auto;
            top: 50%;
            margin-top: -20vh;
        }
    }

    &__modalDialogCntr{
        display: flex;
        flex-direction: column;
    }

    &__closeBtn{
        @extend .toolTip__closeBtn;
        @extend .toolTip__closeBtn--whiteBack;
        z-index: 9999;
        right: 38px;
        top: 20px;
        outline: none;

        & .icon{
            fill: #555;
            width: 50px;
            height: 50px;
        }
    }

    &__modalOverlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(35, 35, 35, 0.22);
        z-index: 999;
    }

    &__modalHeading{
        width: 100%;
        padding: 20px;
        float: left;

        @media only screen and (max-width: $screen-sm) {
            padding: 0 0 20px 0;
        }
    }

    &__modalTitle{
        padding-bottom: 10px;
        margin: 0;
        border-bottom: 1px solid #ccc;
        line-height: 1;
        text-transform: capitalize;

        @media only screen and (max-width: $screen-sm) {
            font-size: 1.8rem !important;
        }

        &--2{
            margin: 0;
            font-size: 2.4rem;

            @media only screen and (max-width: $screen-sm) {
                margin-bottom: 20px;
            }
        }

        &--3{
            margin: 0;
            font-size: 1.2rem;
            height: 100%;
            display: flex;
            align-items: center;

            @media only screen and (max-width: $screen-sm) {
                font-size: 1.1rem;
            }
        }

        &--4{
            margin: 0 0 5px 0;
            font-weight: 800;
            font-style: normal;
            font-size: 1rem;
        }
    }

    &__modalImg{
        height: 200px;
        object-fit: contain;
    }

    &__modalControl{
        display: flex;
        flex-direction: column;
        padding: 0 20px;

        @media only screen and (max-width: $screen-sm) {
            padding: 0 0 20px 0 !important;
        }

        &--row{
            flex-direction: row;
            align-items: center;
        }
    }

    &__modalFieldset{
        @extend .product__col-1-2;
        border: 0;
        margin: 0;

        @media only screen and (max-width: $screen-sm) {
            width: 100%;
        }
    }

    &__modalOutput{
        padding-left: 20px;
        font-weight: 800;
    }

    &__modalControlGroup{
        display: flex;
        padding: 20px 0;

        @media only screen and (max-width: $screen-sm) {
            flex-direction: column;
            padding: 0 0 20px 0 !important;
        }
    }

    &__modalControlForm{
        padding: 20px 0 0 0;
        display: flex;
        flex-direction: column;
    }

    &__modalControlLabel{
        font-size: 1.6rem;
        margin-bottom: 10px;
        line-height: 1;
        display: inline-flex;
        align-content: center;
        flex-direction: row;

        &--small{
            font-size: 1.2rem;

        }
    }

    &__modalControlInput{
        padding: 20px;
        box-shadow: 0 0 0 1px #ccc inset;
        border: none;
        border-radius: $border-radius;

        &::placeholder{
            color: #aaa;
        }

        &--textarea{
            height: 100%;

            @media only screen and (max-width: $screen-sm) {
                height: 200px;
            }
        }
    }

    &__modalHelpList{
        margin-top: 15px;

        & li{
            font-size: .9rem;
            line-height: 1.3;
            margin-bottom: 12px;

            &:last-of-type{
                margin: 0;
            }
        }
    }

    &__modalControlHelp{
        font-size: 0.9rem;
        margin: 10px 0 0 0;
        line-height: 1.4;
    }

    &__modalSubmitBtn{
        @extend .button;
        @extend .button-primary; 
        @extend .button-primary--ocean; 
        @extend .button--fullWidth;
        height: 62px;
    }
}
