{{#partial "page"}}

  <header class="cart-header">
    <h1 class="cart-title">
      {{lang 'cart.title_cart'}} {{#if cart.items}}&nbsp; | &nbsp; {{cart.quantity}} Items{{/if}}
    </h1>
  </header>


  <section class="product-listing section">
    <div class="container cart__container">

      {{#if cart.items}}
        <div class="cart__content" data-cart-content>
          {{> components/cart/content cart_icon=theme_settings.cart_icon }}
          {{> components/header/shipping-messages}}
        </div>

        <div class="cart__totals" data-cart-totals>
          <p class="cart__promoMsg">{{lang 'cart.free_shipping_message'}}</p>
          {{> components/cart/totals}}
        </div>
      {{else}}


        <div class="cart-empty">
          <h2>
            {{#if ../theme_settings.cart_icon '==' 'bag'}}
              {{lang 'cart.empty_bag'}}
            {{else}}
              {{lang 'cart.empty_cart'}}
            {{/if}}
          </h2>
          <!-- <a href="{{urls.home}}" class="button">{{lang 'cart.keep_shopping'}}</a> -->
        </div>
      {{/if}}

      {{{snippet 'cart'}}}
    </div>
  </section>

  {{> components/cart/customizations/modal-edit }}

{{/partial}}
{{> layout/base}}
