{{#partial "page"}}
<header class="cart-header page-header">
	<h1 class="cart-title page-title">
		{{#if theme_settings.cart_icon '==' 'bag'}}
		{{lang 'cart.title_bag'}}
		{{else}}
		{{lang 'cart.title_cart'}}
		{{/if}}
	</h1>

	{{> components/header/shipping-messages}}
</header>


<section class="product-listing section">
	<div class="container">
		{{#if cart.items}}
		<div data-cart-content>
			{{> components/cart/content cart_icon=theme_settings.cart_icon }}
		</div>

		<div class="cart-totals" data-cart-totals>
			{{> components/cart/totals}}
		</div>

		{{else}}
		<div class="cart-empty">
			<h2>
				{{#if ../theme_settings.cart_icon '==' 'bag'}}
					{{lang 'cart.empty_bag'}}
				{{else}}
					{{lang 'cart.empty_cart'}}
				{{/if}}
			</h2>
		</div>
		{{/if}}

		{{{snippet 'cart'}}}
	</div>
</section>

<p>&nbsp;</p>
<p>&nbsp;</p>
<hr style="height:1px" />

<div class="cart-totals-column cart-totals-column--rv">
	<section class="products-related products-recently-viewed section" id="recentlyViewedProducts">
		<div class="container">
			<h3 class="section-title">{{lang 'product.recently_viewed_products_heading'}}</h3>
			<div class="product-grid product-rv-carousel"></div>
		</div>
	</section>
</div>

{{> components/cart/customizations/modal-edit }}

{{/partial}}
{{> layout/base}}