---
product:
  reviews:
    limit: {{theme_settings.product-single-reviews-count}}
  videos:
    limit: {{theme_settings.product-single-videos-count}}
  related_products:
    limit: {{theme_settings.product-single-related-count}}
brands: true
---

{{#partial "page"}}
  {{> components/products/product-single-details
    cart_icon=theme_settings.cart_icon
  }}
  {{> components/products/product-single-tabs-atmo}}

  {{#if product.related_products.length}}
    <section class="products-related section hide" id="recommendedProducts">
      <div class="container">
        <h3 class="section-title">{{lang 'product.related_products_heading'}}</h3>
        <div class="product-grid product-carousel"></div>
      </div>
    </section>

    <script type="application/json" id="relatedProductIDs">
    [{{#each product.related_products}}{{id}}{{#unless @last}}, {{/unless}}{{/each}}]
    </script>
  {{/if}}


  <section class="products-related products-recently-viewed section" id="recentlyViewedProducts">
    <div class="container">
      <h3 class="section-title">{{lang 'product.recently_viewed_products_heading'}}</h3>
      <div class="product-grid product-rv-carousel"></div>
    </div>
  </section>

  {{> core/structured-data/product}}
  {{> core/structured-data/product-reviews}}

  {{> components/products/customizations/modal-cart }}
{{/partial}}

{{> layout/base}}
