---
product:
  reviews:
    limit: {{theme_settings.product-single-reviews-count}}
  videos:
    limit: {{theme_settings.product-single-videos-count}}
  related_products:
    limit: {{theme_settings.product-single-related-count}}
brands: true
---

{{#partial "page"}}
  {{> components/products/product-single-details
    cart_icon=theme_settings.cart_icon
  }}
  {{> components/products/product-single-tabs-atmo}}

  {{#if product.related_products.length}}
    <section class="products-related section">
      <div class="container">
        <h3 class="section-title">{{lang 'product.related_products_heading'}}</h3>
        <div class="product-grid product-carousel">
          {{#each product.related_products}}
            {{> components/products/product-grid-item
              this
              show_rating=../settings.show_product_rating
              default_image=../theme_settings.default_image
            }}
          {{/each}}
        </div>
      </div>
    </section>
  {{/if}}

<div class="yotpo yotpo-main-widget" 
data-product-id="{{ product.id }}"
data-price="{{> components/products/customizations/non-sale-price-value-fixed price=product.price}}"
data-currency="{{ currency_selector.active_currency_code }}" 
data-name="{{ product.title }}" 
data-url="{{ product.url }}" 
data-image-url="{{getImage product.main_image}}" 
data-description="{{ product.description }}"
id="yotpoReviews"> 
</div>

  {{> core/structured-data/product}}
  {{> core/structured-data/product-reviews}}

  {{> components/products/customizations/modal-cart }}
{{/partial}}

{{> layout/base}}
