<!doctype html>
<html amp class="no-js" lang="{{ locale_name }}">

<head>
<meta charset="utf-8">
<script async src="https://cdn.ampproject.org/v0.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
<title>{{ chop head.title }}</title>
{{{ head.meta_tags }}}
{{{ head.config }}}
{{#block 'head'}} {{/block}}
<link href="{{ head.favicon }}" rel="shortcut icon">
<link href="https://fonts.googleapis.com/css?family=Karla:400|Roboto:400" rel="stylesheet">
{{#block 'amp-style'}} {{/block}}
{{{head.rsslinks}}}
{{inject 'themeSettings' theme_settings}}
{{inject 'genericError' (lang 'common.generic_error')}}
{{inject 'maintenanceMode' settings.maintenance}}
{{inject 'urls' urls}}
{{{snippet 'htmlhead'}}}
<script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
<script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
<script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
{{#if settings.amp_analytics_id}}
  <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
{{/if}}
{{#block 'amp-scripts'}}{{/block}}

 {{{head.scripts}}}
 {{{snippet 'html_head'}}}
 <!-- <script async custom-element="amp-script" src="{{cdn '/assets/js/bundle.js'}}"></script> -->
 <script async custom-element="amp-script" src="https://cdn11.bigcommerce.com/s-r14v4z7cjw/stencil/864476d0-e542-0137-f1ab-0242ac11000d/e/c1f0e130-e20e-0137-c404-0242ac11000e/js/bundle.js"></script>

</head>

<body class="{{> components/common/body-classes}}">


	<div class="site-wrapper">

      <div class="site-canvas">
          <div class="on-canvas">
            <main class="main-content">
              {{#block 'page'}} {{/block}}
            </main>
          </div>

          {{> components/header/customizations/navigation-mobile}}
        </div>

    </div>
    
<div class="icons-svg-sprite">{{> components/common/icons/icon-defs}}</div>

<script type=text/plain target=amp-script id="">	
	window.stencilBootstrap("{{template_file}}", {{ jsContext }}).load();

	document.addEventListener('DOMContentLoaded', function(){
		// tool tip start
		window.TEAK.Modules.toolTip.init({
			type: "brand",
			name: "{{product.brand.name}}"
		});
	});
</script>

</body>
</html>

