<nav class="navigation">
    <ul>
        <li>
            <a href="{{url}}/about-us" title="About Authenteak">About Us</a>
        </li>
        <li>
            <a href="{{url}}/careers" title="Explore Careers">Careers</a>
        </li>
        <li>
            <a href="{{url}}/testimonials/" title="Customer Testimonials">Testimonials</a>
        </li>
        <li>
            <a href="{{url}}/commercial-and-hospitality-outdoor-design" title="Commercial and Outside design">Contract Projects</a>
        </li>
        <li>
            <a href="{{url}}/to-the-trade" title="Trade program">Join Our Trade Program</a>
        </li>
        <li>
            <a href="{{url}}/press/" title="Press releases">Press &amp; Awards</a>
        </li>
        <li>
            <a href="{{url}}/authenteak-atlanta-showroom-specials" title="Promotions">Sales &amp; Promotions</a>
        </li>
    </ul>
</nav>
