<nav class="navigation">
    <ul>
        <li>
            <a href="{{url}}/about-us/">About Us</a>
        </li>
        <li>
            <a href="{{url}}/careers/">Careers</a>
        </li>
        <li>
            <a href="{{url}}/testimonials/">Testimonials</a>
        </li>
        <li>
            <a href="{{url}}/commercial-and-hospitality-outdoor-design/">Contract Projects</a>
        </li>
        <li>
            <a href="{{url}}/trade/">Join Our Trade Program</a>
        </li>
        <li>
            <a href="{{url}}/press/">Press &amp; Awards</a>
        </li>
        <li>
            <a href="{{url}}/authenteak-atlanta-showroom-specials/">Sales &amp; Promotions</a>
        </li>
    </ul>
</nav>
