<nav class="navigation">
    <ul>
        <li>
            <a href="{{url}}/account.php?action=order_status">Check Order Status</a>
        </li>
        <li>
            <a href="{{url}}/account.php">My Account</a>
        </li>
        <li>
            <a href="{{url}}/contact-us/">Contact Us</a>
        </li>
        <li>
            <a href="{{url}}/faqs/">FAQs</a>
        </li>
        <li>
            <a href="{{url}}/policies/">Return Policy</a>
        </li>
        <li>
            <a href="{{url}}/shipping/">Shipping</a>
        </li>
    </ul>
  </nav>
