<nav class="navigation">
    <ul>
        <li>
            <a href="{{url}}/affirm" title="Affirm Financing">Affirm Financing</a>
        </li>
        <li>
            <a href="{{url}}/account.php?action=order_status" title="Order status">Check Order Status</a>
        </li>
        <li>
            <a href="{{url}}/account.php" title="Account information">My Account</a>
        </li>
        <li>
            <a href="{{url}}/contact-us" title="contact our offices">Contact Us</a>
        </li>
        <li>
            <a href="{{url}}/frequently-asked-questions" title="Got Questions">FAQs</a>
        </li>
        <li>
            <a href="{{url}}/policies" title="Returns">Return Policy</a>
        </li>
        <li>
            <a href="{{url}}/shipping" title="shipping information">Shipping</a>
        </li>
    </ul>
  </nav>
