<footer class="footer">
    <div class="footer__upper">
        <a href="/" class="footer__logo" title="authenteak.com">
            <img class="footer__logo" width="200" height="32" src="https://authenteak.s3.us-east-2.amazonaws.com/Logo_Grey_Green.svg" alt="{{settings.store_logo.title}}">
        </a>
        <a href="" class="footer__callOut" title="">
            <svg class="" width="30" height="30"><use xlink:href="#icon-heart11" /></svg>
            <span class="footer__callText">Store Locator<br/>Atlanta Showroom</span>
        </a>
        <a href="/blog/" class="footer__callOut" title="">
            <svg class="" width="30" height="30"><use xlink:href="#icon-heart11" /></svg>
            <span class="footer__callText">Get Inspired:<br/>Check out our blog</span>
        </a>
        <a href="tel:1-866-360-8325" title="calls us" class="footer__callOut" title="">
            <svg class="" width="30" height="30"><use xlink:href="#icon-heart11" /></svg>
            <span class="footer__callText">Call Us:<br/>1-866-360-8325</span>
        </a>
        <button type="button" onclick="javascript:$zopim.livechat.window.show()" title="calls us" class="footer__callOut" title="">
            <svg class="" width="30" height="30"><use xlink:href="#icon-heart11" /></svg>
            <span class="footer__callText">Launch Live Chat<br/><small>Status</small></span>
        </button>
    </div>
    
    <div class="footer__main">
        <ul class="footer__list">
            <li class="footer__item footer__item--heading">
                <h3 class="footer__listHeading">Customer Service</h3>
            </li>
            <li class="footer__item">
                <a href="/account.php" class="footer__listLink" title="">My Account</a>
            </li>
            <li class="footer__item">
                <a href="/account.php?action=order_status/" class="footer__listLink" title="">Track My Order</a>
            </li>
            <li class="footer__item">
                <a href="https://authenteak.zendesk.com/hc/en-us" class="footer__listLink" title="">FAQs</a>
            </li>
            <li class="footer__item">
                <a href="/affirm" class="footer__listLink" title="">Affirm Financing</a>
            </li>
            <li class="footer__item">
                <a href="/policies" class="footer__listLink" title="">Return Policy</a>
            </li>
            <li class="footer__item">
                <a href="/shipping/" class="footer__listLink" title="">Shipping</a>
            </li>
            <li class="footer__item">
                <a href="/design-services/" class="footer__listLink" title="">Free Design Services</a>
            </li>
        </ul>


        <ul class="footer__list">
            <li class="footer__item footer__item--heading">
                <h3 class="footer__listHeading">About</h3>
            </li>
            <li class="footer__item">
                <a href="/store-locator" class="footer__listLink" title="">Store Locator</a>
            </li>
            <li class="footer__item">
                <a href="/atlanta-outdoor-furniture-showroom" class="footer__listLink" title="">Hours and Locations</a>
            </li>
            <li class="footer__item">
                <a href="/careers" class="footer__listLink" title="">Careers</a>
            </li>
            <li class="footer__item">
                <a href="/covid19-update/" class="footer__listLink" title="">COVID-19 Information</a>
            </li>
            <li class="footer__item">
                <a href="/about-us" class="footer__listLink" title="">Our Story</a>
            </li>
            <li class="footer__item">
                <a href="" class="footer__listLink" title="">Newsletter</a>
            </li>
            <li class="footer__item">
                <a href="" class="footer__listLink" title="">Report A Bug</a>
            </li>
        </ul>


        <ul class="footer__list">
            <li class="footer__item footer__item--heading">
                <h3 class="footer__listHeading">Resources</h3>
            </li>
            <li class="footer__item">
                <a href="/catalogs" class="footer__listLink" title="">Catalogs</a>
            </li>
            <li class="footer__item">
                <a href="/furniture-care" class="footer__listLink" title="">Furniture Care</a>
            </li>
            <li class="footer__item">
                <a href="/warranties" class="footer__listLink" title="">Warranties</a>
            </li>
            <li class="footer__item">
                <a href="" class="footer__listLink" title="/blog/">Blog</a>
            </li>
            <li class="footer__item">
                <a href="/privacy-policy" class="footer__listLink" title="">Privacy Policy</a>
            </li>
            <li class="footer__item">
                <a href="/sitemap" class="footer__listLink" title="">Site Map</a>
            </li>
        </ul>


        <ul class="footer__list">
            <li class="footer__item footer__item--heading">
                <h3 class="footer__listHeading">Contact Us</h3>
            </li>
            <li class="footer__item">
                <a href="/contact-us" class="footer__listLink" title="Visit category">Contact Us</a>
            </li>
            <li class="footer__item">
                <a href="tel:1-866-360-8325" class="footer__listLink" title="">1-866-360-8325</a>
            </li>
            <li class="footer__item footer__item--social">
                <h3 class="footer__listHeading">Follow Us</h3>
            </li>
            <li class="footer__item footer__item--socialLinks">
                <a href="" class="footer__socialLink">
                    <svg class="" width="30" height="30"><use xlink:href="#icon-heart11" /></svg>
                </a>
                <a href="" class="footer__socialLink">
                    <svg class="" width="30" height="30"><use xlink:href="#icon-heart11" /></svg>
                </a>
                <a href="" class="footer__socialLink">
                    <svg class="" width="30" height="30"><use xlink:href="#icon-heart11" /></svg>
                </a>
                <a href="" class="footer__socialLink">
                    <svg class="" width="30" height="30"><use xlink:href="#icon-heart11" /></svg>
                </a>
            </li>
        </ul>

    </div>

    <div class="footer__lower">
        <div class="footer__seal">
            {{> core/geotrust-ssl-seal}}
        </div>
        <div class="footer__legal">
            <small class="footer__legalCopy">&copy; 2004 - <span id="footerCurrentYear"></span> AuthenTEAK, LLC.</small>
            <small class="footer__legalCopy">Accepted Payment Methods: Visa, Mastercard, American Express, Discover, Amazon Pay, PayPal, Affirm Financing</small>
        </div>
    </div>
</footer>