<nav class="navigation">
    <ul>
        <li>
            <a href="{{url}}/store-locator/">Store Locator</a>
        </li>
        <li>
            <a href="{{url}}/catalogs/">Catalogs</a>
        </li>
        <li>
            <a href="{{url}}/furniture-care/">Furniture Care</a>
        </li>
        <li>
            <a href="{{url}}/warranties/">Warranties</a>
        </li>
        <li>
            <a href="{{url}}/blog/">Blog</a>
        </li>
        <li>
            <a href="{{url}}/privacy-policy/">Privacy Policy</a>
        </li>
        <li>
            <a href="{{url}}/sitemap/">Site Map</a>
        </li>
    </ul>
</nav>
