<nav class="navigation">
    <ul>
        <li>
            <a href="{{url}}/atlanta-outdoor-furniture-showroom" title="Atlanta Outdoor showroom">Atlanta Showroom</a>
        </li>
        <li>
            <a href="{{url}}/store-locator" title="find a store">Store Locator</a>
        </li>
        <li>
            <a href="{{url}}/catalogs" title="view our catalog">Catalogs</a>
        </li>
        <li>
            <a href="{{url}}/furniture-care" title="take care of your Furniture">Furniture Care</a>
        </li>
        <li>
            <a href="{{url}}/warranties" title="warranties and info">Warranties</a>
        </li>
        <li>
            <a href="{{url}}/blog/" title="blog articles">Blog</a>
        </li>
        <li>
            <a href="{{url}}/privacy-policy" title="your Privacy">Privacy Policy</a>
        </li>
        <li>
            <a href="{{url}}/sitemap" title="sitemap">Site Map</a>
        </li>
    </ul>
</nav>
