<div class="geotrust-ssl-seal-table" title="{{lang 'core.geotrust.click_to_verify'}}" style="border:0; padding: 2px; width:135px">
  <script async src="https://seal.geotrust.com/getgeotrustsslseal?host_name={{theme_settings.geotrust-ssl-common-name}}&amp;size={{theme_settings.geotrust-ssl-seal-size}}&amp;lang={{locale_name}}"></script><br />
  <a href="http://www.geotrust.com/ssl/" title="=GeoTrust: click to verify" target="_blank" style="color:#000000; text-decoration:none; font:bold 7px verdana,sans-serif; letter-spacing:.5px; text-align:center; margin:0px; padding:0px;">GeoTrust</a>
</div>
