<table class="footer__seal" border="0" cellpadding="2" cellspacing="0" title="Click to Verify - This site chose Symantec SSL for secure e-commerce and confidential communications.">
    <tr>
        <td width="135" align="center" valign="top">
            <script src="https://seal.websecurity.norton.com/getseal?host_name=authenteak.com&amp;size=L&amp;use_flash=NO&amp;use_transparent=No&amp;lang=en"></script>
            <br />
            <a href="https://www.websecurity.digicert.com/ssl-certificate" target="_blank" class="footer__sealLink">
                ABOUT SSL CERTIFICATES
            </a>
        </td>
    </tr>
</table>