.modal-cart {
    display: none;

    &.is-open{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;

        &__inner { 
            display: flex;
        }
    }


    &__inner {
        display: flex;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-height: 100%;
        width: 90vw;
        max-width: 1000px;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 0 1rem 1rem;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        background: #fff;
        z-index: 1100;
        padding: 20px;
        border-radius: $border-radius;

        @media screen and (max-width: 767px) {
            top: 1vh;
            left: 1vw;
            transform: none;
            max-height: 98vh;
            width: 95vw;
        }
    }

    &__cntr{
        display: flex;
        flex-direction: row;
        width: 100%;

        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            float: left;
            display: block;
        }

        @media only screen and (max-width: $screen-sm) {
            flex-direction: column-reverse;
        }
    }

   

    h2 {
        margin: 0;
        text-transform: uppercase;
        font-size: calc(1vw + .80rem);
        font-weight: bold;
    }

    h3 {
        margin: 1.5rem 0 0;
        font-size: 1rem;
    }

    p {
        font-size: 0.8rem;
        line-height: 1.1em;
    }

    &__top-bar {
        width: 100%;
        position: relative;
        padding: 0 10px;
        z-index: 1;

        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            float: left;
            display: block;
            width: 100%;
        }
    }

    &__close {
        position: absolute;
        top: -10px;
        right: 0;
        height: 2rem;
        width: 2rem;
        padding: 0;
        font-size: 2rem;
        line-height: 1em;
        text-align: center;
        background: transparent;
        color: rgba(0,0,0,0.2);
        cursor: pointer;

        &:hover, &:focus { color: rgba(0,0,0,0.4); }

        svg{
            fill: #797979;
        }
        
    }

    &__title{
        margin: 0 !important;
        width: 100%;
    }

    &__contents {
        display: flex;
        align-items: top;
        justify-content: center;
        color: #000;

        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            flex: 0 0 !important;
            width: 60%;
            float: left;
            display: block;
        }

        .mini-cart-item {
            width: 100%;

            &, &:hover {
                background: transparent;
                color: #000;
            }

            .mini-cart-item-wrap {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                padding: 0.5rem 0;

                > * {
                    display: block;
                    flex: 0 0 100px;
                }

                .mini-cart-item-description {
                    flex: 1 0 200px;
                    padding-left: 10px;
                    display: flex;
                    align-items: center;
                    align-content: center;
                    justify-content: center;
                    flex-direction: column;

                    .mini-cart-item-title {
                        line-height: 1.1em;
                        width: 100%;
                    }

                    .option-value {
                        display: block;

                        &:after { display: none; }
                    }
                }

                .mini-cart-item-options{
                    width: 100%;
                }

                .mini-cart-item-price {
                    flex: 1 0 100%;
                    display: none;
                }
            }
        }

        .mini-cart-item-actions { display: none; }

        @media screen and (min-width: 768px) {
            flex: 1 0 400px;

            .mini-cart-item .mini-cart-item-wrap {
                padding: 25px;
            }
        }

        .mini-cart-item-thumb {
            width: 100px;
            padding-bottom: 100px;
        }
    }

    &__summary {
        flex: 1 0 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1.5rem;
        // background: #e6e9ef;
        color: #000;
        text-align: center;
        border-left: 1px solid #ccc;

        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            flex: 0 0 !important;
            width: 40%;
            float: left;
            display: block;
        }

        @media only screen and (max-width: $screen-sm) {
            border-left: none;
            border-bottom: 1px solid #ccc;
        }
    }

    &__item{
        width: 100%;
    }

    &__item-list{
        width: 100%;
        display: flex;
        align-items: center;
    }

    &__subtotal { margin: 0 0 1.5rem; }

    &__subtotal-value {
        display: block;
        font-size: 2rem;
        line-height: 1.1em;
    }

    &__count { margin: 0 0 0.5rem; }

    &__summary .button-cart {
        display: block;
        width: 100%;
    }

    &__marketing {
        text-align: center;
        &:not(:empty) { margin-top: 1.5rem; }

        &--footer { 
            width: 100%;

            & .modal-cart-footerHeader{
                font-size: 1.4rem;
                border-top: 1px solid #ccc;
                padding: 20px 0 10px 0;
                margin: 0;
                text-transform: uppercase;
            }
           
            & .modal-cart-footerCntr{
                display: flex;
                flex-direction: row;
            }

            & .product-grid-item{
                width: 25% !important;
                float: left;
                // flex: 1 0 auto;
                margin-right: 10px;

                @media only screen and (max-width: $screen-md) {
                    width: 50% !important;
                }

                &:last-of-type{
                    margin-right: 0;
                }

                & .lazy-loaded{
                    & .spinner{
                        display: none;
                    }
                }

                & .lazy-image{
                    height: 100px !important;
                }
            }
        }

        &--summary{
            display: none;
        }
    }

    &__edit-product,
    &__actions {
        flex: 1 0 100%;

        .form-field-control-wrapper {
            $swatch-wrapper-base: 238px;
            $swatch-wrapper-inc: 55px;

            clear: left;
            max-height: 130px;
            max-width: $swatch-wrapper-base;
            overflow: hidden;
            border: 1px solid transparent;
            border-radius: 4px;
            box-shadow: 0 0 0 1px $color-border inset;

            // @media screen and (min-width: 915px){
            //     max-height: auto;
            // }

            @media screen and (min-width: 420px) { max-width: $swatch-wrapper-base + (1 * $swatch-wrapper-inc); }
            @media screen and (min-width: 530px) { max-width: $swatch-wrapper-base + (2 * $swatch-wrapper-inc); }
            @media screen and (min-width: 475px) { max-width: $swatch-wrapper-base + (3 * $swatch-wrapper-inc); }
            @media screen and (min-width: 585px) { max-width: $swatch-wrapper-base + (4 * $swatch-wrapper-inc); }
            @media screen and (min-width: 640px) { max-width: $swatch-wrapper-base + (5 * $swatch-wrapper-inc); }
            @media screen and (min-width: 695px) { max-width: $swatch-wrapper-base + (6 * $swatch-wrapper-inc); }
            @media screen and (min-width: 750px) { max-width: $swatch-wrapper-base + (7 * $swatch-wrapper-inc); }
            @media screen and (min-width: 805px) { max-width: $swatch-wrapper-base + (8 * $swatch-wrapper-inc); }
            @media screen and (min-width: 860px) { max-width: $swatch-wrapper-base + (9 * $swatch-wrapper-inc); }
            @media screen and (min-width: 915px) { max-width: $swatch-wrapper-base + (10 * $swatch-wrapper-inc); }
            @media screen and (min-width: 970px) { max-width: $swatch-wrapper-base + (11 * $swatch-wrapper-inc); }
            @media screen and (min-width: 1025px) { max-width: $swatch-wrapper-base + (12 * $swatch-wrapper-inc); }
        }

        .form-field-swatch__request-button { display: none; }
    }

    &__actions {
        margin-top: 1.5em;
        display: flex;
        flex-direction: row;

        .button {
            flex: 1 0 auto;
        }
    }



    &__underlay {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.4);
        z-index: 1099;
    }

    &.is-open &__underlay { display: block; }
}
