.stickyCart{
    min-height: 90px;
    width: 100%;
    flex: 1 0 auto;
    display: flex;

    &--contains{
        height: 132px;

        @media only screen and (max-width: $screen-sm) {
            height: auto !important;
        }
    }

    &__row{
        display: flex;
        flex-direction: column;
        width: 100%;
        flex: 1 0 auto;
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        background-color: #fff;
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, .29);
        height: 90px;
        padding: 0 2vw 0 2vw;
        margin-bottom: 5px;

        &--contains{
            height: auto;
        }

        &--static{
            box-shadow: none;
            position: static;
            padding: 0;

            @media only screen and (max-width: $screen-sm) {
                & .stickyCart__titleCntr{
                    display: block;
                }
            }
        }
    }

    &__cntr{
        display: flex;      
        width: 100%;
        flex: 1 0 auto;
        height: 90px;   
    }

    &__headerCntr{
        @extend .product__headerCntr;
        padding: 10px 0 10px 0;
        width: 80%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        @media only screen and (max-width: $screen-lg) {
            width: 50%;
        }

        @media only screen and (max-width: $screen-sm) {
            width: 25%;
            text-align: center;
        }
    }

    &__title{
        font-size: 1.4rem;
        margin: 0;
        line-height: 1;
        text-align: left;

        @media only screen and (max-width: $screen-lg) {
            font-size: 1.3rem;
        }

        @media only screen and (max-width: $screen-sm) {
            width: 100%;
            font-size: 1.1rem;
        }
    }

    &__titleCntr{
        width: 70%;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        @media only screen and (max-width: $screen-sm) {
            width: 100%;
        }
    }


    &__close{
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        line-height: 1;
        padding: 5px 8px;
        background-color: transparent;

        & .icon{
            width: 25px;
            height: 25px;
        }
    }

    &__atcBtn{
        @extend .button;
        @extend .button-primary;
        @extend .button-wide;
        @extend .button-primary--ocean;
        display: flex !important;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 13px 3em;
        position: relative;

        @media only screen and (max-width: $screen-lg) {
            padding: 13px 1.5em;
        }

        @media only screen and (max-width: $screen-sm) {
            // padding: 0;
            font-size: .8rem;
            width: 100px;
        }

        & .icon{
            width: 20px;
            height: 20px;
            margin: 0 10px 0 0;
            position: static;

            @media only screen and (max-width: $screen-sm) {
                margin: 0;
            }
        }

        & .icon-arrow-right{
            margin: 0 0 0 10px;
        }
    }

    &__atcBtnText{
        @media only screen and (max-width: $screen-sm) {
            display: none;
        }
    }

    &__desc{
        line-height: 1;
        margin: 3px 0 0 0;
        text-align: left;
        font-size: .8rem;

        @media only screen and (max-width: $screen-lg) {
            font-size: .8rem;
            line-height: 1.2;
        }

        @media only screen and (max-width: $screen-sm) {
            display: none;
        }
    }

    &__figure{
        @extend .product__figure;

        @media only screen and (max-width: $screen-sm) {
            padding: 10px !important;
        }
    }

    &__figImg{
        @extend .product__figImg;
    }

    &__priceCntr{
        padding: 10px 0 10px 0;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        @media only screen and (max-width: $screen-lg) {
            width: 50%;
        }

        @media only screen and (max-width: $screen-sm) {
            width: 75%;
        }
    }

    &__price{
        font-size: 1.8rem;
        padding-right: 10%;
        border-right: 1px solid #ccc;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        line-height: 1;

        @media only screen and (max-width: $screen-sm) {
            padding-right: 5%;
        }
    }

    &__priceSub{
        font-size: 0.8rem;
        line-height: 1;
        color: #999;
        width: 100%;
        flex: 1 0 auto;
        text-align: center;
        padding-bottom: 3px;
    }

    &__itemList{
        @extend .toaster__itemList;
        width: 100%;
        padding: 8px 0 8px 20px;
        height: auto;
        border-top: 1px solid #eee;

        @media only screen and (max-width: $screen-sm) {
            height: auto !important;
            padding-left: 0;
            justify-content: flex-start;
        }
    }

    &__itemQty{
        margin-right: 8px;
        color: #777;
    }

    &__itemButton{
        display: flex;
        background-color: transparent;
        justify-content: center;
        align-content: center;
        position: relative;
        outline: transparent;

        &:hover{
            &:before{
                position: absolute;
                content: "×";
                font-size: 2rem;
                line-height: 1;
                top: -14px;
                right: 5px;
                color: #e74c3c;
                z-index: 2;
            }
        }

        @media only screen and (max-width: $screen-sm) {
            padding: 0;
        }
    }

    &__item{
        @extend .toaster__item;
        justify-content: center;
        align-content: center;

        &--label{
            margin: 0 10px;

            &:after{
                display: none;
            }

            @media only screen and (max-width: $screen-sm) {
                display: none;
            }
        }

        &--total{
            color: #555;
            margin-right: 20px;

            &:after{
                content: "";
                display: none;
            }

            @media only screen and (max-width: $screen-sm) {
                display: none;
            }
        }

        &:last-of-type{
            &:after{
                display: none;
            }
        }
    }

    &__itemImg{
        @extend .toaster__itemImg;
        height: 25px;
        margin-right: 5px;

        &--rounded{
            border-radius: 50%;
        }
    }

}
