<aside class="modal-cart">
  <div class="modal-cart__inner">
    <header class="modal-cart__top-bar">
      <h2 class="modal-cart__title">Edit Product Options</h2>
      <button class="modal-cart__close">{{> svg/close}}</button>
    </header>
    <form class="modal-cart__edit-product"></form>
    <div class="modal-cart__actions">
        <button type="button" class="button button-primary button-cart" data-cart-edit-submit>
          <span class="button-cart-text">Update Cart</span>
          <svg class="icon icon-spinner hide"><use xlink:href="#icon-spinner" /></svg>
        </button>
    </div>
</div>
  <div class="modal-cart__underlay"></div>
</aside>
