<aside class="modalCart">
	<div class="modalCart__inner">
		<header class="modalCart__top-bar">
			<h2 class="modalCart__title">Edit Product Options</h2>
			<button class="modalCart__close">{{> svg/close}}</button>
		</header>
		<form class="modalCart__edit-product"></form>
		<div class="modalCart__actions">
			<button type="button" class="button button-primary button-cart" data-cart-edit-submit>
				<span class="button-cart-text">Update Cart</span>
				<svg class="icon icon-spinner hide">
					<use xlink:href="#icon-spinner" />
				</svg>
			</button>
		</div>
	</div>
	<div class="modalCart__underlay"></div>
</aside>