%block-layout-defaults{
    float: left;
    width: 100%;
}

.blog{
    
    .newsletter{
        display: none;
    }

    &__header{
        @extend %span-1-1;
        @extend %span;

        &--post{
            margin-bottom: 40px;
        }
    }

    &__headerLogo{
        position: relative;
        width: 550px;
        margin: 0 auto;

        @media only screen and (max-width: $screen-sm) {
           width: 100%;
        }
    }

    &__headerLogoName{
        font-family: 'Playfair Display', serif !important;
        font-style: italic;
        font-size: 5rem;
        line-height: 1;
        color: #777;

        @media only screen and (max-width: $screen-sm) {
            font-size: 3rem;
        }
    }

    &__headerLogoSub{
        font-family: sans-serif !important;
        font-size: 1.8rem;
        position: absolute;
        right: 55px;
        bottom: -30px;
        font-weight: 100;
        line-height: 1;
        color: #777;
        letter-spacing: inherit;

        @media only screen and (max-width: $screen-sm) {
            font-size: 1.4rem;
            bottom: -20px;
         }
    }

    &__headerLogoBy{
        font-size: 1rem;
    }

    &__headerTitle{
        font-size: 3.6rem;
        margin: 60px 5vw 0 5vw;
        text-align: center;
        line-height: 1;
        color: #777;

        @media only screen and (max-width: $screen-sm) {
            font-size: 2rem;
        }
    }


    &__hero{
        margin: 80px 0 300px 0;
        position: relative;
        @extend %block-layout-defaults;

        @media only screen and (max-width: $screen-sm) {
           margin-top: 40px;
        }

        &--post{
            margin: 0 0 40px 0; 
        }
    }

    &__heroImgCntr{
        background-color: #ccc;
        width: 100%;
        max-height: 500px;
    }

    &__heroLink{
        display: block;
    }

    &__heroImg{
        width: 100%;
        height: auto;
        object-fit: contain;

        @media only screen and (max-width: $screen-md) {
            height: 400px;
        }
    }

    &__heroHeading{
        border: 1px solid #ccc;
        padding: 20px;
        width: 75%;
        text-align: center;
        position: absolute;
        background-color: #fff;
        left: 50%;
        margin-left: (-75%/2);
        bottom: -220px;
    }

    &__heroHeadingLink{
        display: block;

        &:hover{
            color: inherit;
        }
    }

    &__heroHeadingTag{
        text-transform: uppercase;
        font-size: 1rem;
        color: #999;
    }

    &__heroHeadingTitle{
        margin: 0 0 15px 0;
        font-size: 3rem;

        @media only screen and (max-width: $screen-sm) {
            font-size: 1.4rem;
        }
    }

    &__heroHeadingSummary{
        font-size: 1.2rem;
        line-height: 1.4;
        margin-bottom: 5px;;
        color: #999;
        font-weight: 400;

        @media only screen and (max-width: $screen-sm) {
            font-size: 1rem;
        }
    }

    &__heroHeadingReadMore{
        font-size: 1.2rem;

        @media only screen and (max-width: $screen-sm) {
            font-size: 1rem;
        }
    }

    &__newsletter{
        .newsletter{
            display: block;
            border: none;
        }
    }

    &__postSection{
        @extend %block-layout-defaults;
        
        &--topSpace{
            margin-top: 60px;
        }
    }

    &__postMeta{
        @extend %block-layout-defaults;
        text-align: center;

        &--date{
            padding-right: 15px;
            margin-right: 15px;
            border-right: 1px solid #999;
        }
    }

    &__postCntr{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__postCntrHeading{
        width: 100%;
        text-align: center;
    }

    &__postTopicMeta{
        text-transform: capitalize;
    }

    &__postPod{
        @extend %span-1-3-md;
        @extend %span-1-2-sm;
        @extend %span-1-1;
        @extend %span;
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        padding: 40px 20px;

        .post-thumb{
            width: 100%;
            height: auto;
            object-fit: fill;
            max-height: 400px;
        }

        .post-title{
            font-size: 1.4rem;
            margin-bottom: 0;
        }

        .post-more{
            width: 100%;
            text-decoration: none;
            display: block;
        }

        .post-summary{
            color: #999;
            margin-top: 0;
            padding-top: 0;
        }
    }

    &__loadMoreCntr{
        text-align: center;
        @extend %block-layout-defaults;
        margin: 60px 0;
    }

    &__content{
        @extend %block-layout-defaults;

        p{
            font-size: 1.1rem;
            line-height: 1.6;
        }
    }

    &__pagination{
        @extend %block-layout-defaults;
        padding: 20px;
        margin: 60px 0;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    &__paginationArrow{
        @extend .icon;
        position: absolute;
        width: 30px;
        height: 100%;

        &--left{
            @extend .icon-arrow-left;
            left: 0;

            @media only screen and (max-width: $screen-sm) {
                left: -20px;
            }
        }

        &--right{
            @extend .icon-arrow-right;
            right: 0;

            @media only screen and (max-width: $screen-sm) {
                right: -20px;
            }
        }
    }

    &__paginationItem{
        flex: 1 0 auto;
        width: 50%;
        position: relative;

        &--prev{
            padding-left: 20px;

            @media only screen and (max-width: $screen-sm) {
                padding: 0;
            }
        }

        &--next{
            padding-right: 20px;
            float: right;
            align-self: center;
            text-align: right;

            @media only screen and (max-width: $screen-sm) {
                padding: 0;
            }
        }
    }

    &__paginationLink{
        display: flex;
        position: relative;
        padding: 0 40px;
        flex-direction: column;
        width: 100%;

        @media only screen and (max-width: $screen-sm) {
            padding: 0 10px;
        }
       
        &--next{
            align-items: flex-end;
        }
    }

    &__paginationDirection{
        width: 100%;
        display: block;
        text-transform: uppercase;
        line-height: 1;
        margin-bottom: 5px;

        @media only screen and (max-width: $screen-sm) {
           font-size: 1.1rem;
           margin-bottom: 0;
        }
    }

    &__paginationTitle{
        width: 100%;
        display: block;
        font-size: .9rem;
        line-height: 1.2;

        @media only screen and (max-width: $screen-sm) {
            display: none;
        }
    }


    &__footer{
        @extend %block-layout-defaults;
    }

    &__relatedHeading{
        text-align: center;
        text-transform: uppercase;
    }

    &__related{
        @extend %block-layout-defaults;
    }

    &__relatedItems{
        display: flex;
        flex-direction: row;

        @media only screen and (max-width: $screen-sm) {
            flex-direction: column;
        }
    }

    &__noPosts{
        text-align: center;
        @extend %block-layout-defaults;
        padding: 20px;
    }

    &__noPostsHeading{
        font-size: 2.4rem;
        text-align: center;
    }

}


.blog-link {
    margin: 25px 0;
}

.blog-link p {
    text-align: center;
    font-style: italic;
    margin: 0;
}

.blog-link a  {
    display: block;
}

.blog-items-list .post{
    max-width: 100%;
    width: 100%
}

.page-header {
    padding: 20px 8vw;
}

.blog-post-single .post-main {
    max-width: 100%;
    margin: 0 8.2vw;
}