/* Add all site style customizations in this file */

/* Variables */
@import 'variables';

/* Mixins */
@import "/mixins/grid";
@import "/mixins/landing-grid";
@import 'mixins/respond';
@import 'mixins/placeholder';


/* Components */
@import 'components/defaults';
@import 'components/icons';
@import 'components/generics';
@import 'components/buttons';
@import 'components/calculator';
@import 'components/tooltip';
@import 'components/promobanner';
@import 'components/breadcrumbs';
@import 'components/progress';
@import 'components/preloader';
@import 'components/optionDrawer';
@import 'components/selectBox';
@import 'components/toaster';
@import 'components/ratings';
@import 'components/table';
@import 'components/badge';
@import 'components/alerts';
@import 'components/ribbon';
@import 'components/modal';
@import 'components/card';
@import 'components/forms';
@import 'components/countDown';

/* Layout */
@import 'layout/default';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/meganav';
@import 'layout/mobilenav';

/* Sections */
// products
@import 'sections/product/productListing';
@import 'sections/product/productCategory';
@import 'sections/product/productDetails';
@import 'sections/product/productOptions';
@import 'sections/product/productSwatchModal';
@import 'sections/product/productSwatch';
@import 'sections/product/productTabs';
@import 'sections/product/productModal';
@import 'sections/product/productQuestions';
@import 'sections/product/productLayouts';

// cart
@import 'sections/cart/modalCart';
@import 'sections/cart/miniCart';
@import 'sections/cart/shoppingCart';
@import 'sections/cart/stickyCart';

// checkout
@import 'sections/checkout/checkoutHeader';

// blog
@import 'sections/blog/blog';
@import 'sections/blog/filter';

// my account
@import 'sections/myaccount/legacy';

/* Tempaltes */
@import 'templates/brands';
@import 'templates/landing';
@import 'templates/blog';
@import 'templates/product';

// other
@import 'sections/newsletter';

/* Plugins */
// @import 'plugins/simplebar/simplebar';
@import 'plugins/slick';
@import 'plugins/animate';



/* Third Party */
@import 'thirdparty/affirm';
@import 'thirdparty/amazon';
@import 'thirdparty/paypal';
@import 'thirdparty/prop65';
@import 'thirdparty/yotpo';
@import 'thirdparty/atmo';
@import 'thirdparty/nxt';
@import 'thirdparty/searchspring';
@import 'thirdparty/klaviyo';
@import 'thirdparty/shogun';
@import 'thirdparty/clyde';
@import 'thirdparty/nosto';

/* Print */
@import 'print';
