:root {
    --star-size: 15px;
    --star-color: #ddd;
    --star-background: #fc0;
}

// Grid
$grid-columns: 10 !default;

// $standard-width: 1500px;
$standard-width: 100% !important;
$text-block-width: 960px;
$standard-padding: 20px;
$standard-column-width: 100%;
$standard-border: 1px solid transparent;

$screen-xs: 400px; // mobile landscape
$screen-sm: 568px; // tablet portrait
$screen-md: 770px; // tablet landscape
$screen-lg: 1024px; // Desktop
$screen-xl: 1200px; // Large Desktop & HD TV
$screen-xxl: 1440px; // Retina

$border-radius: 4px;
$button-border-radius: 2px;

$btn-color-orange: #ec9d08;
$btn-color-green: #6ea438;

$bg-orange: #ec9d08;
$bg-green: #6ea438;
$bg-dark: #111111;
$bg-white: #ffffff;
$bg-gray: #f0f0f0;
$bg-golden: #F1D896;
$bg-sand: #F1EFEC;
$bg-brown: #9B9188;

$bg-charcoal: #2E303B;
$bg-dove: #F0F0F0;
$bg-navy: #353E5D;
$bg-coral: #E79B7D;

$text-golden: #F1D896;
$text-danger: #e74c3c;
$text-dark: #111111;
$text-green: #6ea438;
$text-white: #ffffff;

$link-color: #0066c0;

$color-background-pdp: stencilColor('product-details-bg');
$color-topbar-background: stencilColor('color-topbar-background');
$color-border: stencilColor('color-border');
$color-topbar-text: stencilColor('color-topbar-text');
$color-background-secondary: stencilColor('color-background-secondary');
