:root {
    --star-size: 15px;
    --star-color: #ddd;
    --star-background: #fc0;
}

$font-stack: "Proxima Nova", Helvetica, Arial, sans-serif !default;
$font-stack-bold: "Proxima Nova W05 Bold", Helvetica, Arial, sans-serif !default;
$font-stack-serif: "DidotW01-DisplayRegular", Georgia, Times, serif !default;

// Grid
$grid-columns: 10 !default;

// $standard-width: 1500px;
$standard-width: 100% !important;
$text-block-width: 960px;
$standard-padding: 20px;
$standard-column-width: 100%;
$standard-border: 1px solid transparent;

$screen-xs: 400px; // mobile landscape
$screen-sm: 568px; // tablet portrait
$screen-md: 770px; // tablet landscape
$screen-lg: 1024px; // Desktop
$screen-xl: 1200px; // Large Desktop & HD TV
$screen-xxl: 1440px; // Retina

$border-radius: 4px;
$button-border-radius: 2px;

$btn-color-orange: #ec9d08;
$btn-color-green: #6ea438;

// colors
$clr-orange: #ec9d08;
$clr-green: #6ea438;
$clr-dark: #111111;
$clr-white: #ffffff;
$clr-gray: #f0f0f0;
$clr-golden: #F1D896;
$clr-sand: #F1EFEC;
$clr-brown: #9B9188;

$clr-charcoal: #2E303B;
$clr-dove: #F0F0F0;
$clr-mist: #F9F9F9;
$clr-navy: #353E5D;
$clr-ocean: #4C7B9A;
$clr-ice: #DFE9EF;
$clr-sage: #B0D493;
$clr-pistachio: #E0EED5;
$clr-terracotta: #DB613A;
$clr-sunset: #E5A778;
$clr-teak: #FBDFCA;
$clr-coral: #E79B7D;
$clr-danger: #e74c3c;
$clr-link: #0066c0;

$color-background-pdp: stencilColor('product-details-bg');
$color-topbar-background: stencilColor('color-topbar-background');
$color-border: stencilColor('color-border');
$color-topbar-text: stencilColor('color-topbar-text');
$color-background-secondary: stencilColor('color-background-secondary');
