$screen-xs: 400px; // mobile landscape
$screen-sm: 568px; // tablet portrate
$screen-md: 770px; // tablet landscape
$screen-lg: 1020px; // Desktop
$screen-xl: 1200px; // Large Desktop & HD TV
$btn-color-orange: #ec9d08;

$color-background-pdp: stencilColor('product-details-bg');