// Grid
$grid-columns: 10 !default;

// $standard-width: 1500px;
$standard-width: 100% !important;
$standard-padding: 20px;
$standard-column-width: 100%;

$screen-xs: 400px; // mobile landscape
$screen-sm: 568px; // tablet portrate
$screen-md: 770px; // tablet landscape
$screen-lg: 1020px; // Desktop
$screen-xl: 1200px; // Large Desktop & HD TV

$border-radius: 4px;
$button-border-radius: 99em;

$btn-color-orange: #ec9d08;
$btn-color-green: #6ea438;
$danger: #e74c3c;

$color-background-pdp: stencilColor('product-details-bg');
$color-topbar-background: stencilColor('color-topbar-background');
$color-border: stencilColor('color-border');
$color-topbar-text: stencilColor('color-topbar-text');
$color-background-secondary: stencilColor('color-background-secondary');

