.alert{
    margin: 10px auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;

    &--notify{
        background-color: #ebf7ff;
        color: #084d80;
    }

    &--success{
       background-color: #edf9eb; 
    }

    &--warn{
        background-color: #fcf8e3;
        color: #c09853;
    }

    &__message{
        white-space: unset;
        font-size: 1rem;
        line-height: 1;
    }
}



.promo{
    @extend .alert;
    padding: 10px 100px;
    color: #666;

    strong{
        color: #222;
    }

    &--notify{
       @extend .alert--notify;
    }

    &--success{
        @extend .alert--success;
    }

    &--warn{
        @extend .alert--warn;
    }

    &__icon{
        @extend %promo-icon-size;
        margin-right: 15px;
    }

    &__svg{
        @extend %promo-icon-size;
        fill: #666
    }

    &__message {
        white-space: unset;
        font-size: 1rem;
        line-height: 1;
    }   
}