%promo-icon-size{
    width: 20px;
    height: 20px;
}


.alert{
    margin: 10px auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    min-height: 45px;
    height: auto;
    transition-timing-function: cubic-bezier(1,-0.03,.23,1);
    transition: all 1s;

    &--hide{
        height: 0;
        min-height: 0;
        padding: 0 !important;
        margin: 0;
        transition-timing-function: cubic-bezier(1,-0.03,.23,1);
        transition: all 1s;
    }
    
    &--erase{
        opacity:0;
    }

    &--top{
        margin-top: 0;

        @media only screen and (max-width: $screen-lg ) {
            margin-top: 50px;
        }
    }

    & .icon{
        width: 15px;
        height: 15px;
        margin: 0 3px
    }

    &--notify{
        background-color: #ebf7ff;
        color: #084d80;
    }

    &--success{
       background-color: #edf9eb; 
    }

    &--warn{
        background-color: #fcf8e3;
        color: #c09853;
    }

    &__message{
        white-space: unset;
        font-size: 1rem;
        line-height: 1.4;
    }

    &--darkLux{
        background-color: $clr-dark;
        color: $clr-golden;
    }

    &--goldenLux{
        background-color: $clr-golden;
        color: $clr-dark;
        margin: 0;
        padding: 20px 10px;
    }
    
    &--redLux{
        background-color: #800505;
        color: #fff;
        margin: 0;
        padding: 20px 10px;
    }

    
    &__blockLink{
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-decoration: none !important;
        line-height: 1.4;

        &:hover{
            color: inherit;
        }

        &--dark{
            color: #111 !important;
        }

        &--large{
            font-size: 1.1rem;
            font-weight: 800;
        }
    }

    &__code{
        background-color: #111;
        padding: 1px 4px;
        border: 1px dashed #d4be85;
        font-style: normal;
        line-height: 1;
        color: $clr-golden;
    }
    
}


.promo{
    @extend .alert;
    padding: 10px 100px;
    color: #666;
    justify-content: center;

    &--header{
        margin: 0;
        line-height: 1;
    }

    @media only screen and (max-width: $screen-md ) {
        padding: 10px
    }

    strong{
        color: #222;
    }

    &--notify{
       @extend .alert--notify;
    }

    &--success{
        @extend .alert--success;
    }

    &--warn{
        @extend .alert--warn;
    }

    &__icon{
        @extend %promo-icon-size;
        margin-right: 15px;
    }

    &__svg{
        @extend %promo-icon-size;
        fill: #666
    }

    &__message {
        white-space: unset;
        font-size: 1rem;
        line-height: 1.4;
        width: 100%;

        strong{
            color: #222;
        }
    }   
}

