.breadcrumb {
    font-size: .75rem;

    @media only screen and (max-width: $screen-md) {
        font-size: .9rem;
        text-transform: capitalize;
        display: none;
    }

    .breadcrumb-label {
        color: #999;
        display: inline-block;
    }

    &__mobileLabel{
        display: none;

        @media only screen and (max-width: $screen-md) {
            display: inline-block;
        }
    }
}

.breadcrumbs-container{
    width: 100%;
}

.breadcrumb:last-child {
    display: none;

    @media only screen and (max-width: $screen-sm) {
        display: inline-flex;
    }
}

.breadcrumb:not(:nth-last-child)::after {
    content: normal;
}   

.breadcrumb:not(:nth-last-child(-n+2))::after {
    content: "›";

    @media only screen and (max-width: $screen-sm) {
        display: inline-flex;
    }
}

@media only screen and (max-width: $screen-md) {
    .breadcrumb:nth-last-of-type(2){
        display: block;

        a{
            display: block;
            text-align: center;
        }
    }
}

.breadcrumbs{
    margin: 0;
}



@media only screen and (max-width: $screen-sm) {
    .breadcrumb:nth-last-child(2) {
      display: inline-flex;
      ::after {
        content: "›" ;
        padding: 0 4px;
      }
    }
}

  // Breadcrumbs
.breadcrumbs {
    margin-top: rem-calc(40px);
    margin-bottom: rem-calc(25px);
    text-align: center;
  
    .page-header &,
    .product-listing & { margin-top: 0; }
  
    @media only screen and (max-width: $screen-sm) {
      display: inline-flex;
    }
  
}
