

.button {
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 500;
    @extend %button-rounded;

    &.progress{
        &:before, &:after{
            display: none !important;
        }
    }

    &--small{
        font-size: 1rem;
        padding: 8px 20px !important;
    }
}

%button-rounded{
    border-radius: $button-border-radius !important;
}

.button-primary{
    border-color: $btn-color-orange;
    background-color: $btn-color-orange;
    color: #fff;

    &:hover{
        border-color: $btn-color-orange;
        background-color: #fff;
        color: $btn-color-orange;
    }

    &--orange{
        border-color: $btn-color-orange;
        background-color: $btn-color-orange;

        &:hover{
            border-color: $btn-color-orange;
            color: $btn-color-orange;
        }
    }

    &--green{
        border-color: $btn-color-green;
        background-color: $btn-color-green;

        &:hover{
            border-color: $btn-color-green;
            color: $btn-color-green;
        }
    }


    &--dark{
        background-color: #666;
        border-color: #fff;
        color: #fff;

        &:hover{
            background-color: transparent;
            border-color: #666;
            color: #666;
        }
    }
}



.button-secondary {
    background-color: #fff;
    border-color: #ccc;
    color: #878787;
    box-shadow: none;

    &:hover {
        border-color: #878787;
    }

    &--darkTrans{
        background-color: transparent;
        border-color: #666;
        color: #666;
        padding-left: $standard-padding * 3;
        padding-right: $standard-padding * 3;

        &:hover {
            background-color: #666;
            border-color: #fff;
            color: #fff;
        }
    }

    &--whiteTrans{
        background-color: rgba(0, 0, 0, 0.25);
        border-color: #fff;
        color: #fff;
        padding-left: $standard-padding * 3;
        padding-right: $standard-padding * 3;

        &:hover {
            background-color: #666;
            border-color: #fff;
            color: #fff;
        }
    }
}



.button.button-tertiary {
    background: #6ea438;
    border: 1px solid #6ea438;
    box-sizing: border-box;
    padding: 15px;

    &:hover{
        box-shadow: none;
        border: 1px solid #6ea438;
        color: #6ea438;
    }
}



.button-group-item.active {
    background-color: $color-border;
    border-color: $color-border;
}

.button-mobile-nav-toggle{
    left: 10px;
    height: 25px;
    width: 25px;
    padding: 0;

    .burger {
        display: block;
        width: auto;
        height: auto;
        background: transparent;
        transition: transform 0.2s ease;
        fill: #000;
    }
}

.button-mobile-nav-cart{
    position: absolute;
    top: 50%;
    right: 17px;
    transform: translateY(-50%);

    @media only screen and (max-width: $screen-lg + 5 ) {
        display: block;
    }

    @media only screen and (max-width: $screen-sm ) {
        right: 5px;
    }

    a{
        display: flex;
        align-self: center;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    & .icon-cart{
        height: 20px;
        width: 20px;
    }
}

.button-cart{
    text-transform: uppercase;
}

.button-mobile-nav-tel{
    display: none;
    position: absolute;
    display: none;
    top: 55%;
    right: 55px;
    transform: translateY(-50%);

    @media only screen and (max-width: $screen-lg + 5 ) {
        display: flex;
    }

    @media screen and (max-width: $screen-xs - 80){
        right: 55px;
    }

    a{
        display: block;
    }
}

.button-mobile-nav-toggle{
    @media only screen and (max-width: $screen-lg + 5 ) {
        display: block;
    }
}

.button-mobile-nav-tel-icon{
    width: 25px;
    height: 25px;
    fill: #000;

    @media screen and (max-width: $screen-xs - 80){
        width: 20px;
        height: 20px;
    }
}

.button-mobile-nav-search {
    position: absolute;
    display: none;
    top: 53%;
    right: 60px;
    height: 28px;
    transform: translateY(-38%);

    @media screen and (min-width: $screen-xl){
        display: none;
    }

    @media screen and (max-width: $screen-md){
        display: block;
    }

    @media screen and (min-width: $screen-sm){
        right: 80px;
    }
  
    &.has-promo {
      top: auto;
      bottom: 8%;
      transform: translateY(0);
    }
  
    // @include media($max: $screen-lg + 5) { display: none; }
  
    a {
      display: block;
      height: 100%;
      text-align: center;
      cursor: pointer;
  
      svg {
        fill: contrast($color-topbar-background, 100%);
      }
    }
  }


.button-top{
    background-color: #C5C4C48F;
    width: 35px;
    height: 35px;
    border-radius: 44px;

    &:hover{
        .icon{
            fill: #fff;
        }
    }

    .icon{
        width: 16px;
        height: 16px;
    }

    &.show{
        bottom: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 0;
    }
}
