%button-rounded{
    border-radius: $button-border-radius !important;
}

.button {
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    font-size: 22px;
    padding: 17px 65px;    
    font-weight: 500;
    @extend %button-rounded;
    text-decoration: none !important;

        @media only screen and (max-width: $screen-sm){
            font-size: 18px;
        }

    &.add-to-cart{
        color: #fff !important;

        &:hover{
            color: $clr-navy;

            .button-text{
                color: $clr-white !important;
            }
        }

        .button-text{
            color: #fff !important;
        }

        
    }
    

    &.progress{
        &:before, &:after{
            display: none !important;
        }
    }

    &--small{
        font-size: 1rem;
        padding: 8px 20px !important;
    }

    &--fullWidth{
        width: 100%;
    }

    &.button-wide{
        @media screen and (max-width: $screen-sm){
            padding-left: 20px !important;
            padding-right: 20px !important;
        }
    }

    &--left{
        float: left;
    }

    &--right{
        float: right;
    }

    &--center--sm{
        @media only screen and (max-width: $screen-sm){
            float: none !important;
        }
    }
}


.button-primary{
    border-color: $clr-charcoal;
    background-color: $clr-charcoal;
    color: #fff;


    &:hover{
        border-color: $clr-ocean;
        background-color: $clr-ocean;
        color: #fff;
    }

    &--green{
        border-color: $btn-color-green;
        background-color: $btn-color-green;

        &:hover{
            border-color: $btn-color-green;
            color: $btn-color-green !important;
        }
    }


    &--greenTrans{
        border-color: $btn-color-green;
        background-color: rgba(255, 255, 255, 0.25);
        color: $btn-color-green;

        &:hover{
            background-color: $btn-color-green;
            border-color: $btn-color-green;
            color: #fff;
        }
    }


    &--dark{
        background-color: #666;
        border-color: #fff;
        color: #fff;

        &:hover{
            background-color: transparent;
            border-color: #666;
            color: #666;
        }
    }

    &--white {
        background-color:#fff;
        border-color: #4D5060;
        color: #4D5060;
    }

    &--darkGray {
        background-color:#2E303B;
        border-color: #2E303B;
        color: #FFF;
        padding: 15px 70px;
        font-size: 1.1rem;

        @media only screen and (max-width: $screen-md) {
            padding: 10px 50px;            
        }
    }

    &--reverse {
        background-color: $clr-dove;
        border-color: $clr-dove;
        color: $clr-charcoal;

        &:hover{
            background-color: $clr-ice;
            border-color: $clr-ice;
            color: $clr-charcoal;
        }
    }

    &--transparent {
        background-color: transparent;
        border: 2px solid $clr-charcoal;
        color: $clr-charcoal;

        &:hover{
            background-color: $clr-charcoal;
            color: $clr-white;
        }
    }

    &--transparentWhite {
        background-color: transparent;
        border: 2px solid $clr-white;
        color: $clr-white;
    }

    &--ocean {
        background-color: $clr-ocean;
        border-color: $clr-ocean;
        color: $clr-white;

            &:hover {
                background-color: $clr-navy;
                border-color: $clr-navy;
                color: $clr-white;
            }
    }
}



.button-secondary {
    background-color: #fff;
    border-color: #ccc;
    color: #878787;
    box-shadow: none !important;

    &:hover {
        border-color: #878787;
    }

    &--trans{
        background-color: transparent;
        color: #444;
        border-color: transparent;
        padding-left: $standard-padding * 3;
        padding-right: $standard-padding * 3;
        box-shadow: none !important;

        @media only screen and (max-width: $screen-sm) {
            padding-left: $standard-padding;
            padding-right: $standard-padding;
        }
    }


    &--darkTrans{
        background-color: transparent;
        border-color: #444;
        color: #444;
        padding-left: $standard-padding * 3;
        padding-right: $standard-padding * 3;
        box-shadow: none !important;

        @media only screen and (max-width: $screen-sm) {
            padding-left: $standard-padding;
            padding-right: $standard-padding;
        }

        &:hover {
            background-color: #666;
            border-color: #fff;
            color: #fff;
        }
    }

    &--whiteTrans{
        background-color: rgba(0, 0, 0, 0.25);
        border-color: #fff;
        color: #fff !important;
        padding-left: $standard-padding * 3;
        padding-right: $standard-padding * 3;

        @media only screen and (max-width: $screen-sm) {
            padding-left: $standard-padding;
            padding-right: $standard-padding;
        }

        &:hover {
            background-color: #666;
            border-color: #fff;
            color: #fff;
        }
    }
}


.button.button-tertiary {
    background: $clr-dove;
    border: 1px solid $clr-dove;
    color: $clr-charcoal;
    box-sizing: border-box;
    padding: 15px;

    &:hover{
        box-shadow: none;
        border: 1px solid #DFE9EF;
        background-color: #DFE9EF;
        color: $clr-charcoal;
    }
}


.button-group-item.active {
    background-color: $color-border;
    border-color: $color-border;
}

.button-mobile-nav-toggle{
    left: 10px;
    height: 35px;
    width: 35px;
    padding: 0;

    .burger {
        display: block;
        width: auto;
        height: auto;
        background: transparent;
        transition: transform 0.2s ease;
        fill: #000;
    }
}

.button-mobile-nav-cart{
    position: absolute;
    top: 40%;
    right: 17px;
    transform: translateY(-50%);

    @media only screen and (max-width: $screen-lg + 5 ) {
        display: block;
    }

    @media only screen and (max-width: $screen-sm ) {
        right: 5px;
    }

    a{
        display: flex;
        align-self: center;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    & .icon-cart{
        height: 20px;
        width: 20px;
    }
}


.button-cart{
    position: relative;
    height: 62px;
    outline: none;
}

.button-mobile-nav-tel{
    display: none;
    position: absolute;
    display: none;
    top: 55%;
    right: 55px;
    transform: translateY(-50%);

    @media only screen and (max-width: $screen-lg + 5 ) {
        display: flex;
    }

    @media screen and (max-width: $screen-xs - 80){
        right: 55px;
    }

    a{
        display: block;
    }
}

.button-mobile-nav-toggle{
    @media only screen and (max-width: $screen-lg + 5 ) {
        display: block;
    }
}

.button-mobile-nav-tel-icon{
    width: 25px;
    height: 25px;
    fill: #000;

    @media screen and (max-width: $screen-xs - 80){
        width: 20px;
        height: 20px;
    }
}

.button-mobile-nav-search {
    position: absolute;
    display: none;
    top: 53%;
    right: 60px;
    height: 28px;
    transform: translateY(-38%);

    @media screen and (max-width: $screen-lg){
        display: block;
    }

    @media screen and (max-width: $screen-md){
        display: none;
    }

    @media screen and (min-width: $screen-sm){
        // right: 80px;
        display: none;
    }
  
    &.has-promo {
      top: auto;
      bottom: 8%;
      transform: translateY(0);
    }
  
    // @include media($max: $screen-lg + 5) { display: none; }
  
    a {
      display: block;
      height: 100%;
      text-align: center;
      cursor: pointer;
  
      svg {
        fill: contrast($color-topbar-background, 100%);
      }
    }
  }


.button-top{
    background-color: #C5C4C48F;
    width: 35px;
    height: 35px;
    border-radius: $button-border-radius;
    right: 5px;

    &:hover{
        .icon{
            fill: #fff;
        }
    }

    .icon{
        width: 16px;
        height: 16px;
    }

    &.show{
        bottom: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 0;
    }
}


.button--text{
    background-color: transparent;
    color: inherit;
    padding: 0;
    margin: 0;
    text-decoration: underline;
    text-align: left;
    line-height: 1;
    border-top: none;
    border-left: none;
    border-right: none;

    &:hover{
        background-color: transparent;
        color: $clr-green;
        border-bottom-color: $clr-green;
    }
}

.ctaLink{
    border-bottom: 1px solid $clr-charcoal;
    text-decoration: none !important;
    position: relative;
    margin: 0 20px 0 0;
    font-family: $font-stack-bold;

    &--arrow {
        &::after{
            content: "▸";
            border-bottom: 0 !important;
            text-decoration: none !important;
            position: absolute;
            padding-left: 10px;
        }
    }

    &--tertiary {
        color: $clr-ocean;
        border-bottom: 1px solid $clr-ocean;
    }
}
