
// Calculator
.calculator{
    @extend %span-1-1;
    padding: 20px;

    &__form{
        @extend %span-1-1;
        border: 1px solid #ccc;
        padding: 20px;
        max-width: 750px;
        margin: 0 auto;
    }

    &__fieldCntr{
        display: block;
    }

    &__fieldSet{
        border: none;
        padding: 40px 0 0 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    &__title{
        @extend %span-1-1;
        flex: 1 0 auto;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 20px;
        // border-bottom: 1px solid #ccc;
        font-size: 1.4rem;
        font-weight: 800;
        line-height: 1.2;
    }

    &__controlNote{
        font-size: 0.9rem;
        line-height: 1.4;
        text-align: center;
        margin: 10px 0 25px 0;
    }

    &__controls{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        align-self: center;
        margin: 0 auto;

        &--short{
            width: 70%;

            @media screen and (max-width: $screen-sm){
                width: 100%;
            }
        }
    }

    &__controlGroupHeading{
        @extend %span-1-1;
        padding-bottom: 20px;
    }

    &__controlGroupCntr{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        flex: 1 0 auto;
        align-items: center;
        justify-content: center;
        align-content: center;

        &--1-2{
           width: 50%;

           @media screen and (max-width: $screen-sm){
               width: 100%;
           }
        }
    }

    &__controlGroup{
        @extend %span-1-1;
        margin-bottom: 20px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        align-content: center;
        flex-direction: row;
        flex-wrap: wrap;

        &[data-control]{
            display: none;
            flex-wrap: nowrap;
            align-items: center;
        }

        &--noFlex{
            display: block;
        }

        &--right{
            justify-content: flex-end;
            text-align: right;
        }

        &--1-2{
            @extend %span-1-2;
            justify-content: flex-end;

            &:nth-of-type(even){
                justify-content: flex-start;
            }
        }

        &:last-of-type{
            margin: 0;
        }

        &--col{
            flex-direction: column;
        }

        &--radioGroup{
            flex-direction: row;
        }
    }

    &__controlGroupWithFigure{
        display: flex;
        flex-direction: row;
        padding-bottom: 40px;

        @media screen and (max-width: $screen-sm){
            flex-direction: column;
        }
    }

    &__controlLabel{
        order: 2;
        padding: 0 0 0 20px;
        line-height: 1;
        text-transform: uppercase;
        font-size: 0.9rem;
        line-height: 1.2;
        @extend %span-4-10;
        cursor: pointer;

        @media screen and (max-width: $screen-sm){
            width: 50%;
        }

        &--radioGroup{
            padding: 0 10px 0 0;
            margin-bottom: 10px;
            display: flex;
            height: 100%;
            flex: 1 0 auto;
            @extend %span-1-2;

            @media screen and (max-width: $screen-sm){
                width: 100%;
            }
        }
    }

    &__controlFigure{
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 10px 0;
        opacity: 0.35;

        &:hover{
            opacity: 0.5;
        }

        @media screen and (max-width: $screen-sm){
            margin-bottom: 15px;
        }

        &--active{
            opacity: 1;

            &:hover{
                opacity: 1;
            }
        }
    }

    &__controlFigureText{
        margin-top: 5px;
        text-transform: capitalize;
        text-align: center;
    }

    


    &__controlHeading{
        width: 100%;
        text-transform: uppercase;
        line-height: 1;
        font-size: 1.2rem;
        text-align: center;
        margin: 0 0 5px 0;
    }


    &__controlImg{
        height: 100px;
        width: 100px;
        object-fit: contain;
        border-radius: 50%;
    }

    &__controlInput{
        order: 1;

        &[type=number], &[type=text]{
            padding: 10px;
            width: 25%;
            min-width: 75px;
            box-shadow: 0 0 0 1px #ccc inset;
            color: #444;
            border-radius: 4px;
            transition: border-color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            border: none;

            &::-webkit-inner-spin-button, &::-webkit-outer-spin-button{
                -webkit-appearance: none; 
                margin: 0;
            }
        }

        &[type=radio]{
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;    
        }
    }



    &__calcReferenceCntr{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        text-align: center;
        width: 50%;

        @media screen and (max-width: $screen-sm){
            width: 100%;
            margin-bottom: 20px;
        }
    }

    &__figureName{
        @extend %span-1-1;
        display: block;
        font-weight: 800;
        font-size: 1rem;  
    }

    &__figureNote{
        @extend %span-1-1;
        display: block;
        font-size: 0.8rem;
    }

    &__calcReferenceImg{
        object-fit: contain;
        width: 300px;
        margin: 0 auto;
    }


    &__calcReferenceCaption{
        text-align: center;
    }


    &__btn{
        @extend .button;
        @extend .button-primary;
        @extend .button--small;
        width: auto;
        outline: none;
       
        &--trans{
            @extend .button-secondary--darkTrans;

            &.slick-arrow{
                display: block !important;
            }
        }
    }

    &__btnReset{
        width: 100%;
        text-align: center;
        display: none;
        padding: 10px 0;
        text-decoration: underline;

    }

    &__controlOutput{
        font-weight: 800;
    }

    &__total{
        font-size: 1.2rem;
        font-weight: 800;
        text-transform: uppercase;
        margin: 0; 
        text-align: center;
        line-height: 1.2;
        width: 100%;

        @media screen and (max-width: $screen-sm){
            font-size: 1rem;
        }
    }

    &__totalCta{
        width: 100%;
        text-align: center;
        margin-bottom: 0;
    }

    &__totalLink{
        border-bottom: 1px solid #444;
        font-weight: 600;
    }
}