html{
    overflow-y: scroll;
}

html, body{
    width: 100%;
    height: 100vh;
}

body *{
    font-family: "Karla", sans-serif !important;
    -webkit-overflow-scrolling: touch;
}

p a, strong a{
    text-decoration: underline;
}

p + ol{
    margin-left: 15px;
}

// taken from BC Backend
label[for="radio-cheque"] {
    display: none !important;
}
label[for="radio-stripe"] {
    display: none !important;
}
div[ui-view="paymentBody-stripe"] {
    display: none !important;
}
label[for=phoneInput]>small {
    display: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #ccc;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #ccc;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #ccc;
}
:-moz-placeholder { /* Firefox 18- */
	color: #ccc;
}


