.flyout{
    position: absolute;
    width: 100vw;
    display: none;
    background-color: #fff;
    top: 48px;
    left: 0vw;
    z-index: 9999;
    background-color: #f6f6f6;
    box-shadow: 3px 9px 11px 0px rgba(0, 0, 0, .25);
    height: 400px;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    padding: 1vh 2vw;

    &__overlay{
        display: none;
        position: fixed;
        content: "";
        top: 160px;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, .45);
        z-index: 99;
        animation-name: remodal-overlay-closing-keyframes;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;

        &--show{
            display: flex;
            animation-duration: 0.3s;
            animation-fill-mode: forwards;
            animation-name: remodal-overlay-opening-keyframes;
        }
    }

    &__list{
        padding: .5em;
        margin: 0;

        &--feature{
            background-color: #dddddd ;
            padding: 1.5em 2.5em;
        }
    }

    &__item{
        padding: .35em 0;
        line-height: 1;

        &--noSpace{
            padding: 0;
        }
    }

    &__listHeading{
        margin: 0;
        font-weight: 800;
        font-size: 1.1rem;
        line-height: 1;
    }

    &__listLink{
        font-size: 1rem;

        &:hover{
            text-decoration: underline !important;
        }
    }
}



@keyframes remodal-overlay-opening-keyframes {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes remodal-overlay-closing-keyframes {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

