/*
    This CSS resource incorporates links to font software which is the valuable copyrighted 
    property of Monotype and/or its suppliers. You may not attempt to copy, install, 
    redistribute, convert, modify or reverse engineer this font software. Please contact 
    Monotype with any questions regarding Web Fonts: http://www.fonts.com


@font-face{
    font-family: "DidotW01-DisplayRegular";
    src: url("../../fonts/1096686/094035d8-cea8-498e-a4b2-32babe21f8d3.woff2") format("woff2"),
    url("../../fonts/1096686/62a00bbc-f0bd-4f70-b667-9c21202c8f57.woff") format("woff");
    font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
	unicode-range: U+000-5FF;
}

@font-face{
    font-family: "Didot W01 Display Demi";
    src: url("../../fonts/1096689/fe3a51b5-33c7-43d1-aec5-037992f1cff3.woff2") format("woff2"),
    url("../../fonts/1096689/a2134dd6-3735-4265-a281-acc1b111f0ff.woff") format("woff");
    font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
	unicode-range: U+000-5FF;
}
*/