// glboal scrol car
%scrolling-inner{
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #777 #f2f2f2;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        width: 8px;
        border-radius: 5px;
        cursor: pointer;
    }

    &::-webkit-scrollbar-track {
        background: #f2f2f2;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #777 ;
        border-radius: 5px;
    }
}

%freeze-body{
    overflow: hidden;
    position: relative;
    max-height: 100vh;
}

.scroll-locked{
    @extend %freeze-body;
}

.show{
    display: block !important;
}

.hide{
    display: none !important;
}

.async-hide { opacity: 0 !important}


.ieShow{
    @extend .hide;
    visibility: hidden !important;
    opacity: 0 !important;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .ieHide{
        display: none !important;
    }

    .ieShow{
        display: block !important;
        visibility: visible !important;
        opacity: 1 !important;
    }
}


.mobileHide{
    display: flex !important;

    @media only screen and (min-width: $screen-lg) {
        &--lg{
            display: none !important;
        }
    }
}

.mobileShow{
    display: none !important;

    @media only screen and (min-width: $screen-lg) {
        &--lg{
            display: flex !important;
        }
    }
}


// Justiied Text
.l{text-align: left}
.r{text-align: right;}
.c{text-align: center}
.j{text-align: justify;}

// Text Transform
.upper{text-transform: uppercase;}
.lower{text-transform: lowercase;}

// Text Weight
.lighter{font-weight: lighter;}
.bold{font-weight: bold;}



// Paddings
.pad, [class*='span-']:last-of-type.pad{
    padding: $standard-padding;
}

.no-pad{
    padding:0 !important;
}

.pad-top{
    padding: $standard-padding 0 0 0 !important;
}

.pad-bottom{
    padding: 0 0 $standard-padding 0 !important;
}

.pad-right{
    padding: 0 $standard-padding 0 0 !important;
}

.pad-left{
    padding: 0 0 0 $standard-padding !important;
}

.pad-top-bottom{
    padding: $standard-padding 0 $standard-padding 0 !important;
}

.no-margin{
    margin: 0 !important;
}


@media only screen and (max-width: $screen-md) {
    .mobileHide{
        display: none !important;
    }
    
    .mobileShow{
        display: block !important;
    }
}


img.lazy-image {
    min-height: 1px;
    min-width: 1px;
}

.on-canvas {
    padding-top: 0;
}


.form-input:not([type="radio"]):not([type="checkbox"]):not(.quantity-input), .navigation-mobile .search-input:not([type="radio"]):not([type="checkbox"]):not(.quantity-input), .review-form .product-item-rating:not([type="radio"]):not([type="checkbox"]):not(.quantity-input){
    box-shadow: 0 0 0 1px #ccc inset;
    color: #444;
    cursor: pointer;

    &:hover{
        box-shadow: 0 0 0 1px #929396 inset;
    }
}


.form-inline-message{
    width: 100%;
    line-height: 1;
    position: relative;
    padding: 0 0 0 20px;
    // background-color: hsla(0, 100%, 68%, 0.11);

    &:before{
        content: "";
        position: absolute;
        left: 0;
        width: 15px;
        height: 15px;
        background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' id='icon-alert-triangle' viewBox='0 0 24 24' fill='%23FF5E5D'%3E%3Cpath d='M23 17.5l-8.4-14.2c-0.4-0.7-1.1-1.2-1.9-1.4s-1.6-0.1-2.3 0.3c-0.4 0.2-0.8 0.6-1 1 0 0 0 0 0 0l-8.4 14.3c-0.8 1.4-0.3 3.3 1.1 4.1 0.4 0.3 0.9 0.4 1.4 0.4h17c0.8 0 1.6-0.3 2.1-0.9 0.6-0.6 0.9-1.3 0.9-2.1-0.1-0.5-0.2-1.1-0.5-1.5zM21.2 19.7c-0.2 0.2-0.5 0.3-0.7 0.3h-17c-0.2 0-0.3 0-0.5-0.1-0.5-0.3-0.6-0.9-0.4-1.4l8.5-14.1c0.1-0.1 0.2-0.3 0.3-0.3 0.5-0.3 1.1-0.1 1.4 0.3l8.5 14.1c0.1 0.1 0.1 0.3 0.1 0.5 0.1 0.3-0.1 0.5-0.2 0.7z'%3E%3C/path%3E%3Cpath d='M12 8c-0.6 0-1 0.4-1 1v4c0 0.6 0.4 1 1 1s1-0.4 1-1v-4c0-0.6-0.4-1-1-1z'%3E%3C/path%3E%3Cpath d='M11.3 16.3c-0.2 0.2-0.3 0.4-0.3 0.7s0.1 0.5 0.3 0.7c0.2 0.2 0.4 0.3 0.7 0.3s0.5-0.1 0.7-0.3c0.2-0.2 0.3-0.5 0.3-0.7s-0.1-0.5-0.3-0.7c-0.4-0.4-1-0.4-1.4 0z'%3E%3C/path%3E%3C/svg%3E");
    }
}
