// glboal scrol car
%scrolling-inner{
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #777 #f2f2f2;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        width: 8px;
        border-radius: 5px;
        cursor: pointer;
    }

    &::-webkit-scrollbar-track {
        background: #f2f2f2;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #777 ;
        border-radius: 5px;
    }
}

%freeze-body{
    overflow: hidden;
    position: relative;
    max-height: 100vh;
}

.scroll-locked{
    @extend %freeze-body;
}

.show{
    display: block !important;
}

.hide{
    display: none !important;
}

.ieShow{
    @extend .hide;
    visibility: hidden !important;
    opacity: 0 !important;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .ieHide{
        display: none !important;
    }

    .ieShow{
        display: block !important;
        visibility: visible !important;
        opacity: 1 !important;
    }
}


.mobileHide{
    display: flex !important;

    @media only screen and (min-width: $screen-lg) {
        &--lg{
            display: none !important;
        }
    }
}

.mobileShow{
    display: none !important;

    @media only screen and (min-width: $screen-lg) {
        &--lg{
            display: flex !important;
        }
    }
}


// Justiied Text
.l{text-align: left}
.r{text-align: right;}
.c{text-align: center}
.j{text-align: justify;}

// Text Transform
.upper{text-transform: uppercase;}
.lower{text-transform: lowercase;}

// Text Weight
.lighter{font-weight: lighter;}
.bold{font-weight: bold;}



// Paddings
.pad, [class*='span-']:last-of-type.pad{
    padding: $standard-padding;
}

.no-pad{
    padding:0 !important;
}

.pad-top{
    padding: $standard-padding 0 0 0 !important;
}

.pad-bottom{
    padding: 0 0 $standard-padding 0 !important;
}

.pad-right{
    padding: 0 $standard-padding 0 0 !important;
}

.pad-left{
    padding: 0 0 0 $standard-padding !important;
}


@media only screen and (max-width: $screen-md) {
    .mobileHide{
        display: none !important;
    }
    
    .mobileShow{
        display: block !important;
    }
}


img.lazy-image {
    min-height: 1px;
    min-width: 1px;
}

.on-canvas {
    padding-top: 0;
}


.form-input:not([type="radio"]):not([type="checkbox"]):not(.quantity-input), .navigation-mobile .search-input:not([type="radio"]):not([type="checkbox"]):not(.quantity-input), .review-form .product-item-rating:not([type="radio"]):not([type="checkbox"]):not(.quantity-input){
    box-shadow: 0 0 0 1px #ccc inset;
    color: #444;
    cursor: pointer;

    &:hover{
        box-shadow: 0 0 0 1px #929396 inset;
    }
}
