// global scroll bar
%scrolling-inner{
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #f2f2f2;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        width: 8px;
        border-radius: $border-radius;
        cursor: pointer;
    }

    &::-webkit-scrollbar-track{
        background: #f2f2f2;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #777 ;
        border-radius: $border-radius;
    }
}

%freeze-body{
    overflow: hidden;
    position: relative;
    max-height: 100vh;
}

.scroll-locked{
    @extend %freeze-body;
}



// show/hide 

.show{
    display: block !important;
}

.hide{
    display: none !important;
}

.flex{
    display: flex !important;
}

.async-hide { opacity: 0 !important}


.ieShow{
    @extend .hide;
    visibility: hidden !important;
    opacity: 0 !important;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .ieHide{
        display: none !important;
    }

    .ieShow{
        display: block !important;
        visibility: visible !important;
        opacity: 1 !important;
    }
}


.mobileHide{
    display: flex !important;

    @media only screen and (min-width: $screen-lg) {
        &--lg{
            display: none !important;
        }
    }

    @media only screen and (max-width: $screen-lg) {
        &--lgMax{
            display: none;
            visibility: hidden;
            width: 0;
        }
    }
}

.mobileShow{
    display: none !important;

    @media only screen and (min-width: $screen-lg) {
        &--lg{
            display: flex !important;
        }
    }
}

@media only screen and (max-width: $screen-md) {
    .mobileHide{
        display: none !important;
    }
    
    .mobileShow{
        display: block !important;
    }
}




// Position
.align-right, [class*='col-']:last-of-type.align-right {
    float:right
}

.align-left, [class*='col-']:last-of-type.align-left {
    float:left
}

.align-center{
    margin: 0 auto;
    align-self: center;
}

.clearfix{
    clear:both;
}

.no-float{
    float:none !important;
}

@media only screen and (max-width: $screen-md) {
    .mobileAlign {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


// Justified Text
.l{text-align: left}
.r{text-align: right;}
.c{text-align: center}
.j{text-align: justify;}

// Text Transform
.upper{text-transform: uppercase;}
.lower{text-transform: lowercase;}

// Text Weight
.lighter{font-weight: lighter;}
.bold{font-weight: bold;}
.em{font-style: italic}

// Type
.serif{
    font-family: "DidotW01-DisplayRegular" !important;
}


// Box & Borders
.box-line{
    border: $standard-border;
}
.left-line{
    border-left: $standard-border;
}
.right-line{
    border-right: $standard-border;
}
.bottom-line{
    border-bottom: $standard-border;
}
.top-line{
    border-top: $standard-border;
}

.light-grey-line{
    border-color: #eee;
}
.grey-line{
    border-color: #ddd;
}

.round{
    border-radius: 50%;
}



// Paddings
[class*='span-']:last-of-type.pad, .pad{
    padding: $standard-padding !important;
}
.no-pad{
    padding: 0 !important;
}

.pad-top{
    padding: $standard-padding 0 0 0 !important;
}

.pad-bottom{
    padding: 0 0 $standard-padding 0 !important;
}

.pad-top-bottom{
    padding: $standard-padding 0 $standard-padding 0 !important;
}

.pad-right{
    padding: 0 $standard-padding 0 0 !important;
}


.pad-right-left{
    padding: 0 $standard-padding 0 $standard-padding !important;
}

.pad-left{
    padding: 0 0 0 $standard-padding !important;
}

@media only screen and (max-width: $screen-sm) {
    .pad-top-sm{
        padding: $standard-padding 0 0 0 !important;
    }
    
    .pad-bottom-sm{
        padding: 0 0 $standard-padding 0 !important;
    }
    
    .pad-top-bottom-sm{
        padding: $standard-padding 0 $standard-padding 0 !important;
    }
    
    .pad-right-sm{
        padding: 0 $standard-padding 0 0 !important;
    }
    
    .pad-right-left-sm{
        padding: 0 $standard-padding 0 $standard-padding !important;
    }
    
    .pad-left-sm{
        padding: 0 0 0 $standard-padding !important;
    }
   
}


@media only screen and (max-width: $screen-lg) {
    .pad-bottom-lg{
        padding-bottom: 100px !important;
    }

    .pad-top-lg{
        padding-top: $standard-padding !important;
    }
    
}


// padding overrides
.on-canvas {
    padding-top: 0px;
}



// Margins
.no-margin{
    margin: 0 !important;
}

.margin-top{
    margin-top: $standard-padding;
}

.margin-left{
    margin-left: $standard-padding;
}

.margin-right{
    margin-right: $standard-padding;
}

.margin-bottom{
    margin-bottom: $standard-padding;
}

.margin-top-lg{
    margin-top: 100px;

    @media only screen and (max-width: $screen-lg) {
        margin-top: 20px;
    }
}

.margin-bottom-lg{
    margin-bottom: 100px;

    @media only screen and (max-width: $screen-lg) {
        margin-bottom: 20px;
    }
}

.margin-left-lg {
    margin-left: 100px;
}

.margin-right-lg {
    margin-right: 100px;
   
}

@media only screen and (max-width: $screen-md) {
    .no-margin-sm {
        margin: 0 !important;
    }    
}


.margin-top-desktop{
    margin-top: 165px;

    @media only screen and (max-width: $screen-lg) {
        margin-top: 0;        
    }
}



// background
.bg--golden{
    background-color: $bg-golden;
}

.bg--dark{
    background-color: $bg-dark;
}

.bg--white{
    background-color: $bg-white;
}

.bg--grey{
    background-color: $bg-gray;
}

.bg--sand{
    background-color: $bg-sand;
}

.bg--brown{
    background-color: $bg-brown;
}

.bg-img {
    background-image: url(https://authenteak.s3.us-east-2.amazonaws.com/WS00035_042321_MayHomepageWireframe_Images/JPG/WS00035_TradeBanner_Full_Desktop.jpg);

    background-repeat: no-repeat;
    background-size: cover;

    @media only screen and (max-width: $screen-sm) {
        background-image: url(https://authenteak.s3.us-east-2.amazonaws.com/WS00035_042321_MayHomepageWireframe_Images/JPG/WS00035_TradeBanner_Full_Mobile.jpg);
        height: 280px;
        
    }
}

.bg-heroImg {
    background-image: url(https://authenteak.s3.us-east-2.amazonaws.com/WS00010_AprilHomepage_Images/WEBP/WS00010_HeroImageDesktop.webp);
    background-repeat: no-repeat;

    @media only screen and (max-width: $screen-sm) {
        background-image: url(https://authenteak.s3.us-east-2.amazonaws.com/WS00010_AprilHomepage_Images/WEBP/WS00010_HeroImageMobile.webp);
        z-index: 10;        
        
    }
}



// text
.text--golden{
    color: $text-golden;
}

.text--green{
    color: $text-green;
}

.text--white{
    color: $text-white;
}

.text--dark{
    color: $text-dark;
}

.text--navy{
    color: $bg-navy;
}

.text--charcoal{
    color: $text-charcoal;
}



// image
.lazy-image {
    min-height: 1px;
    min-width: 1px;
}

.flex-img{
    width: 100%;
    object-fit: contain;
}

//containers
.svg-container {
    width: 75%;

    @media only screen and (max-width: $screen-md) {
        margin: auto;
    }
}

.img-container {
    max-width: 450px;

    @media only screen and (max-width: 1199px) {
        max-width: 100%;
    }
}

.txt-container {

    text-align: left;
    font-size: 24px;

    @media only screen and (max-width:$screen-md) {
        text-align: center;
        font-size: 18px;
    }
}

.txt-container h3 {

    margin: 0;
    padding-top: 20px; 
    font-size: 35px;   

    @media only screen and (max-width:$screen-md) {
        margin: 0 0 10px;
        padding: 0;
        font-size: 25px;
    }
}

.banner-container {

    height: 200px;

    @media only screen and (max-width:$screen-sm) {
        height: 235px;        
    }
}

.stroke {
    border-top: 10px solid #353E5D;
    border-bottom: 10px solid #353E5D;
}

.stroke::after {
    content: '';
    

}
