.wishlist{
    &__item{
        border-bottom: 1px solid #eee;

        &:last-of-type{
            border: none;   
        }
    }

    &__link{
        display: flex;
        justify-content: space-between;
        padding: 10px;

        & svg{
            width: 10px;
            height: 10px;
            background: #eee;
        }
    }
}


.wishlist-form{
    padding: 0
}

.add-to-wishlist{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    @extend .round;
    line-height: 1;
    background-color: #eee;
    max-width: 30px;

    & .icon{
        fill: #4C7B9A;
    }
}

.add-to-wishlists{
    width: 200px;
    margin-left: -150px;
    padding: 10px;
    top: 115%;
    left: 50%;
    box-shadow: 3px 9px 20px 0px rgba(0, 0, 0, 0.10);
    flex-direction: column;
    border-radius: $border-radius;

    &::before{
        left: 75%;
    }

    &.visible{
        display: flex;
        z-index: 99;
    }
}
