.selectBox{

    & .toolTip--optionSelect{
        top: -6px;
    }
    
    &__label{
        @extend .product__swatchLabel;
        height: 70px;
        flex-direction: column !important;
        position: relative;

        &--error{
            @extend .product__swatchLabel--error;
        }

        &:after {
            @include icon-arrow-down(#333);
            position: absolute;
            top: 50%;
            right: 20px;
            display: inline-block;
            width: 15px;
            height: 15px;
            margin-top: -(15px/2);
            pointer-events: none;
            content: "";
        }
    }

    &__text{
        @extend .product__swatchText;
        padding-left: 0px !important;
        width: auto;
        position: absolute;
        // z-index: 9;
        left: 18px;
        top: 17px;

        &--right{
            @extend .product__swatchText--right;
        }

        &--globalControl{
            @extend .product__swatchText--right;
            padding: 5px 15px;
            border: 1px solid #eee;
            margin-top: 15px;
            display: flex;
            justify-content: space-between;
            align-content: center;
            align-items: center;
            height: 70px;
        }
    }

    &__optionText{
        @extend .product__swatchOptionText;
        width: 100%;
    }

    &__name{
        @extend .product__swatchName;
        @extend .product__swatchDisplayName;

        &--labelLeft{
            @extend .product__swatchName--labelLeft;
        }
    }

    &__value{
        @extend .product__swatchValue;
        font-size: 0.75rem;
        display: block !important;
        padding-left: 0 !important;
        width: 80%;

        &:before{
            display: none;
        }

        &--normal{
            margin: 15px 0 !important;
            font-size: 0.94rem !important;
            width: 100%;
        }

        &--chosen{
            padding: 0 0 0 16px !important;

            &:after{
                position: absolute;
                content: "";
                @include icon-check-mark($btn-color-green);
                width: 12px;
                height: 12px;
                top: 50%;
                left: 0;
                margin-top: (-12px/2);
            }
        }
    }

    &__select{
        position: absolute;
        height: 100% !important;
        width: 100% !important;
        top: 0px;
        left: 0px;
        background-color: transparent;
        border: none;
        outline: none;
        opacity: 0;
        box-shadow: none;
    }

}