%cell-style{
    padding: 10px;
    text-align: left;
    border-color: #ddd;
    width: 50%;
}

.table{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    border-color: #ddd;
    flex-direction: column;

    &--compare{
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #ccc;
    }

    &__title{
        width: 100%;
        font-weight: 800;
        font-size: 1.2rem;
        line-height: 1;
        padding-bottom: 5px;
        margin: 40px 0 0 0;
        border-bottom: 1px solid #ccc;
    }

    &__head{
        display: flex;
        width: 100%;

        &--compare{
            & .table__headLabel{
                width: 300px;
                border: none;
            }

            & .table__headHeading{
                border: none;
                text-align: center;
            }

            & .table__headRow{
                border: none;
            }
        }
    }

    &__headRow{
        width: 100%;
        display: flex;
        flex-direction: row;
        border-color: #ddd;
    }

    &__headLabel{
        @extend %cell-style;
    }

    &__headHeading{
        @extend %cell-style;
        font-weight: 600;
        color: inherit;
        text-transform: capitalize;
    }

    &__headText{
        font-weight: 600;
        color: inherit;
        text-transform: capitalize;
    }

    &__headImg{
        width: 100%;
        object-fit: contain;
    }

    &__body{
        display: flex;
        flex-direction: row;
        width: 100%;
        flex: 1 0 auto;
        flex-wrap: wrap;
        border-color: #ddd;

        &--compare{
            flex-direction: column;
            border-right: 1px solid #ddd;

            & .table__cellLabel{
                width: 300px;
            }

            & .table__cellRow{
                width: 100%;
            }

            & .table__cellValue{
                text-align: center;
            }
        }
    }

    &__cellRow{
        width: 50%;
        display: flex;
        flex-direction: row;
        border-color: #ddd;

        @media only screen and (max-width: $screen-sm) {
            width: 100%;
        }
    }

    &__cellLabel{
        @extend %cell-style;
        background-color: #eee;
    }

    &__cellValue{
        @extend %cell-style;
        background-color: #fff;
        word-wrap: break-word;
    }
}