
.shipping-range--tipLink{
    background-color: transparent;
    margin: 0;
    padding: 0;
    line-height: 1;
    // height: 17px;
}


.toolTip{
    margin-right: 10px;
    display: none;

    &__freezeBody{
        @extend %freeze-body;
    }

    &--show{
        display: block;
    }

    &--optionSwatch {
        left: -7px;
        top: -7px;
        position: absolute;
        z-index: 9;
        margin: 0;
    }

    &--optionSelect{
        @extend .toolTip--optionSwatch;
    }

    &__heading{
        color: #333;

        &--2{
            margin-top: 0;
            text-transform: none;
            color: #333;
        }

        &--5{
            margin-bottom: 10px;
            font-weight: 800;
            text-transform: none;
            color: #333;
        }
    }

    &__text{
        font-style: normal;
        text-decoration: none;
        font-weight: 400;
        text-transform: none;
        line-height: 1.5;
        font-size: 1rem;
        color: #333;

        @media only screen and (max-width: $screen-sm) {
            font-size: 1.3rem;
        }
    }

    &__listItem{
        @media only screen and (max-width: $screen-sm) {
            font-size: 1.3em;
        }
    }

    &__iconCntr{
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0;
        border-radius: 50px;
        width: 17px;
        height: 17px;
        padding: 3px;
        background-color: transparent;
        position: absolute;
        top: -8px;
        left: -9px;

        &--dark{
            background-color: #1c48bc;
        }
    }

    &__icon{
        width: 17px;
        height: 17px;

        &--blue{
            fill: #1c48bc;
        }

        &--white{
            fill: #fff;
        }

        &--dark{
            background-color: #777;
        }
        
    }

    &__cntr{
        @extend .modal__wrapper;
        padding: 40px;
        max-height: 600px !important;
        overflow-y: auto !important;
        overflow-x: hidden !important;

        &--show{
            // @extend .zoomIn;
            // opacity: 1;
            // left: auto;
            visibility: visible;
            // z-index: 9999;
            animation-name: remodal-opening-keyframes;
        }
    
        &--hide{
            // @extend .zoomOut;
            // opacity: 0;
            // left: -9999px;
            visibility: hidden;
            // z-index: -9999;
            animation-name: remodal-closing-keyframes;
        }

        &--withTabs{
            overflow: hidden !important;
            padding: 0;
            box-shadow: none;
            background-color: transparent;
            width: 100vw;
            // height: 100vh !important;
            max-height: inherit;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            // margin: 0 !important;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            background-color: rgba(0, 0, 0, 0.75);
            border-radius: 0;
            animation-duration: 0.3s;
            animation-fill-mode: forwards;

            @media only screen and (max-width: $screen-sm) {
                padding: 0 !important;
            }

            & .toolTip__closeIcon{
                fill: #555;
            }
        }

        &--small{
            width: 50vw;
            margin-left: (-50vw / 2);
            margin-top: (-50vh / 2);
            padding: 10px;
        }

        @media only screen and (max-width: $screen-sm) {
            width: 85vw;
            margin-left: (-85vw / 2);
            padding: 50px 20px 20px 20px;
        }
    }

    &__closeIcon{
        width: 40px;
        height: 40px;
        fill: #555;

        @media only screen and (max-width: $screen-sm) {
            width: 25px;
            height: 25px;
        }
    }

    &__closeBtn{
        position: absolute;
        top: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
        padding: 0;
        margin: 0;
        background-color: transparent;
        z-index: 9999;

        &--whiteBack{
            background-color: #fff;
            width: 50px;
            height: 50px;
        }

        @media only screen and (max-width: $screen-sm) {
            top: 5px;
            right: 5px;
            width: 25px;
            height: 25px;
        }
    }

    // Tool Tip Tabs
    &__tabsCntr{
        position: relative;
        clear: both;
        height: 100%;
        width: 75vw;
        max-height: 600px;
        display: flex;
        flex-direction: row;
        background-color: #fff;
        border-radius: $border-radius;
        box-shadow: 20px 20px 50px 20px rgba(0, 0, 0, 0.57);
        animation-name: remodal-opening-keyframes;

        & [type=radio]:checked ~ label {
            background: rgba(110, 164, 56, 0.09);
            z-index: 2;
            color: $btn-color-green;
            border-bottom-color: $btn-color-green;
        }

        [type=radio]:checked ~ label ~ .toolTip__tabContent {
            z-index: 1;
        }

        @media only screen and (max-width: $screen-sm) {
            width: 100%;
        }
    }

    &__tab{
        float: left;
        flex: 1 0 auto;
        width: auto;
        height: 100%;
        display: flex;
    }

    &__tabControl{
        display: none;
    }

    &__tabLabel{
        color: #999;
        padding: 20px;
        font-size: 1.6rem;
        width: 100%;
        flex: 1 0 auto;
        height: 85px;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        cursor: pointer;
        border-left: 1px solid #fff;
        margin-bottom: 20px;
        z-index: 99;
        border-bottom: 3px solid #f9f9f9;

        @media only screen and (max-width: $screen-sm) {
            font-size: 1rem;
            line-height: 1;
            height: 80px;
            align-items: flex-end;
        }

        &:hover{
            background: rgba(110, 164, 56, 0.05);
        }
    }

    &__tabContent{
        @extend %scrolling-inner;
        position: absolute;
        background: white;
        top: 90px;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 40px 40px 10px 40px;
        width: 100%;
        overflow: auto;

        @media only screen and (max-width: $screen-sm) {
            padding: 20px;
        }
    }


}


.product-options-container .toolTip__iconCntr{
    top: -1px;
    left: -1px;
}



/* Keyframes
   ========================================================================== */

@keyframes remodal-opening-keyframes {
	from {
		transform: scale(1.05);
		opacity: 0;
	//   visibility: hidden;
	//   left: auto;
	}
	to {
		transform: none;
	//   visibility: visible;
		opacity: 1;
	}
}
  
@keyframes remodal-closing-keyframes {
	from {
		transform: scale(1);
	//   visibility: visible;
		opacity: 1;
	}
	to {
		transform: scale(0.95);
		opacity: 0;
	//   visibility: hidden;
	}
}
  
@keyframes remodal-overlay-opening-keyframes {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	//   visibility: visible;
	}
}
  
@keyframes remodal-overlay-closing-keyframes {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	//   visibility: hidden;
	}
}
