html{
  scroll-behavior: smooth;
}

.container, .top-bar .container, .top-bar .product-tabs, .main-content .container{
    max-width: $standard-width;
}

.main-content{
  margin: 0 !important;
}
  
  // @media only screen and (max-width: $screen-lg) {
  //   margin-top: 50px;
  // }


.container, .product-tabs, .account-wrapper{
    padding: 0 2vw;
}

/*Gen Styles*/
.section {
    padding: 0 0;

    @media only screen and (max-width: $screen-sm) {
        padding: 0;
    }
}

.site-canvas{
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin-top: 163px;
  // transition: margin-top 0.25s ease;

  // @media only screen and (min-width: $screen-md) and (max-width: 1600px) {
  //   margin-top: 13%;
  // }

  // @media only screen and (min-width: 1400px) and (max-width: 1800px) {
  //   margin-top: 10%;
  // }

  // @media only screen and (min-width: 1800px) {
  //   margin-top: 9%;
  // }
}

[class*='span-'], %span {
    float: left;
    padding: $standard-padding;
    position: relative;
}


[class*='span-']:last-of-type {
    // padding-right: $standard-padding - 2;
    float: right;
}


// Defaults ~ Mobile Portrait
@include make-default-grid;

// Mobile Landscape
@media only screen and (min-width: $screen-xs) {
  @include make-grid(xs);
}

// Tablet Portrait
@media only screen and (min-width: $screen-sm) {
  @include make-grid(sm);
}

// Tablet Landscape
@media only screen and (min-width: $screen-md) {
  @include make-grid(md);
}

// Desktop
@media only screen and (min-width: $screen-lg) {
  @include make-grid(lg);
}

// Desktop Wide & HD TV
@media only screen and (min-width: $screen-xl) {
  @include make-grid(xl);
}
