.container, .top-bar .container, .top-bar .product-tabs, .main-content .container{
    max-width: $standard-width;
}

.container, .product-tabs, .account-wrapper{
    padding: 0 2vw;
}

/*Gen Styles*/
.section {
    padding: 0 0;

    @media only screen and (max-width: $screen-sm) {
        padding: 0;
    }
}

.site-canvas{
  padding: 0 !important;
  margin-top: 163px;

  @media only screen and (max-width: $screen-md) {
    margin-top: 150px;
  }

  @media only screen and (min-width: $screen-xl) {
    margin-top: 13%;
  }
}

[class*='span-'], %span {
    float: left;
    padding: $standard-padding;
    position: relative;
}


[class*='span-']:last-of-type {
    // padding-right: $standard-padding - 2;
    float: right;
}


// Defaults ~ Mobile Portrait
@include make-default-grid;

// Mobile Landscape
@media only screen and (min-width: $screen-xs) {
  @include make-grid(xs);
}

// Tablet Portrait
@media only screen and (min-width: $screen-sm) {
  @include make-grid(sm);
}

// Tablet Landscape
@media only screen and (min-width: $screen-md) {
  @include make-grid(md);
}

// Desktop
@media only screen and (min-width: $screen-lg) {
  @include make-grid(lg);
}

// Desktop Wide & HD TV
@media only screen and (min-width: $screen-xl) {
  @include make-grid(xl);
}