$flyout-width: 100%;
$flyout-height: 520px;
$flyout-item-width: 19%;

.flyout {
	position: absolute;
	width: $flyout-width;
	top: 48px;
	left: 0vw;
	z-index: 9999;
	height: $flyout-height;
	display: none;

	
	&__underlay{
		position: fixed;
		content: "";
		top: 157px;
		left: 0;
		width: $flyout-width;
		height: 100vh;
		background: rgba(102, 102, 102, 0.45);
		z-index: 99;
		display: flex;
		animation-duration: 300ms;
		animation-fill-mode: forwards;
		animation-name: remodal-overlay-opening-keyframes;
	}

	&__content{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 999;
		display: flex;
		width: $flyout-width;
		box-shadow: 3px 9px 11px 0px rgba(0, 0, 0, 0.25);
		height: $flyout-height;
		justify-content: flex-start;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: stretch;
		align-content: stretch;
		// padding: 1vh 2vw;
		background-color: #f6f6f6;
		
		&--short{
			padding-bottom: 10rem;
		}

		&--Brands{
			&::after{
				display: none;
			}
		}

		&--Outdoor{
			& .flyout__list{
				max-width: 15%;
				padding: 1.5rem 0 0 1.5rem;
			}
		}
	}


	&__list {
		padding: 1.5rem 1.5rem 0 1.5rem;
		margin: 0;
		max-width: $flyout-item-width;
		flex: 1 0 auto;

		@media only screen and (max-width: $screen-xl) {
			padding: 1.5rem 1rem 0 1rem;
			max-width: 19%
		}

		&--feature {
			background-color: #dddddd;
			padding: 1rem 1.5rem;
			order: 10;
			align-self: flex-end;
			height: 100%;
			position: relative;

			&::after{
				position: absolute;
				content: "";
				width: 100%;
				left: 0;
				top: 0px;
				height: $flyout-height;
				background-color: #dddddd;
				z-index: -1;
			}
		}
	}

	&__item {
		padding: 0.35em 0;
		line-height: 1;

		&--noSpace {
			padding: 0;
		}
	}

	&__listHeading {
		margin: 0;
		font-weight: 800;
		font-size: 1.1rem;
		line-height: 1;
	}

	&__listLink {
		font-size: 1rem;
		line-height: 1.4;

		@media only screen and (max-width: $screen-xl) {
			font-size: 0.8rem;
		}

		@media only screen and (max-width: $screen-md) {
			font-size: 1rem;
		}

		&:hover {
			text-decoration: underline !important;
		}
	}
}

@keyframes remodal-overlay-opening-keyframes {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes remodal-overlay-closing-keyframes {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
