%flex-full-width-footer{
    display: flex;
    width: 100%;
    flex: 1 0 auto;
}

.footer{
    @extend %flex-full-width-footer;
    background-color: #fafafa;
    flex-direction: column;

    // top
    &__upper{
        @extend %flex-full-width-footer;
        border-bottom: 1px solid #ccc;
        padding: 20px 3vw;
        justify-content: space-between;
        align-content: center;
        align-items: center;
    }

    &__callOut{
        display: flex;
        background-color: transparent;
    }

    &__callText{
        margin-left: 10px;
        line-height: 1.2;   
        align-content: flex-start; 
        align-items: flex-start;
        display: flex;
        flex-direction: column
    }



    // mid
    &__main{
        @extend %flex-full-width-footer;
        padding: 40px 2vw;
        justify-content: space-between
    }

    &__list{
        @extend .flyout__list;
        width: 20%;
    }

    &__item{
        @extend .flyout__item;

        &--social{
            display: flex;
            flex: 1 0 auto;
            margin-top: 20px
        }  

        &--socialLinks{
            justify-content: space-between;
            display: flex;
            flex: 1 0 auto;
        }

        &--heading{
            @extend .flyout__item--heading;
        }
    }

    &__listHeading {
		margin: 0;
		font-weight: 800;
		font-size: 1.3rem;
		line-height: 1;
	}

    &__listLink{
        @extend .flyout__listLink;
    }


    // bottom
    &__lower{
        @extend %flex-full-width-footer;
        background-color: #f2f2f2;
        padding: 20px 3vw;
        align-items: center;
    }

    &__seal{
        margin-right: 40px;
    }

    &__legal{
        display: flex;
        flex-direction: column;
    }
}
