// main nav area


.main-nav-bar {
    @media screen and (max-width: $screen-lg + 5){
        display: none;
    }
}


.main-nav-bar > .nav-container-wide {
    max-width: $standard-width;
}

.main-nav-bar > .container {
    &, .compressed & { height: 3rem; }
}

.nav-container-wide .navigation {
    width: 100%;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &:before{
        display: inline;
    }
}

.navigation > ul[enhancednav]{
    display: flex;
    width: 100%;
    max-width: $standard-width;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.main-nav-bar > .nav-container-wide .navigation ul li {
    margin-right: 0;
    position: relative;
}

@media screen and (max-width: 1023px) {
    header.site-header.compressed ~ .site-canvas .navigation-mobile {
        margin-top: -30px;
    }
}

.navigation-mobile{
    .icon-phone{
        width: 18px;
        margin-right: 11px;
    }
}


// flyout
.mega-nav.dropdown-open {
    > a {
        height: auto !important;
        min-height: 3.5rem;
        padding-bottom: 1rem;
    }
}

.mega-nav.dropdown-open > a, .mega-nav.hover-dropdown:hover > a{
    height: auto;
}

.mega-nav.hover-dropdown{
    flex: 1 0 auto;
    display: flex;

    &:first-of-type{
        .top-level-nav-link{
            padding-left: 0 !important;
        }
    }

    &:last-of-type{
        margin: 0 !important;

        .top-level-nav-link{
            padding-right: 0 !important;
        }
    }

    @media screen and (min-width: $screen-lg){
        margin: 0 !important;
    }
}

.mega-nav.hover-dropdown:hover {
    @extend .mega-nav.dropdown-open;
}

.mega-nav.hover-dropdown .dropdown-panel {
    visibility: visible;
    transition-delay: 0s;
    left: -1000vw;
    opacity: 0;
    padding: 0;
    min-width: 800px;
    width: auto;
    overflow: visible;
    background: transparent;
}

.dropdown-panel-wrapper{
    position: absolute;
    top: 0;
    height: auto;
    left: 0;
}

.mega-nav.hover-dropdown:hover .dropdown-panel {
    @extend .dropdown-panel.visible;
    // left: 50%;
    left: 0;
    transition: left 0s, opacity 0.25s ease;
    transition-delay: 0.25s, 0.25s;
}



.mega-nav-panel {

    & .container{
        padding: 0;
    }

    &, .compressed & { 
        top: 44px;
    }
}

.mega-nav-landing{
    position: absolute !important;
    right: -384px;
    height: 100%;
    background-color: #fff;
    width: auto !important;
    display: flex !important;
    border-top-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 0;

    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}

.mega-nav-landing-wrapper{
    padding: 0 !important;
}

/* Mega Nav - Common Styles (Columns or Flex) */
.mega-nav-list {
    text-align: left;
    // height: calc(100vh - 240px);
    max-height: 500px;
    // margin-bottom: 1.5rem;
    padding: 20px 20px 10px 20px !important;

    &--less-content { max-height: 300px; }
    &--even-less-content { max-height: 200px; }

    @media screen and (-ms-high-contrast: none) {
        height: 450px;

        &--less-content { height: 300px; }
        &--even-less-content { height: 200px; }
    }

    ul ul{
        display: none;
    }

    a {
        line-height: 1.15em;
        margin: 0;
        text-indent: -0.5rem;
        color: $color-link;

        &.highlight-red { color: #c0392b; }
        &.shop-all { font-style: italic; }
    }

    & .parent--collapse{
        margin: 0 0 10px 0 !important;
    }

    .parent {
        margin-bottom: 20px;
        white-space: normal;
        width: auto !important;
        padding: 0 20px 0 0;
        display: flex;
        text-align: left;
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: nowrap;

        &--collapse {
            margin-bottom: 20px;
        }

        > a {
            font-size: rem-calc(16);
            font-weight: bold;
        }

        // Necessary to space out categories with children, but collapse adjacent flat categories
        // &.has-children {
        //     &:before, &:after {
        //         content: '';
        //         display: block;
        //         float: left;
        //         clear: both;
        //         height: 1.5rem;
        //     }

        //     > a { clear: both; }
        // }

        ul.children li:nth-child(10) {
            &, & ~ li { display: none; }
        }

        &__child{
            font-style: normal
        }

        &__childItem{
            font-style: normal
        }

        &__childLink{
            font-style: normal
        }
    }

    .children a {
        opacity: 1;
        color: lighten($color-link, 25%);
    }
}



// Temporary for static menu
.mega-nav-list--shop-by-brand > li {
    margin-bottom: 0.5rem;
    padding: 0 1.5rem 0 0;
    white-space: normal;
    > a {
        font-size: rem-calc(16);
        font-weight: bold;
    }
}



/* Mega Nav - CSS Columns */
// .mega-nav-list {
//     display: block;
//     column-count: 4;
//     column-fill: balance;
// }

/* Mega Nav - Flexbox */
.mega-nav-list {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    padding: 0 20px;

    &--short{
        height: 80%;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .parent {
        width: 25%;
    }
}

.mega-nav-item-hightlight{
    color: red !important;
    font-weight: 800;
}

.mega-nav-landing-wrapper {
    display: flex;
    justify-content: center;
    padding: 0 0 20px 0;
    flex-direction: row;
    flex-wrap: wrap;

    .mega-nav-landing {
        flex: 1 0 auto;
        width: 30%;
        order: 10000;
        margin: 0;

        + .mega-nav-landing { display: none; }

        &, a {
            display: block;
            position: relative;
        }

        a { cursor: pointer; }

        .landing__image {
            display: block;
            width: 384px;
            height: 100%;
            object-fit: cover;
        }

        .landing__caption {
            position: absolute;
            display: block;
            bottom: 0;
            right: 0;
            width: 100%;
            padding: 5px;
            background: rgba(255, 255, 255, 0.75);
            color: #000;
            text-align: center;

            &:after {
                content: ' >';
            }
        }
    }

    .mega-nav-landing-list-wrapper { 
        flex: 1 0 auto; 
        width: 70%;
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        // box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
        border-top-left-radius: 5px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 5px;
        overflow: hidden;
        background: #fff;
    }

    .mega-nav-landing ~ .mega-nav-landing-list-wrapper .mega-nav-list {
        align-content: stretch;
    }

}
