.nav-mobile-open{

    .site-canvas{
        &:before{
            content: "";
            background-color: rgba(0, 0, 0, 0.85);
            position: fixed;
            z-index: 900;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }
    }

    .button-mobile-nav-toggle--active {
        position: absolute;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 999999;
        left: 85vw;
        top: -90px;
        background: transparent;
        width: 40px;
        height: 40px;
        padding: 0;
        text-align: center;
        display: flex;
        justify-content: center;
    
        & .burger{
            background: #fff;
            width: 26px;
    
            &:before{
                background: #fff;
                width: 26px;
            }
            
        }
    }

    & .button-mobile-nav-back{
        justify-content: left;
        align-items: center;
        align-content: center;
        width: 100%;
        text-align: left;
        padding: 15px 0;
        font-size: 1.1rem;
        line-height: 1;
        font-weight: 800;
        text-transform: uppercase;
        border-bottom: 1px solid #d5dbdb;

        & .icon-arrow-down{
            width: 10px;
            height: 10px;
            transform: rotate(90deg);
            margin: 0 5px 0 0;
        }
    }
}

@media screen and (max-width: $screen-lg + 5){
    .nav-mobile-open .navigation-mobile {
        display: block !important;
    }
}

.button-mobile-nav-toggle--active{
    display: none;
}



.mobileNav__menuFeatured{
    color: #333;
    text-align: center;
    line-height: 1.2;
    margin-top: 0;
}

.nav-mobile-panel.is-left {
    -ms-transform: translateX(-150%);
    transform: translateX(-150%);
}

.navigation-mobile{
    position: fixed;
    z-index: 1000;
    top: 0 !important;
    width: 80%;
    height: 100vh;
    display: none;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.97);
    -webkit-overflow-scrolling: touch;
    z-index: 9999;
    padding-bottom: 60px;

    & .navigation{
        border-bottom: 1px solid #d5dbdb;
    }
}

.mobileNav__menuImg{
    width: 100%;
    object-fit: contain;
}

.mobileNav__menuTitle {
    text-transform: uppercase;
    color: #999;
    font-size: 1.2em;
}
.nav-mobile-item--seperator {
    margin-top: 5px;
    border-top: 1px solid #c0c2c9;
    padding-top: 5px;
}
.nav-mobile-item--image{
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid #d5dbdb;
}

.nav-mobile-panel-title{
    color: #333 !important;
    font-weight: 600;
    font-size: 1.1rem !important;
}

.nav-mobile-panel-title-link{
    @extend .nav-mobile-panel-title;
    padding: 0 !important;
}

.nav-mobile-link{
    display: flex !important;
    justify-content: left;
    align-items: center;
    align-content: center;
    color: #333 !important;
    font-weight: 400;
    font-size: 16px !important;

    & .icon-arrow-down{
        flex: 0 0 auto;
        width: 10px;
        height: 10px;
    }
}

.nav-mobile-text{
    flex: 1 0 92%;
    text-transform: capitalize;
    font-size: 1.1rem;
    line-height: 1.4;
}

.button-util{
    display: block !important;
    color: #333 !important;
}
