<script
  id="bolt-connect"
  type="text/javascript"
  src="https://connect.bolt.com/connect-bigcommerce.js"
  data-publishable-key="3ximKwUWJJ6Q.SC4loucq5R6G.7c46996f8803dcf5a87ddc1ef5f9a9c866bbcb290f9c4ba450c92ef72081e578"
  data-shopping-cart-id="BigCommerce">
</script>
<div class="cart-totals-column">
  {{> components/cart/coupon-codes}}
</div>

<div class="cart-totals-column cart-totals-column--last">
  <div class="cart-sub-total cart-totals-item">
    <span class="cart-total-label">{{lang 'cart.sub_total'}}</span>
    <span class="cart-total-item">{{cart.sub_total.formatted}}</span>
  </div>

  {{#each cart.taxes}}
    <div class="cart-totals-item">
      <span class="cart-total-label">{{name}}:</span>
      <span class="cart-total-item">{{cost.formatted}}</span>
    </div>
  {{/each}}

  {{#if cart.discount.formatted}}
    <div class="cart-totals-item">
      <span class="cart-total-label">{{lang 'cart.discount'}}</span>
      <span class="cart-total-item">{{cart.discount.formatted}}</span>
    </div>
  {{/if}}

  {{#if cart.coupons}}
    <div class="cart-totals-item">
      <span class="cart-total-label">
        {{lang 'cart.coupon_codes.coupon_code'}}
      </span>
      <ul class="coupons-active list-bulleted">
        {{#each cart.coupons}}
          <li>
            {{lang 'cart.coupon_codes.label' code=code}}
            <span class="cart-total-item">{{discount.formatted}}</span>
            <a class="link" href="{{remove_url}}">
              {{lang 'cart.coupon_codes.remove'}}
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
  {{/if}}

  {{!-- > components/cart/shipping-calculator cart.shipping_handling --}}
  {{#if settings.gift_certificates_enabled}}
    {{> components/cart/gift-certificates}}
  {{/if}}

  {{#if cart.gift_wrapping_cost.value ">" 0}}
    <div class="cart-totals-item">
      <span class="cart-total-label">{{lang 'cart.gift_wrapping.title'}}</span>
      <span class="cart-total-item">{{cart.gift_wrapping_cost.formatted}}</span>
    </div>
  {{/if}}

  <div class="cart-grand-total cart-totals-item">
    <span class="cart-total-label">{{lang 'cart.grand_total'}}</span>
    <span class="cart-total-item grand-total">
      {{cart.grand_total.formatted}}
    </span>
  </div>
  <div class="cart-actions">
    <!-- <a class="button button-secondary button-wide" href="{{urls.home}}">
      {{lang 'cart.keep_shopping'}}
    </a> -->
    <div class="bolt-button-wrapper" style="display: contents;">
        <!--To change the theme color place the new hex color after --bolt-primary-action-color-->
      <div class="bolt-checkout-button large-width with-cards responsive bolt-multi-step-checkout" style="--bolt-primary-action-color:#6ea438"></div>
    </div>
    <a
      class="button button-primary button-wide button-checkout"
      href="{{urls.checkout.single_address}}"
      style="display:none"
    >
      {{lang 'cart.checkout'}}
    </a>
    {{#if cart.show_multiple_address_shipping}}
      <a class="checkout-multiple" href="{{urls.checkout.multiple_address}}">
        {{lang 'cart.checkout_multiple'}}
      </a>
    {{/if}}
  </div>

  {{#if cart.additional_checkout_buttons.length}}
    <div class="cart-additional-checkout-buttons">
      {{#each cart.additional_checkout_buttons}}
        {{{this}}}
      {{/each}}
    </div>
  {{/if}}

  <a class="prop-link">California's Residents see Proposition 65 Information</a>
  
  <div class="prop-wrapper">
      <h4>Proposition 65</h4>
    <p class="prop-text">California's Proposition 65 entitles California consumers to special warnings for certain products that contain chemicals above certain threshold levels.</p>
    <p>⚠WARNING: Furniture products can expose you to chemicals including lead which is known to the State of California to cause cancer or birth defects or other reproductive harm.</p>
    <p>⚠WARNING: Outdoor heating and fire products can expose you to chemicals including carbon dioxide which is known to the State of California to cause cancer or birth defects or other reproductive harm.</p>
    <p>For more information, go to <a href="www.P65Warnings.ca.gov/">www.P65Warnings.ca.gov/</a></p>
        
    <h5>For Weber Grills</h5>
    <p>This product can expose you to chemicals including nickel, which is known to the State of California to cause cancer, birth defects, or other reproductive harm.  For more information go to <a href="http://www.P65Warnings.ca.gov" target="_blank" title="P65 Warnings">www.P65Warnings.ca.gov</a>.</p>
  </div>
</div>

<script>
/**
 * NOTE: this is a hack.
 * This is only a hack.
 * This needs to be done at the paypal level becasue...it's a hack.
 * This simply replaes the amazon button with a new one
*/

(function(document, window){

  const change = {
    chainAsync: fns => { let curr = 0;  const next = () => fns[curr++](next); next(); },
    
    init: () => {
      change.chainAsync([
        next => { setTimeout(swapButtonAmazon, 2000);  setTimeout(next, 2001); },
        next => { setTimeout(showButtonAmazon, 1000); },
      ]);
    }
  }; 


  // swap out the amazon pay button ~ kamakizi style
  function swapButtonAmazon(){
    if (!window.OffAmazonPayments){ throw "SCRIPT_NOT_LOADED";}


    let amazonBtn = document.getElementById("CheckoutButtonAmazon0").querySelector(".amazonpay-button-inner-image");

    amazonBtn.src = "//authenteak.com/content/amazon-pay-btn.png";
    amazonBtn.srcset = "//authenteak.com/content/amazon-pay-btn.png";

    amazonBtn.style.opacity = 1;
  }


  function showButtonAmazon(){
    document.getElementById("OffAmazonPaymentsWidgets0").classList.add("amazonpay-button-inner-image--show");
  }


  // wait until the amazon script has loaded.
  try {
    change.init();

  } catch (error) {
    if (error === 'SCRIPT_NOT_LOADED' && document.getElementById("OffAmazonPaymentsWidgets0")) {
      document.addEventListener('DOMContentLoaded', change.init);
    
    }else{
      throw "SCRIPT_NOT_LOADED";
    }
  }

}(document, window));
</script>

<script>

var originalCheckoutButton = document.querySelector(".cart-actions .button-primary");
var boltButtons = document.getElementsByClassName("bolt-button-wrapper");

if (true) {
    for (var i = 0; i < boltButtons.length; i++) {
       boltButtons[i].style.display = 'contents';
    }
    originalCheckoutButton.style.display = 'none';
}

var interval = setInterval(function(){
if (window.BoltCheckout) {
    console.log("HIT INTERVAL")
    window.BoltCheckout.setClientCustomCallbacks({
        success : function(trx){
            fbq('track', 'Purchase', {
                value: trx.amount.amount / 100.0,
                currency: 'USD',
            });
        }
    });
    window.BoltCheckout.reloadBigCommerceCart(false);
    clearInterval(interval);
}
}, 200);

var config = { childList: true, subtree: true };
	// Change totalClassName
var totalClassName = "grand-total";
var totalPrice = "";
var callback = function(mutationsList) {
    var elms = document.getElementsByClassName(totalClassName);
    if (elms.length == 0) {
        return;
    }
    var newPrice = elms[0].innerHTML;
    console.log('newprice: ', newPrice);
    if (newPrice !== totalPrice && window.BoltCheckout) {
        console.log("Called Reload");
        window.BoltCheckout.reloadBigCommerceCart(false);
    }
    totalPrice = newPrice;
};
new MutationObserver(callback).observe(document.body, config);

</script>
