{{!
  @param nav_items > either "pages" or "categories", passed from parent template
  @param parent > "parent" category
}}
<div class="dropdown-panel-wrapper">
	<div class="dropdown-panel mega-nav-panel">
		<div class="container">
			<div class="mega-nav-landing-wrapper" id="category_{{parentId}}">

				<div class="mega-nav-landing"></div><!-- desktop nav image -->

				<div class="mega-nav-landing-list-wrapper">
					<ul class="mega-nav-list {{#if theme_settings.wrap-meganav}}wrap-cols{{/if}}">
					{{#each nav_items}}
						{{#startsWith "Shop by Collection" name}}{{ else }}

						{{#if ../../parentId '==' '1196'}} {{!-- if Shop All Brands ---}}
						<li class="parent parent--collapse tier-dropdown">
						{{else}}
						<li class="parent {{#if children}}has-children{{else}}parent--collapse{{/if}} tier-dropdown">
						{{/if}}

							<a itemprop="url" href="{{url}}" title="{{name}}" {{#if image}}data-category-image="{{getImage image "large"}}"{{/if}}>
								<span itemprop="name">{{name}}</span>
							</a>

							{{#if children}}

							{{#if ../../../parentId '==' '1196'}} {{!-- if Shop All Brands ---}}
							{{else}}
							<ul parentid='{{../../../parentId}}'>
								{{#each children}}
								<li>
									<a itemprop="url" title="{{name}}" href="{{url}}" {{#if image}}data-category-image="{{getImage image "large"}}" {{/if}}>
										<span itemprop="name">{{name}}</span>
									</a>
								</li>
								{{/each}}
							</ul>
							{{/if}}

							{{/if}}
						</li>
						{{/startsWith}}
					{{/each}}
					</ul>
				</div>
			</div>
		</div><!-- end nav container -->
	</div>
</div>

<script>document.addEventListener('DOMContentLoaded', function(){ window.TEAK.Modules.megaMenu.init("category_{{parentId}}"); });</script>
