<header class="header__cntr" id="globalHeader">
    <div class="header__auxCntr">
        <ul class="header__aux">
            <li class="header__auxItem">
                <a href="" title="" class="header__auxLink">Interior Designers</a>
            </li>
            <li class="header__auxItem">
                <a href="" title="" class="header__auxLink">Hospitality</a>
            </li>
            <li class="header__auxItem">
                <a href="" title="" class="header__auxLink">Financing</a>
            </li>
            <li class="header__auxItem">
                <a href="" title="" class="header__auxLink">Track Order</a>
            </li>
            <li class="header__auxItem">
                <a href="" title="" class="header__auxLink">COVID-19</a>
            </li>
            <li class="header__auxItem">
                <a href="" title="" class="header__auxLink">Help</a>
            </li>
        </ul>
    </div>

    <div class="header__bodyWrapper">
        <div class="header__bodyCntr">
            <div class="header__body">
                <button type="button" class="header__mainNavBtn">
                    <svg width="30" height="30"><use xlink:href="#icon-hamburger" /></svg>
                </button>

                <div class="header__logoCntr">
                    <a href="" class="header__logoLink">
                        <img class="header__logo" src="https://authenteak.s3.us-east-2.amazonaws.com/logo/Authenteak-logo.svg" alt="{{settings.store_logo.title}}">
                    </a>
                </div>

                <div class="header__chat">
                    <button type="button" onclick="javascript:$zopim.livechat.window.show()" class="customer__chat" title="Chat with us today!">
                        <svg class="header__chatBtn chat__offline" width="168" height="19"><use xlink:href="#desktop-header-offline"/></svg>
                        <svg class="header__chatBtn chat__online hide" width="168" height="19"><use xlink:href="#desktop-header-online"/></svg>
                    </button>
                </div>

                <form class="header__searchGroup">
                    <input type="search" class="header__searchControl" placeholder="What are you looking for today?" />
                    <button type="button" class="header__searchBtn">
                        <svg class="header__iconSearch" width="20" height="20"><use xlink:href="#icon-search2" /></svg>
                    </button>
                </form>

                <div class="header__utilityBar">
                    <button class="header__utilityBtn header__utilityBtn--chat" type="button" onclick="javascript:$zopim.livechat.window.show()">
                        <svg class="header__utilityIcon" width="23" height="20"><use xlink:href="#mobile-header-offline"/></svg>
                        <svg class="header__utilityIcon hide" width="23" height="20"><use xlink:href="#mobile-header-online"/></svg>
                    </button>

                    <button class="header__utilityBtn" type="button">
                        <svg class="header__utilityIcon" width="24" height="24"><use xlink:href="#icon-person" /></svg>
                        <span class="header__utilityText">Account</span>
                    </button>
                
                    <button class="header__utilityBtn" type="button">
                        <svg class="header__utilityIcon" width="20" height="20"><use xlink:href="#icon-heart11" /></svg>
                        <span class="header__utilityText">Lists</span>
                    </button>
                
                    <button class="header__utilityBtn" type="button">
                        <svg class="header__utilityIcon" width="24" height="24"><use xlink:href="#icon-shopping_cart" /></svg>
                        <span class="header__utilityText">Items</span>
                    </button>
                </div>
            </div>

            <nav class="header__mainNav">
                <ul class="header__navList">
                    <li class="header__navItem" value="2480">
                        <a href="" title="" class="header__navLink">Furniture</a>
                        <div class="flyout"></div>
                    </li>
                    <li class="header__navItem" value="787">
                        <a href="" title="" class="header__navLink">Grills &amp; Kitchens</a>
                        <div class="flyout"></div>
                    </li>
                    <li class="header__navItem" value="798">
                        <a href="" title="" class="header__navLink">Umbrellas</a>
                        <div class="flyout"></div>
                    </li>
                    <li class="header__navItem" value="906">
                        <a href="" title="" class="header__navLink">Heating</a>
                        <div class="flyout"></div>
                    </li>
                    <li class="header__navItem" value="">
                        <a href="" title="" class="header__navLink">Accessories</a>
                        <div class="flyout"></div>
                    </li>
                    <li class="header__navItem" value="1196">
                        <a href="" title="" class="header__navLink">Brands</a>
                        <div class="flyout"></div>
                    </li>
                    <li class="header__navItem" value="2509">
                        <a href="/featured-offers/" title="" class="header__navLink header__navLink--noFlyout">Offers</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="flyout__overlay"></div>
</header>

<div class="promo promo--header" id="topHeaderPromo"></div>