<header class="header__cntr" id="globalHeader">
    <div class="header__auxCntr">
        <ul class="header__aux">
            <li class="header__auxItem">
                <a href="/to-the-trade" title="designing for a client?" class="header__auxLink">Interior Designers</a>
            </li>
            <li class="header__auxItem">
                <a href="/commercial-and-hospitality-design/" title="about our hospitality program" class="header__auxLink">Hospitality</a>
            </li>
            <li class="header__auxItem">
                <a href="/affirm/" class="header__auxLink" title="finance your next purchase">Financing</a>
            </li>
            <li class="header__auxItem">
                <a href="/account.php?action=order_status/" title="track your order" class="header__auxLink">Track Order</a>
            </li>
            <li class="header__auxItem">
                <a href="https://authenteak.zendesk.com/" title="got questions?" target="_blank" rel="noreferrer" class="header__auxLink">Help</a>
            </li>
        </ul>
    </div>

    <div class="header__bodyWrapper">
        <div class="header__bodyCntr">
            <div class="header__body">
                <button type="button" aria-label="Navigation" class="header__mainNavBtn">
                    <svg width="30" height="30"><use xlink:href="#icon-hamburger" /></svg>
                </button>

                <div class="header__logoCntr">
                    <a href="/" class="header__logoLink">
                        <img class="header__logo" src="https://authenteak.s3.us-east-2.amazonaws.com/Logo_Grey_Green.svg" alt="{{settings.store_logo.title}}">
                    </a>
                </div>

                <div class="header__chat">
                    <button aria-label="Online Chat" type="button" onclick="javascript:$zopim.livechat.window.show()" class="customer__chat" title="Chat with us today!">
                        <svg class="header__chatBtn chat__offline" width="168" height="19"><use xlink:href="#desktop-header-offline"/></svg>
                        <svg class="header__chatBtn chat__online hide" width="168" height="19"><use xlink:href="#desktop-header-online"/></svg>
                    </button>
                </div>

                <form class="header__searchGroup" action="/search">
                    <input type="search" name="search_query" class="header__searchControl search-input" placeholder="What are you looking for today?" />
                    <button type="submit" class="header__searchBtn" aria-label="Search">
                        <svg class="header__iconSearch" width="20" height="20"><use xlink:href="#icon-search2" /></svg>
                    </button>
                </form>

                <div class="header__utilityBar">
                    <button aria-label="Online Chat" class="header__utilityBtn header__utilityBtn--chat" type="button" onclick="javascript:$zopim.livechat.window.show()">
                        <svg class="header__utilityIcon chat__offline" width="23" height="20"><use xlink:href="#mobile-header-offline"/></svg>
                        <svg class="header__utilityIcon chat__online hide" width="23" height="20"><use xlink:href="#mobile-header-online"/></svg>
                    </button>

                    <ul class="header__utilityBtnCntr header__utilityBtnCntr--more">
                        <li class="header__utilityBtnItem">
                            <button aria-label="Menu" class="header__utilityBtn header__utilityBtn--more" type="button">
                                <svg class="header__utilityIcon" width="24" height="24">
                                    <title>More</title>
                                    <use xlink:href="#icon-more_vert" />
                                </svg>
                            </button>

                            <ul class="header__utilMenu">
                                <li class="header__utilMenuItem">
                                    <a href="/account.php" title="View order status" class="header__utilMenuLink">
                                        <svg class="header__utilityIcon" width="24" height="24"><use xlink:href="#icon-person" /></svg>
                                        My Account
                                    </a>
                                </li>
                                <li class="header__utilMenuItem">
                                    <a href="/wishlist.php" title="Update your account" class="header__utilMenuLink">
                                        <svg class="header__utilityIcon" width="20" height="20"><use xlink:href="#icon-heart11" /></svg>
                                        My List
                                    </a>
                                </li>
                                <li class="header__utilMenuItem">
                                    <button aria-label="Online Chat" class="header__utilityBtn header__utilityBtn--chat" type="button" onclick="javascript:$zopim.livechat.window.show()" title="Chat with us today">
                                        <svg class="chat__offline" viewBox="0 0 260 93" width="260" height="93" id="footerChatOffline"><use xlink:href="#desktop-footer-offline"/></svg>
                                        <svg class="chat__online hide" viewBox="0 0 260 93" width="260" height="93" id="footerChatOnline"><use xlink:href="#desktop-footer-online"/></svg>
                                    </button>
                                </li>
                            </ul>
                        </li>
                        <ul class="header__utilMenu">
                            <li class="header__utilMenuItem">
                                <a href="/account.php" title="View order status" class="header__utilMenuLink">My Account</a>
                            </li>
                        </ul>
                    </ul>


                    <ul class="header__utilityBtnCntr header__utilityBtnCntr--myAccount">
                        <li class="header__utilityBtnItem">
                            <a title="Your account" href="/account.php" class="header__utilityBtn header__utilityBtn--myAccount" type="button">
                                <svg class="header__utilityIcon" width="24" height="24"><use xlink:href="#icon-person" /></svg>
                                {{#if customer.name }}
                                <span class="header__utilityText">Hi, {{customer.name}}</span>
                                {{else}}
                                <span class="header__utilityText">Account</span>
                                {{/if}}
                            </a>

                            <ul class="header__utilMenu">
                                <li class="header__utilMenuItem">
                                    <a href="/account.php?action=order_status" title="View order status" class="header__utilMenuLink">My Orders</a>
                                </li>
                                <li class="header__utilMenuItem">
                                    <a href="/account.php?action=inbox" title="Update your account" class="header__utilMenuLink">My Profile</a>
                                </li>
                                <li class="header__utilMenuItem">
                                    <a href="/wishlist.php" title="Your saved product" class="header__utilMenuLink">My List</a>
                                </li>
                                <li class="header__utilMenuItem">
                                    <a href="/account.php?action=inbox" title="Customer service messaging" class="header__utilMenuLink">Messages</a>
                                </li>
                                <li class="header__utilMenuItem">
                                    <a href="/account.php?action=address_book" title="Update your address book" class="header__utilMenuLink">Address</a>
                                </li>
                                <li class="header__utilMenuItem">
                                    <a href="/account.php?action=recent_items" title="Recently viewed products" class="header__utilMenuLink">Recently Viewed</a>
                                </li>
                                <li class="header__utilMenuItem" id="{{customer.id}}">
                                    {{#if customer.id}}
                                    <a href="/login.php?action=logout" title="create an account" class="header__utilMenuBtn header__utilMenuBtn--darkTrans">Logout</a>
                                    {{else}}
                                    <a href="/login.php" title="login to your account" class="header__utilMenuBtn header__utilMenuBtn--green">Sign In</a>
                                    <a href="/login.php?action=create_account" title="create an account" class="header__utilMenuBtn header__utilMenuBtn--darkTrans">Register</a>
                                    {{/if}}
                                </li>
                            </ul>
                        </li>                        
                    </ul>

                    <ul class="header__utilityBtnCntr header__utilityBtnCntr--myList">
                        <li class="header__utilityBtnItem">
                            <a href="/wishlist.php" title="save your favorites to your list" class="header__utilityBtn header__utilityBtn--myList" type="button">
                                <svg class="header__utilityIcon" width="20" height="20"><use xlink:href="#icon-heart11" /></svg>
                                <span class="header__utilityText">Lists</span>
                            </a>

                            <ul class="header__utilMenu" id="myListMenu">
                                <li class="header__utilMenuItem header__utilMenuItem--image">
                                    <img src="https://authenteak.s3.us-east-2.amazonaws.com/WS00001_031521_MyListGraphic.jpg" alt="keep all of your favorites in one place" />
                                </li>
                                <li class="header__utilMenuItem">
                                    <a href="/wishlist.php?action=addwishlist" title="create an account" class="header__utilMenuBtn header__utilMenuBtn--green">Create A List</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                
                    <a href="/cart.php" class="header__utilityBtn header__utilityBtn--cart" type="button">
                        <span class="badge__cartQty hide">0</span>
                        <svg class="header__utilityIcon" width="24" height="24"><use xlink:href="#icon-shopping_cart" /></svg>
                        <span class="header__utilityText">Cart</span>
                    </a>
                </div>
            </div>

            <nav class="header__mainNav">
                <ul class="header__navList">
                    <li class="header__navItem">
                        <a href="/outdoor-furniture/" title="Shop Outdoor Furniture" class="header__navLink" rel="2480">Outdoor Furniture</a>
                    </li>
                    <li class="header__navItem">
                        <a href="/patio-umbrellas-accessories/" title="Shop Umbrellas" class="header__navLink" rel="798">Umbrellas</a>
                    </li>
                    <li class="header__navItem">
                        <a href="/grills-outdoor-kitchens/" title="Shop Kitchens and Grills" class="header__navLink" rel="787">Grills &amp; Kitchens</a>
                    </li>
                    <li class="header__navItem">
                        <a href="/outdoor-heating/" title="Shop Heating" class="header__navLink" rel="906">Heating</a>
                    </li>
                    <li class="header__navItem">
                        <a href="#" title="Decor, Care and Entertainment" class="header__navLink" rel="1099911930">Accessories</a>
                    </li>
                    <li class="header__navItem">
                        <a href="/shop-all-brands/" title="Shop by Brand" class="header__navLink" rel="1196">Brands</a>
                    </li>
                    {{#if customer.customer_group_id '!=' '1' }}
                    <li class="header__navItem">
                        <a href="/featured-offers/" title="" rel="2509" class="header__navLink header__navLink--noFlyout">Offers</a>
                    </li>
                    {{/if}}
                </ul>
            </nav>
        </div>
    </div>
</header>

<div class="mobileFlyout" id="mobileFlyout"></div>

{{#if customer.customer_group_id '!=' '1' }}
<div class="promo promo--header"></div>
{{/if}}

{{#if customer.customer_group_id '==' '1' }}
<div class="promoBanner promoBanner--green show" id="topHeaderPromoTrade">
    <span class="promoBanner__text">Hey there, {{customer.name}}! &nbsp; You are logged in as a trade customer.</span>
</div>
{{/if}}

