.amp-footer-credits .amp-footer-heading {
  text-align: left;
}

.amp-footer-credits p,
.amp-footer-credits a,
.amp-footer-heading {
  color: #ffffff;
}

.amp-footer-list li a,
.amp-footer-phone,
.amp-footer-section address {
  color: {{color_text}};
  font-weight: 500;
}

.footer-social-media {
  text-align: left;
  padding-bottom: 57px;
  margin-left: 0;
  margin-bottom: 30px;
  border-bottom: 1px solid {{color_text}};
}

.social-media-link {
  display: inline-block;
  margin-right: 20px;
}

.social-media-link svg {
  fill: {{color_text}};
}
