<!-- Start Tracking Code for analytics_facebook -->
<script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','https://connect.facebook.net/en_US/fbevents.js');
    
    fbq('set', 'autoConfig', 'false', '139262066429295');
    fbq('init', '139262066429295');
    fbq('set', 'agent', 'plbigcommerce1.2', '139262066429295');
    
    window.onload = function() {
        var m,
            productIdMap = {},
            productIdsOnPage = getUniqueProductIdsOnPage(),
            urlParams = decodeURIComponent(window.location.search);
        
        fbq('track', 'PageView');

        TEAK.Modules = TEAK.hasOwnProperty("Modules") ? TEAK.Modules : {};

        TEAK.Modules.fbPixel = {

            // checkout start for bolt or any dynamic button
            checkoutStart: function(total, qty){
                fbq('track', 'InitiateCheckout', {
                    content_ids: productIdsOnPage,
                    content_type: "product",
                    num_items: qty,
                    value: total
                });
            },

            // Dynamic add to cart
            addToCart: function(productName, price, sku){
                fbq('track', 'AddToCart', {
                    content_name: productName,
                    content_ids: [sku],
                    content_type: 'product',
                    value: price,
                    currency: 'USD'
                });
            }
        };


        // Search events start -- only fire if the shopper lands on the /search.php page
        if (window.location.pathname.indexOf('/search.php') !== -1) {
            if ( urlParams.indexOf("search_query") !== -1) {
                m = getUrlParameter("search_query");
                fbq('track', 'Search', { content_ids: productIdsOnPage, content_type: 'product_group', search_string: m });
            }
        }
    
        // Wishlist events start -- only fire if the shopper attempts to add an item to their wishlist
        if (window.location.pathname.indexOf('/wishlist.php') !== -1 && ( m = /added_product_id=(.\d)/.exec(urlParams)) !== null) {
            fbq('track', 'AddToWishlist', { content_ids: [m[1]], content_type: 'product_group' });
        }
    
        // Lead events start -- only fire if the shopper subscribes to newsletter
        if (window.location.pathname.indexOf('/subscribe.php') !== -1 && (m = getUrlParameter("result") === "success") ) {
            fbq('track', 'Lead', {});
        }
    
        // Registration events start -- only fire if the shopper registers an account
        if (window.location.pathname.indexOf('/login.php') !== -1 && (m = getUrlParameter("action") === "account_created") ) {
            fbq('track', 'CompleteRegistration', {});
        }
    
        // NON Bolt Version: Checkout events start -- only fire if the shopper lands on a /checkout* page
        // Bolt verstion tracking is in totals.html
        if(window.location.pathname.indexOf('/checkout') !== -1) {
            if (urlParams.indexOf('process_payment') !== -1) {
                fbq('track', 'AddPaymentInfo');
            } else {
                fbq('track', 'InitiateCheckout');
            }
        }

    


        function getUniqueProductIdsOnPage() {
            return Array.prototype.reduce.call(document.querySelectorAll('[data-product], [data-product-id]'), function(acc, obj) {
                var productId = obj.getAttribute('data-product') || obj.getAttribute('data-product-id');
                
                // check to see if we already picked up this product id AND if its a non alphanumeric (integer) string
                if (!productIdMap[productId] && (/^[0-9]+$/i.test(productId)) ) {
                    productIdMap[productId] = true;
                    productId = parseInt(productId);
                    acc.push(productId);
                }
                return acc;
            }, []);
        }


        // helper to get URL parameters
        function getUrlParameter(name) {
            var regex, results;

            name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
            regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
            results = regex.exec(location.search);

            return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
        }
    
    }
    </script>

    <noscript>
        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=139262066429295&ev=PageView&noscript=1&a=plbigcommerce1.2"/>
    </noscript>
    <!-- End Tracking Code for analytics_facebook -->
