<button class="button-mobile-nav-toggle button-mobile-nav-toggle--active">
  <i class="burger"></i>
</button>

<div class="navigation-mobile">
  <nav class="navigation">
    <button class="button-mobile-nav-back {{#if cart.status_messages}}has-promo{{/if}}" data-toggle-mobile="all">
      {{> svg/arrow-down}} Main menu 
    </button>
    <ul>
      <div class="nav-mobile-container" id="navMobileContainer">

        <ul class="nav-mobile-panel nav-mobile-panel-parent is-active" data-panel-depth="0" data-mobile-menu="all">
          {{#if theme_settings.global-show-categories-in-nav}}
            
          {{#each categories}}           
            <li class="nav-mobile-item nav-mobile-item-parent {{#if children}}has-children{{/if}}" data-mobile_category_{{id}}>
                {{> components/common/customizations/multi-level-nav-item all_item=false parentId=id}}
            </li>
          {{/each}}

          {{/if}}
        </ul>

      </div>
    </ul>
  </nav>

  <div class="utils">

    <a class="button-util" href="tel:1-866-350-8325" title="Call 1-866-350-8325">
      <svg class="icon-phone" width="15" height="15" enable-background="new 0 0 32 32" version="1.1" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
          <path d="M22 20c-2 2-2 4-4 4s-4-2-6-4-4-4-4-6 2-2 4-4-4-8-6-8-6 6-6 6c0 4 4.109 12.109 8 16s12 8 16 8c0 0 6-4 6-6s-6-8-8-6z"></path>
      </svg>
      Call 1-866-350-8325
    </a>


    {{#if customer}}
      <a class="button-util mobile-account-utils" href="{{urls.account.index}}" title="{{lang 'header.account'}}">
        {{> svg/account}}
        {{lang 'header.account'}}
      </a> /
      <a class="button-util mobile-account-utils" href="{{urls.auth.logout}}" title="{{lang 'header.log_out'}}">
        {{lang 'header.log_out'}}
      </a>
    {{else}}
      <a class="button-util mobile-account-utils" href="{{urls.auth.login}}" title=" {{lang 'header.account'}}">
        {{> svg/account}}
        {{lang 'header.account'}}
      </a>
    {{/if}}

    {{#if settings.show_wishlist}}
      <a class="button-util button-wishlist" href="{{urls.account.wishlists.all}}" title="{{lang 'header.wishlist'}}">
        {{> svg/wishlist}}
        {{lang 'header.wishlist'}}
      </a>
    {{/if}}

    <a class="button-util" href="{{urls.cart}}" title="{{lang 'header.shopping_basket'}}">
      {{> components/header/cart-icon}}
      {{lang 'header.shopping_basket'}}
    </a>

    {{> components/header/currency-selector}}
  </div>
</div>
