<nav class="navigation">
	<ul enhancedNav itemscope itemtype="http://www.schema.org/SiteNavigationElement">
		{{#if theme_settings.global-show-categories-in-nav}}
			{{#each categories}}
				{{#startsWith "Shop All Quick Ship" name}} {{ else }} {{#startsWith "Be" name}} {{ else }}
					{{#if children}}
					<li class="hover-dropdown mega-nav" category_{{id}}>
						<a class="top-level-nav-link" itemprop="url" href="{{url}}" title="{{name}}">
							{{#if name '===' 'Outdoor Rugs'}}
							<span itemprop="name">Rugs</span>
							{{else if name '===' 'Patio Umbrellas & Accessories'}}
							<span itemprop="name">Patio Umbrellas</span>
							{{else if name '===' 'Shop All Brands'}}
							<span itemprop="name">Shop By Brand</span>
							{{else}}
							<span itemprop="name">{{name}}</span>
							{{/if}}
						</a>
						{{> components/common/customizations/navigation-mega nav_items=children parentId=id}}
					</li>
					{{else}}
					<li class="hover-dropdown mega-nav" category_{{id}}>
						<a class="top-level-nav-link" itemprop="url" href="{{url}}" title="{{name}}">
							<span itemprop="name">{{name}}</span>
						</a>
					</li>
					{{/if}}
				{{/startsWith}} {{/startsWith}}
			{{/each}}
		{{/if}}
	</ul>
</nav>
