
<div class="swatchModal" id="swatchpopuplist">
    <button type="button" class="swatchModal__close" close-popup>{{> svg/close}}</button>
    <div class="swatchModal__wrapper">
        <div class="swatchModal__cntr">
            <div class="swatchModal__descCntr">
                <h2 class="swatchModal__title">Free Shipping On All Swatches</h2>
                <p class="swatchModal__text">Click to select the desired swatches. Once you have made your selection, click the "Reqeust Swatches" button below and proceed through check-out.</p>
                <p class="swatchModal__text swatchModal__text--highlight">
                    You've chosen <strong id="totalSelectedSwatches">0</strong> out of 5 free swatches.<br>To request more than 5, please call our showroom at: 
                    <a href="tel:1-866-350-8325" title="Call our showroom" class="swatchModal__textPhone">1-866-350-8325</a>
                </p>
                <button type="button" class="swatchModal__reqBtn" disabled>
                    <span class="swatchModal__reqBtnText">Request Swatches</span>
                    <svg class="swatchModal__reqBtnIcon"><use xlink:href="#icon-arrow-right" /></svg>
                </button>
            </div>

            <div class="swatchModal__inner swatchinnerpopup">
                <ul class="swatchModal__list">
                    {{#each this.options}}
                        {{#inArray (split "Select Head Cushion Fabric||Select Canopy||Select Optional Cushions||Select Optional Cushion||Select Fabric||Select Cushion||Select Throw Pillows Fabric" "||") display_name }}
                            {{#each values}}{{#unless (occurrences label "No Thanks") }}{{#unless (occurrences label "No Cushion") }}
                                <li class="swatchModal__listItem" data-request-swatch data-swatch-title="{{> components/products/customizations/option-label label}}">
                                    <figure class="swatchModal__swatchImgCntr swatch-img">
                                        <img class="swatchModal__swatchImg" src="{{getImage image 'core-swatch'}}" alt="{{> components/products/customizations/option-label label}}" />
                                        <figcaption class="swatchModal__swatchTitle">
                                            {{> components/products/customizations/option-label label}}
                                        </figcaption>
                                    </figure>
                                </li>
                                {{/unless}}{{/unless}}{{/each}}
                        {{/inArray}}
                    {{/each}}
                </ul>
            </div>


            <!-- <div><strong>Free Ground Shipping on all Swatch Orders.</strong> Simply choose your swatches, enter in your name, address and email to get your FREE swatches. To request more than 5, please call our showroom at:<br> <a href="tel:1-866-350-8325">1-866-350-8325</a>.</div> -->

            <!-- <div class="previewswatch">
                <h3>Your Selected Swatches:</h3>
                <ul></ul>
            </div>
            <div class="finalswatchy"></div> -->

            <form method="post" class="swatchModal__form" action="" enctype="multipart/form-data" id="productDetailsAddToCartForm1">
                <input name="action" value="add" type="hidden">
                <input name="product_swatch_id" value="5656" type="hidden">
                <input name="product_title" value="{{ this.title }}" type="hidden">
                <input name="product_sku" value="{{ this.sku }}" type="hidden">
                <input name="product_url" value="{{ this.url }}" type="hidden">
                <input name="swatch_images" value="" type="hidden">
                <input data-request-swatch-values-input name="swatch_colors" type="hidden">
            </form>

            <button type="button" class="swatchModal__reqBtn swatchModal__reqBtn--mobile" value="" disabled>
                <span class="button-text">Request Swatches</span>
            </button>
        </div>
    </div>
</div>

<div class="swatchModal__underlay"></div>
