<div class="product-swatch-hover-container">
    <div class="product-swatch-hover-detail">
        <div class="product-swatch-hover-detail__image-wrapper">
            <div class="product-swatch-hover-detail__image"></div>
        </div>
        <div class="product-swatch-hover-detail__caption">
            <div class="product-swatch-hover-detail__label"></div>
            <div class="product-swatch-hover-detail__attributes">
            <div class="product-swatch-hover-detail__grade"></div>
            <div class="product-swatch-hover-detail__leadtime"></div>
            </div>
        </div>
        <div class="product-swatch-hover-detail__preload"></div>
    </div>
</div>
