<div class="product-swatch-hover-container">
    <button class="product-swatch-hover-close hide">
        <svg class="product-swatch-hover-close-icon" enable-background="new 0 0 24 24" version="1.1" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.4 12l5.3-5.3c0.4-0.4 0.4-1 0-1.4s-1-0.4-1.4 0l-5.3 5.3-5.3-5.3c-0.4-0.4-1-0.4-1.4 0s-0.4 1 0 1.4l5.3 5.3-5.3 5.3c-0.4 0.4-0.4 1 0 1.4 0.2 0.2 0.4 0.3 0.7 0.3s0.5-0.1 0.7-0.3l5.3-5.3 5.3 5.3c0.2 0.2 0.5 0.3 0.7 0.3s0.5-0.1 0.7-0.3c0.4-0.4 0.4-1 0-1.4l-5.3-5.3z"></path>
        </svg>
    </button>
    <div class="product-swatch-hover-detail">
        <div class="product-swatch-hover-detail__image-wrapper">
            <div class="product-swatch-hover-detail__image"></div>
        </div>
        <div class="product-swatch-hover-detail__caption">
            <div class="product-swatch-hover-detail__label"></div>
            <div class="product-swatch-hover-detail__attributes">
            <div class="product-swatch-hover-detail__grade"></div>
            <div class="product-swatch-hover-detail__leadtime"></div>
            </div>
        </div>
        <div class="product-swatch-hover-detail__preload"></div>
    </div>
</div>
