<!DOCTYPE html>
<html class="no-js" lang="{{locale_name}}" base-html>

<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>{{head.title}}</title>
{{{ head.meta_tags }}}
{{{ head.config }}}
{{#block "head"}} {{/block}}
<link href="{{ head.favicon }}" rel="shortcut icon">
{{{head.rsslinks}}}
{{{stylesheet '/assets/css/theme.css'}}}
{{ getFontsCollection }}

<!--[if gte IE 8]>
<script src="{{cdn '/assets/js/theme/utils/Polyfills.js'}}"></script>
<script src="{{cdn '/assets/js/modernizr.js'}}"></script>
<![endif]-->

<script src="{{cdn '/assets/js/theme/utils/Analytics.js'}}"></script>

 <!-- SEARCHSPRING SCRIPT -->
{{#if category}}
<script src="//cdn.searchspring.net/search/v3/js/searchspring.catalog.js?sm8dxk" search="search_query" category="{{#each breadcrumbs}}{{#unless @first}}{{name}}{{#unless @last}}>{{/unless}}{{/unless}}{{/each}}" name="{{ category.name }}"></script>
{{else if brand}}
<script src="//cdn.searchspring.net/search/v3/js/searchspring.catalog.js?sm8dxk" async search="search_query" brand="{{ brand.name }}"></script>
{{else}}
<script src="//cdn.searchspring.net/search/v3/js/searchspring.catalog.js?sm8dxk" search="search_query"{{#if page.title "!=" 'Search Results'}} defer{{/if}}></script>
{{/if}}
<script src="//cdn.searchspring.net/intellisuggest/is.min.js" async></script>

{{{head.scripts}}}
{{inject 'themeImageSizes' theme_settings._images}}
{{> components/common/global-injects}}
{{{snippet 'html_head'}}}
</head>

<body class="{{> components/common/body-classes}}">
	{{> components/header/customizations/facebook-pixel}}
	{{> components/header/customizations/pintrest-ad}}

	<div class="site-wrapper">
		{{{snippet 'header'}}}

		{{> components/header/header}}
		<div class="site-canvas">
			<div class="on-canvas">
				{{#contains page_type 'account'}}
					{{> components/common/breadcrumbs breadcrumbs}}
				{{/contains}}

				{{#contains page_type 'login'}}
					{{> components/common/breadcrumbs breadcrumbs}}
				{{/contains}}

				{{> components/common/banners banners=banners.top class='banners-top'}}

				<main class="main-content">
					{{#block "page"}}{{/block}}
				</main>

				{{> components/common/banners banners=banners.bottom class='banners-bottom'}}

				{{#if settings.show_newsletter_box}}
				{{> components/common/newsletter-signup}}
				{{/if}}

				{{> components/footer/footer }}
			</div>

			{{> components/header/customizations/navigation-mobile}}
		</div> <!-- /site-canvas -->

		{{> components/mini-cart/mini-cart cart_icon=theme_settings.cart_icon }}
		{{> components/common/search-panel}}

		<button type="button" class="button-top" data-scroll="#"><svg class="icon icon-arrow-up"><use xlink:href="#icon-arrow-up" /></svg></button>
	</div> <!-- /site-wrapper -->


	{{{snippet 'footer'}}}
	
	<script src="{{cdn '/assets/js/bundle.js'}}?v={{theme_settings.version}}"></script>
	{{> components/common/TEAK-js}}
	<script>window.stencilBootstrap( "{{template_file}}", {{ jsContext }} ).load();</script>
	
	{{#if page_type '===' 'product'}}
		{{> components/common/facebook-like}}
	{{else if page_type '===' 'blog'}}
		{{> components/common/facebook-like}}
	{{else if page_type '===' 'blog_post'}}
		{{> components/common/facebook-like}}
	{{/if}}

	{{{footer.scripts}}}

	{{#if customer}} {{!-- used for analytics unique tracking ---}}
	<script>document.addEventListener('DOMContentLoaded', function(){ window.TEAK.ThirdParty.heap.init({ method: 'identify', id: '{{customer.id}}.authenteak.com' }); window.TEAK.Utils.storeData("TEAK_customerUID", '{{customer.id}}.authenteak.com'); }); </script>
	{{/if}}


	{{#or page_type '===' 'cart' page_type '===' 'product'}}
	<!-- Affirm Marketing -->
	<script async src="https://apps.minibc.com/bootstrap/5d1a3a877d7f1.js"></script>
	<script>
	const _affirm_config = { public_api_key: "RPBIJDV9I1IHTVL3", script: "https://cdn1.affirm.com/js/v2/affirm.js", session_id: "sID"};
	(function (l, g, m, e, a, f, b) { var d, c = l[m] || {}, h = document.createElement(f), n = document.getElementsByTagName(f)[0], k = function (a, b, c) { return function () { a[b]._.push([c, arguments]) } }; c[e] = k(c, e, "set"); d = c[e]; c[a] = {}; c[a]._ = []; d._ = []; c[a][b] = k(c, a, b); a = 0; for (b = "set add save post open empty reset on off trigger ready setProduct".split(" "); a < b.length; a++)d[b[a]] = k(c, e, b[a]); a = 0; for (b = ["get", "token", "url", "items"]; a < b.length; a++)d[b[a]] = function () { }; h.async = !0; h.src = g[f]; n.parentNode.insertBefore(h, n); delete g[f]; d(g); l[m] = c })(window, _affirm_config, "affirm", "checkout", "ui", "script", "ready");
	</script>
	{{/or}}


	{{#if page_type '===' 'cart'}}
	<script>
		Object.assign(TEAK.Data, {
			cart: {
				sub_total: "{{cart.sub_total.formatted}}",
				quantity: "{{cart.quantity}}"
			}
		});
	</script>
	<script src="{{cdn '/assets/js/theme/cart/CartTotals.js'}}"></script>
	{{/if}}


	{{> core/structured-data/website}}
	{{> core/structured-data/breadcrumbs}}
</body>
</html>
