{{#partial 'account-heading'}}
  {{lang 'core.auth.created.heading'}}
{{/partial}}

{{#partial 'account-content'}}
  <p>{{{lang 'core.auth.created.message' store_name=settings.store_name email=customer.email}}}</p>

  <a class="button account-button-primary" href="{{urls.home}}">{{lang 'core.auth.created.continue'}}</a>

<script>
document.addEventListener('DOMContentLoaded', function(){
    window.TEAK.thirdParty.heap.init({
      method: 'identify',
      id: '{{customer.id}}',
      createdAt: new Date(Date.now()),
      loggedIn: true
    });
    
    TEAK.thirdParty.heap.init({
      method: 'track',
      event: 'created_account',
      id: '{{customer.id}}',
      createdAt: new Date(Date.now())
    });

    TEAK.thirdParty.heap.init({
      method: 'addUser',
      email: '{{customer.email}}',
      id: '{{customer.id}}',
      name: '{{customer.name}}',
      city: '{{customer.shipping_address.city}}',
      state: '{{customer.shipping_address.state}}',
      createdAt: new Date(Date.now()),
      loggedIn: true
    });
});
</script>
{{/partial}}

{{> core/account/_private/layout class='created' nav='hidden'}}
