<form
  class="form add-to-cart-form"
  method="post"
  action="{{product.cart_url}}"
  enctype="multipart/form-data"
  data-cart-item-add
  data-product-options-count="{{product.options.length}}"
>
  <input type="hidden" name="action" value="add">
  <input type="hidden" name="product_id" value="{{product.id}}" data-product-id/>

  <div class="product-options-container" data-product-option-change data-product-brand="{{product.brand.name}}" id="productOptions">
    {{#if product.customizations}}
      {{#each product.customizations}}
          {{{dynamicComponent 'core/forms/customizations'}}}
      {{/each}}
    {{/if}}
    
    {{#if product.options}}
      {{#each product.options}}
        {{{dynamicComponent 'core/forms/options' }}}
        <hr>
      {{/each}}
    {{/if}}
  </div>
  <script data-json="raw-options" type="application/json">{{{json product.options}}}</script>
  <script data-json="raw-warranty" type="application/json">{{{json product.warranty}}}</script>

  {{#if product.event_date}}
    {{> core/products/event}}
  {{/if}}



      {{#each product.custom_fields}}
        {{#if this.name '===' "Free Shipping Icon"}}   
          {{#if this.value '===' "Yes"}}
          
            {{#if ../../../product.price.without_tax.value '<' "2998"}}
            <p class='free-shipping-text' data-pricing-free-shipping>{{lang 'product.shipping_free'}}</p>
            {{else}}
            <p class='free-shipping-text' data-pricing-free-shipping>
                <a href="" class="free-shipping-text--link" tool-tip-open data-tool-tip-type="element" data-tool-tip-name="free_white_glove_delivery">
                  {{lang 'product.free_white_glove'}} &nbsp;
                  <span class="toolTip__iconCntr toolTip__iconCntr--dark">
                    <svg class="toolTip__icon toolTip__icon--white" enable-background="new 0 0 20 20" version="1.1" viewBox="0 0 20 20" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                      <title>tool tip</title>
                      <path d="M12.432 0c1.34 0 2.010 0.912 2.010 1.957 0 1.305-1.164 2.512-2.679 2.512-1.269 0-2.009-0.75-1.974-1.99 0-1.043 0.881-2.479 2.643-2.479zM8.309 20c-1.058 0-1.833-0.652-1.093-3.524l1.214-5.092c0.211-0.814 0.246-1.141 0-1.141-0.317 0-1.689 0.562-2.502 1.117l-0.528-0.88c2.572-2.186 5.531-3.467 6.801-3.467 1.057 0 1.233 1.273 0.705 3.23l-1.391 5.352c-0.246 0.945-0.141 1.271 0.106 1.271 0.317 0 1.357-0.392 2.379-1.207l0.6 0.814c-2.502 2.547-5.235 3.527-6.291 3.527z"></path>
                    </svg>
                  </span>
                </a>
                <span class="toolTip__cntr hide" id="free_white_glove_delivery"></span>
            </p>
            {{/if}}

          {{/if}}
        {{/if}}
      {{/each}}
      

      {{#if product.options}}
      <p class="shipping-range shipping-range--dynamic">
        {{#each product.custom_fields}}
          {{#if this.name '==' "Lead-Time"}}
              {{this.value}}
          {{/if}}
        {{/each}}
      </p>
      {{/if}}
    
  <div class="product-price">
      {{#if product.price}}
        {{> components/products/price price=product.price show_savings=true save_block=true}}
      {{/if}}
  
      {{#if product.call_for_price}}
        <p>{{product.call_for_price}}</p>
      {{/if}}
  </div>


{{#if product.price.without_tax.value ">" 0.01}}
  <div class="product-quantity-submit">
    <div class="product-quantity-container">
      {{#if product.show_quantity_input}}
        <div class="form-field form-inline form-field--quantity">
          <label class="form-label">
            <strong class="form-label-text">
              {{ lang 'product.quantity'}}
            </strong>
            <input
              type="number"
              class="product-quantity form-input"
              name="qty[]"
              value="{{#if product.quantity}}{{product.quantity}}{{else}}{{#if product.min_purchase_quantity}}{{product.min_purchase_quantity}}{{else}}1{{/if}}{{/if}}"
              min="{{#if product.min_purchase_quantity}}{{product.min_purchase_quantity}}{{else}}0{{/if}}"
              {{#if product.max_purchase_quantity}}
                max="{{product.max_purchase_quantity}}"
              {{/if}}
              pattern="[0-9]+"
            >
            <div class="product-quantity-toggle-wrapper">
              <span class="product-quantity-toggle product-quantity-decrement">
                <svg class="icon icon-minus"><use xlink:href="#icon-minus" /></svg>
              </span>
              
              <span class="product-quantity-toggle product-quantity-increment">
                <svg class="icon icon-plus"><use xlink:href="#icon-plus" /></svg>
              </span>
             
            </div>
          </label>
        </div>
      {{/if}}

      <div class="product-price">

        <div style="display: none;">
          {{#if product.price}}
            {{> components/products/price price=product.price show_savings=true save_block=true}}
          {{/if}}
  
          {{#if product.call_for_price}}
            <p>{{product.call_for_price}}</p>
          {{/if}}
          
          <!-- 
          {{#each product.custom_fields}}
            {{#if this.name '===' "Free Shipping Icon"}}   
              {{#if this.value '===' "Yes"}}
                <p class='free-shipping-text' data-pricing-free-shipping>{{lang 'product.shipping_free'}}</p>
              {{/if}}
            {{/if}}
          {{/each}}

          <p class="shipping-range shipping-range--dynamic">
            {{#each product.custom_fields}}
              {{#if this.name '==' "Lead-Time"}}
                  {{this.value}}
              {{/if}}
            {{/each}}
          </p>-->

        </div>

      </div>

      <!--Share block was removed, placed below product images, can be found in product-single-details.html-->
    </div>
    
    <!-- <div class="affirm-pdp"></div> -->
    <!-- <p class="affirm-as-low-as" data-page-type="product" data-amount="your_price_variable"></p> -->

    {{#if product.can_purchase}}
      <button
        type="submit"
        class="
          button
          button-primary
          button-wide
          add-to-cart
          button-progress
          spinner
        "
        data-button-purchase
      >
        <span class="button-text">
          {{#if product.pre_order}}
            {{lang 'product.pre_order'}}
          {{else}}
            {{#if cart_icon '==' 'bag'}}
              {{lang 'product.add_to_bag'}}
            {{else}}
              {{lang 'product.add_to_cart'}}
            {{/if}}
          {{/if}}
        </span>
      </button>
    {{else}}
      {{#if product.out_of_stock}}
        <div
          class="button button-primary button-wide add-to-cart button-disabled"
        >
          {{lang 'product.sold_out'}}
        </div>
      {{/if}}
    {{/if}}

    {{#if settings.show_wishlist}}
      <div class="wishlist-form" data-wishlist-dropdown>
        {{#if customer.wishlists.length}}
          <a
            class="button button-secondary button-wide add-to-wishlist"
            href="#"
            data-wishlist-toggle
          >
            {{lang 'product.add_to_wishlist'}}
          </a>
          <ul class="add-to-wishlists" data-wishlist-panel>
            {{#each customer.wishlists}}
              <li>
                <a
                  href="{{../product.add_to_wishlist_url}}&wishlistid={{id}}"
                  data-wishlist="{{view_url}}"
                >
                  {{name}} ({{num_items}})
                </a>
              </li>
            {{/each}}
          </ul>
        {{else}}
          <a
            class="button button-secondary button-wide add-to-wishlist"
            href="{{product.add_to_wishlist_url}}"
          >
            {{lang 'product.add_to_wishlist'}}
          </a>
        {{/if}}
      </div>
    {{/if}}
  </div>
{{/if}}
</form>

<script>
(function(){
  var atcBtn = document.querySelector("[data-button-purchase]"),
      product = document.querySelector("[data-product-container]").dataset,
      price = document.querySelector(".price-value").innerText.trim().replace(/\$|,/g, '');

  atcBtn.addEventListener("click", function(){
    TEAK.Modules.fbPixel.addToCart(product.productTitle, price, product.productId);
  });

}());
</script>
