<form class="form add-to-cart-form" method="post" action="/cart.php" enctype="multipart/form-data" data-cart-item-add data-product-options-count="{{product.options.length}}">
	<input type="hidden" name="action" value="add">
	<input type="hidden" name="product_id" value="{entityId}" data-product-id />

	<div class="product-options-container" data-product-option-change data-product-brand="{{product.brand.name}}" id="productOptions">
		<!-- product options and swatches -->
	</div>


	<div class="product-price">
		{{#if product.price}}
		{{> components/products/price price=product.price show_savings=true save_block=true}}
		{{/if}}

		{{#if product.call_for_price}}
		<p>{{product.call_for_price}}</p>
		{{/if}}
	</div>


	<div class="product-quantity-submit">
		<div class="product-quantity-container">
			<div class="form-field form-inline form-field--quantity">
				<label class="form-label">
					<strong class="form-label-text">{{ lang 'product.quantity'}}</strong>
					<input type="number" class="product-quantity form-input" name="qty[]" value="" min="" max="" pattern="[0-9]+">
					<div class="product-quantity-toggle-wrapper">
						<button type="button" class="product-quantity-toggle product-quantity-decrement">
							<svg class="icon icon-minus"><use xlink:href="#icon-minus" /></svg>
						</button>
						<button type="button" class="product-quantity-toggle product-quantity-increment">
							<svg class="icon icon-plus"><use xlink:href="#icon-plus" /></svg>
						</button>
					</div>
				</label>
			</div>
		</div>

		
		<button type="submit" class="button button-primary button-primary--ocean button-wide add-to-cart button-progress spinner" data-button-purchase onclick="TEAK.ThirdParty.heap.init({method: 'track', event:'add_to_cart', location: 'pdp' })">
			<span class="button-text">Add To Cart</span>
		</button>

		{{#if customer.customer_group_id '!=' '1' }}
		<p class="product-trade">
			<a href="/to-the-trade" title="Learn more about trade benifits">Shopping for a Client? Apply for Trade benefits.</a>
		</p>
		{{/if}}

	</div>
</form>

<script>
	(function () {
		document.querySelector("[data-button-purchase]").addEventListener("click", function () {
			let qty = document.querySelector(".product-quantity").value,
				price = document.querySelector(".price-value").innerText.trim().replace(/\$|,/g, '');

			// TEAK.Modules.fbPixel.addToCart("{{product.title}}", price, "{{product.id}}");

			TEAK.Modules.pintrest.addToCart({
				price: price,
				qty: qty,
				id: "{{product.id}}",
				name: "{{product.title}}",
				brand: "{{product.brand.name}}",
				categories: ["{{product.category}}"]
			});
		});
	}());
</script>