<section class="
    product-details
    product-block
    section
    {{#unless quick_view}}
      product-single
    {{/unless}}
    {{cart_icon}}-icon
    {{theme_settings.product-single-display-order}}
  " id="productDetails" data-product-container data-product-title="{{product.title}}" data-product-id="{{product.id}}">

	<div class="container">
		{{#unless quick_view}}
		<div class="mobileShow mobileShow--lg">
			{{> components/common/breadcrumbs breadcrumbs}}
		</div>
		{{/unless}}

		<div class="product-details-wrapper">
			<div class="product-details-column">
				<h2 class="product-title mobileShow">{{this.product.title}}</h2>
				<div class="mobileHide mobileHide--lg">
					{{> components/common/breadcrumbs breadcrumbs}}
				</div>

				<p class="item-number item-number-mobile mobileShow">
					Item #: {{product.sku}} &nbsp;&nbsp;&nbsp; 
					Internet #: <span id="productID">{{product.id}}</span>
				</p>

				{{> components/products/customizations/swatch-hover-detail}}
				{{> components/products/product-single-images videos=product.videos images=product.images default_image=theme_settings.default_image }}

				<!--moved from add-to-cart-form.html-->
				<div class="share-block">
					<hr>
					<div class="share-buttons-wrap">
						<span class="share-title">
							{{ lang 'product.share'}}
						</span>
						{{> components/common/share-buttons
							share_buttons=settings.add_this
							url=product.url
							image=(getImage product.main_image 'thumb')
							title=product.title
						}}
					</div>
				</div>
				<hr>
				<div class="consult-showroom-wrap">
					<div class="showroom-block">
						<span class="gallery-icon gallery-phone">{{> components/products/gallery-phone-icon}}</span>
						<p>For a Free Design Consultation or to Order by Phone <br>Call: <a
								href="tel:1-866-360-8325">1-866-360-8325</a></p>
					</div>
				</div>
				<!--End Share-->
			</div>

			<div class="product-details-column">
				<!-- {{#if product.brand}}
        <a class="product-brand" href="{{product.brand.url}}">{{product.brand.name}}</a>
      {{/if}} -->

				{{#if quick_view}}
				<h1 class="product-title"><a href="{{product.url}}">{{this.product.title}}</a></h1>
				{{else}}
				<h1 class="product-title mobileHide">{{this.product.title}}</h1>
				{{/if}}

				<div class="item-number">
					<span class="mobileHide">Item #: {{product.sku}} &nbsp;&nbsp;&nbsp; Internet #: <span
							id="productID">{{product.id}}</span></span>
					<div class="yotpo-pdp-wrapper hide" id="yotpoRating">
						<a href="#reviews" class="yotpo-reviews">
							<span class="yotpo-stars-rating" style="--rating: 0;" aria-label="Rating of 0 out of 5."></span> (<span class="yotpo-reviews-num">0</span>)
						</a>
						<a href="#questions" class="yotpo-questions" title="Reviews of {{product.title}}">
							<span class="yotpo-questions-num">0</span><span class="yotpo-questions-text"></span></span>
						</a>
					</div>


					{{#if settings.show_wishlist}}
					<div class="wishlist-form" data-wishlist-dropdown>
						{{#if customer.wishlists.length}}
						<button type="button" class="add-to-wishlist" data-wishlist-toggle>
							<svg class="icon icon-heart" width="20" height="20" fill="#4C7B9A"><use xlink:href="#icon-heart11" /></svg>
						</button>
						<ul class="add-to-wishlists" data-wishlist-panel>
							{{#each customer.wishlists}}
							<li class="wishlist__item">
								<a class="wishlist__link" href="{{../product.add_to_wishlist_url}}&wishlistid={{id}}" data-wishlist="{{view_url}}">
								{{name}}
								<svg class="icon icon-spinner hide"><use xlinkHref="#icon-spinner" /></svg>
								</a>
							</li>
							{{/each}}
						</ul>
						{{else}}
						<a class="add-to-wishlist" href="{{product.add_to_wishlist_url}}" title="add to your list">
							<svg class="icon icon-heart" width="20" height="20"><use xlink:href="#icon-heart11" /></svg>
						</a>
						{{/if}}
					</div>
					{{/if}}

				</div>


				<div class="price-range">
					{{#if product.options}}
						{{#if product.price}}
							{{> components/products/price price=product.price show_savings=false save_block=false}}
						{{/if}}

						{{#if customer.customer_group_id '==' '1' }}
							{{#each product.custom_fields}}
								{{#if this.name '==' "Trade Discount"}}
									{{#if this.value '==' 'Note: This item is not eligible for a trade discount'}}
									{{else}}
									<em class="badge badge--pdp">{{this.value}}% Trade Discount Applied</em>
									{{/if}}
								{{/if}}
							{{/each}}
						{{/if}}
						
					{{else}}
					<!-- show no price -->
					{{/if}}
				</div>


				<div class="affirm-pdp"></div>

				<!-- moved to add-to-cart.html -->
				<!-- <div class="product-price">
        {{#if product.price}}
          {{> components/products/price price=product.price show_savings=true save_block=true}}
        {{/if}}

        {{#if product.call_for_price}}
          <p>{{product.call_for_price}}</p>
        {{/if}}
      </div> -->

				<div class="product-rating-block">
					{{#if settings.show_product_rating}}
					<div class="product-item-rating">
						{{> components/products/ratings rating=this.product.rating}}
						<span class="reviews-jumplink total-reviews" data-scroll="#product-reviews">
							( <a class="product-reviews-link link"
								href="{{#if quick_view}}{{product.url}}#product-reviews{{else}}#product-reviews{{/if}}">{{lang 'product.reviews.title' numReviews=product.num_reviews}}</a>
							)
						</span>
					</div>

					{{{snippet 'product_rating'}}}
					{{/if}}
				</div>

				{{#if product.release_date }}
				<p class="message neutral">{{product.release_date}}</p>
				{{/if}}


				<p class="shipping-range shipping-range--static">
				{{#each product.custom_fields}}

					{{#if this.name '==' "Lead-Time"}}
						{{#contains (toLowerCase this.value) "ships next business day"}}
							<svg class="icon icon-quick-ship" width="50" height="50"><use xlink:href="#icon-quick-ship" /></svg>
						{{else}}
							<svg class="icon icon-regular-ship" width="50" height="50"><use xlink:href="#icon-regular-ship" /></svg>
						{{/contains}}
					{{/if}}

						
					{{#if this.name '==' "Lead-Time"}}
						<span class="shipping-range-cntr">
						{{#contains (toLowerCase this.value) "ships next business day"}}
							<span id="nextBussinessDay" class="shipping-range--tip">
								<script>document.addEventListener('DOMContentLoaded', function () {TEAK.Modules.leadTime.setTip("nextBussinessDay");});</script>
							</span>

							<strong class="shipping-range-title">Quick Ship</strong>
							<span class="shipping-range-text">{{this.value}}</span>
						{{else}}
							<strong class="shipping-range-title">Shipping Time Frame</strong>
							<span class="shipping-range-text">{{this.value}}</span>
						{{/contains}}
					{{/if}}

						{{#if this.name '==' "Lead-Time 2"}}
							<span class="shipping-range-text">{{this.value}}</span>
						{{/if}}
				{{/each}}

						</span>
				</p>



			{{#or 
				(if product.id '==' '8075') 
				(if product.id '==' '5088') 
				(if product.id '==' '6549') 
				(if product.id '==' '8082')
				(if product.id '==' '5090')
				(if product.id '==' '4198')
				(if product.id '==' '4199')
				(if product.id '==' '7011')
				(if product.id '==' '7012')
				(if product.id '==' '7010')
				(if product.id '==' '4200')
				(if product.id '==' '4450')
				(if product.id '==' '4449')
				(if product.id '==' '4448')
			}}
			{{else}}
				<p class="shipping-range shipping-range--static">
					<svg class="icon icon-whiteglove-delivery" width="50" height="50"><use xlink:href="#icon-whiteglove-delivery" /></svg>
					<span class="shipping-range-cntr">
						<strong class="shipping-range-title">White Glove Delivery Available</strong>
						<span class="shipping-range-text">
							<button type="button" rel="whiteGloveBtn" whiteGloveBtn class="button button--text">How it Works &rsaquo;</button>
						</span>
					</span>
				</p>
			{{/or}}



			{{#if customer.customer_group_id '!=' '1' }}
				{{#each product.custom_fields}}
					{{#if this.name '==' "Promo Text"}}
					<p class="pdp-promo-text">{{{this.value}}}</p>
					{{/if}}
				{{/each}}
			{{/if}}




				{{#if theme_settings.product-single-display-order '===' 'product-description-first'}}
				<ul class="highlight-group">
					{{#each product.custom_fields}}
					{{#if this.name '===' "Highlight 1"}}
					<li>{{value}}</li>
					{{else if this.name '===' "Highlight 2"}}
					<li>{{value}}</li>
					{{else if this.name '===' "Highlight 3"}}
					<li>{{value}}</li>
					{{else if this.name '===' "Highlight 4"}}
					<li>{{value}}</li>
					{{/if}}
					{{/each}}

					{{#each product.custom_fields}}
					{{#if this.name '===' "Featured Highlight"}}
					<li>{{value}}</li>
					{{else if this.name '===' "Specs Highlight"}}
					<li>{{value}}</li>
					{{/if}}
					{{/each}}
				</ul>

				{{#each product.custom_fields}}
					{{#if this.name '==' "Assembly Required"}}
					{{#if this.value '==' 'no' }}
					<ul class="product__infoGraphic">
						<li class="product__infoItem">
							<svg class="icon icon-no-assembly"><use xlink:href="#icon-no-assembly-2" /></svg>
							<strong>No assembly required.</strong>
						</li>
					</ul>
					{{/if}}
					{{/if}}
				{{/each}}

				{{> components/products/add-to-cart-form cart_icon=cart_icon}}

				{{else}}
				{{> components/products/add-to-cart-form cart_icon=cart_icon}}

				{{> components/products/product-description}}
				{{/if}}

				<div class="product-message-area" data-product-alerts></div>

				{{#if quick_view}}
				<a class="quick-shop-details-lower link" href="{{this.product.url}}">{{lang 'product.view_full_details'}}</a>
				{{/if}}
			</div>
		</div><!-- / product-details wrapper -->
		{{{snippet 'product_details'}}}

	</div>

	<hr />
	<div class="nosto_element" id="nosto-page-product2"></div>

	<hr />
	<div class="nosto_element nosto_page_product_1" id="nosto-page-product1"></div>


<div class="product__row" id="productMetaTabs">
	<div class="product__col-1-1">

		<div class="product__tabSection product__tabSection--active">
			<h2 class="product__tabTitle">
				<a href="#desc" class="product__titleLink product__titleLink--active" product-meta-tab>
					<span class="product__titleText">Product Overview</span>
					<svg class="icon icon-chevron-down"><use xlink:href="#icon-chevron-down" /></svg>
				</a>
			</h2>
			<div class="pad-top" id="desc">
				<div class="product__col-2-3--lg product__col-1-1 pad-right">
					{{{product.description}}}
					<br>

					{{#each product.custom_fields}}
						{{#if this.name '==' "prop65"}}
							<p>{{value}}</p><br />
						{{/if}}
					{{/each}}

					<p>
						<a href="{{product.brand.url}}" title="More {{product.brand.name}} products" class="button button-secondary--darkTrans">
							Shop all {{product.brand.name}}
						</a>
					</p>
				</div>
				<div class="product__col-1-3--lg product__col-1-1 product__col--allBorder">
					<h3 class="product__title product__title--2 pad-bottom">Resources</h3>
					<div class="product__col-1-1 no-pad" id="pdf"></div>
				</div>
			</div>
		</div> <!-- end description -->


		<div class="product__tabSection hide product__tabSection--active">
			<h2 class="product__tabTitle">
				<a href="#specs" class="product__titleLink product__titleLink--active" product-meta-tab>
					<span class="product__titleText">Specifications</span>
					<svg class="icon icon-chevron-down"><use xlink:href="#icon-chevron-down" /></svg>
				</a>
			</h2>
			<div class="product__col-1-1 pad-top" id="specs"></div>
		</div> <!-- end specifications -->


		<div class="product__tabSection hide">
			<h2 class="product__tabTitle">
				<a href="#care" class="product__titleLink" product-meta-tab>
					<span class="product__titleText">
						<!-- <svg class="icon icon-umbrella"><use xlink:href="#icon-umbrella" /></svg> -->
						Care
					</span>
					<svg class="icon icon-chevron-down"><use xlink:href="#icon-chevron-down" /></svg>
				</a>
			</h2>
			<div class="product__col-1-1 pad-top product__col--hide" id="care"></div>
		</div> <!-- end care -->


		<div class="product__tabSection hide">
			<h2 class="product__tabTitle">
				<a href="#ship" class="product__titleLink" product-meta-tab>
					<span class="product__titleText">
						<!-- <svg class="icon icon-truck"><use xlink:href="#icon-truck" /></svg> -->
						Shipping
					</span>
					<svg class="icon icon-chevron-down"><use xlink:href="#icon-chevron-down" /></svg>
				</a>
			</h2>
			<div class="product__col-1-1 pad-top product__col--hide" id="ship"></div>
		</div> <!-- end shipping -->


		<div class="product__tabSection {{#if product.warranty}}{{else}}hide{{/if}}">
			<h2 class="product__tabTitle">
				<a href="#warranty" class="product__titleLink" product-meta-tab>
					<span class="product__titleText">
						<!-- <svg class="icon icon-award"><use xlink:href="#icon-award" /></svg> -->
						Warranty
					</span>
					<svg class="icon icon-chevron-down"><use xlink:href="#icon-chevron-down" /></svg>
				</a>
			</h2>
			<div class="product__col-1-1 pad-top product__col--hide" id="warranty">
				{{{product.warranty}}}
			</div>
		</div> <!-- end warranty -->


		<div class="product__tabSection">
			<h2 class="product__tabTitle">
				<a href="#returns" class="product__titleLink" product-meta-tab>
					<span class="product__titleText">
						<!-- <svg class="icon icon-corner-up-left"><use xlink:href="#icon-corner-up-left" /></svg> -->
						Returns
					</span>
					<svg class="icon icon-chevron-down"><use xlink:href="#icon-chevron-down" /></svg>
				</a>
			</h2>
			<div class="product__col-1-1 pad-top product__col--hide" id="returns">
				<script>
					document.addEventListener("DOMContentLoaded", function(){
					  window.TEAK.Modules.tabs.getTabContent({
						key: "returnTab",
						cntr: "returns"
					  });
					});
				  </script>
			</div>
		</div> <!-- end returns -->


		<div class="product__tabSection product__tabSection--active" id="questions">
			<h2 class="product__tabTitle product__tabTitle--noBg">
				<span class="product__titleText">Questions & Answers</span>
				<button type="button" class="product__titleBtn hide" id="questionsTitleBtn" product-dialog-open rel="askQuestion">Ask a new question</button>
			</h2>
			<div class="product__col-1-1 pad-top">
				<ul class="product__questions" id="productQuestions"></ul>

				<div class="product__noQuestions product__noQuestions--row" id="noQuestions">
					<div class="product__col-1-3--lg product__col-1-1 pad-right product__col--rightBorder">
						<p>Typical questions asked about products:</p>
						<ul>
							<li>&bullet; Is the item durable?</li>
							<li>&bullet; Is the item easy to use?</li>
							<li>&bullet; What are the dimensions of this item?</li>
						</ul>
					</div>
					<div class="product__col-1-3--lg product__col-1-1 pad-left c">
						<a href="#" class="button button-primary button-primary--ocean button-wide" product-dialog-open rel="askQuestion">Ask the first Question</a>
					</div>
				</div>
			</div>
		</div> <!-- end questions -->



		<div class="product__tabSection product__tabSection--active" id="reviews">
			<h2 class="product__tabTitle product__tabTitle--noBg">
				<span class="product__titleText">Customer Reviews</span>			
			</h2>

			<div class="product__col-1-1 no-pad">
				<div id="ratingsBlock"></div>

				<div class="product__noReviews" id="noReviews">
					<h4 class="product__noReviewsHeading">Do you own this product? Be the first to rate it.</h4>
					<p class="product__noReviewsText">Your feedback will help customers like you make informed decisions and will help us to improve our product offerings!</p>
					<p class="product__noReviewsText">If you have any questions regarding the customer service you received, please <a href="/contact-us" target="__blank">contact us</a></p>
					<br>
					<a href="#" class="button button-primary button-primary--transparent button-wide" product-dialog-open rel="writeReview">Write the first review</a>
				</div>
			</div>
		</div> <!-- /reviews-->



		<div class="product__modal hide" id="productModal">
			<div class="product__modalDialog">
				<button class="product__closeBtn" product-dialog-close value="cancel">
					<svg class="icon icon-close"><use xlink:href="#icon-close" /></svg>
				</button>
				<div class="product__modalDialogCntr"></div>
			</div>
			<div class="product__modalOverlay"></div>
		</div>
		

	</div>
</div>


</section>

<!-- moved yotpo to tempaltes/pages/product.html -->
{{> components/products/customizations/request-swatch-modal product}}


<!-- Pintrest Structured Data -->
{{#partial "jsonPrice"}}
{{#if product.price.without_tax}}
{{> components/products/customizations/non-sale-price-value-fixed price=product.price}}
{{/if}}
{{#if product.price.with_tax}}
{{#unless product.price.without_tax}}{{chop product.price.with_tax.value}}{{/unless}}
{{/if}}
{{/partial}}


<script type="application/ld+json">
{
  "provider_name": "AuthenTEAK",
  "url": "{{product.url}}",
  "title": "{{this.product.title}}",
  "description": "{{json product.description}}",
  "product_id": "{{product.id}}",
  "brand": "{{product.brand.name}}",
  "price": "{{#block "jsonPrice"}}{{/block}}",
  "currency_code": "{{product.price.without_tax.currency}}",
  "availability": "in stock",
  "images": [{{#each product.images}}
    "{{getImage this 'product'}}"{{#unless @last}},{{/unless}}{{/each}}
  ],
  "related_items": [{{#each product.related_products}}
    "//authenteak.com{{url}}"{{#unless @last}},{{/unless}}{{/each}}
  ],
  "color": [{{#forEach product.options}}{{#inArray (split "Select Head Cushion Fabric||Select Canopy||Select Optional Cushions||Select Optional Cushion||Select Fabric||Select Cushion||Select Throw Pillows Fabric" "||") display_name }}{{#forEach values}}{{#unless (occurrences label "No Thanks") }}{{#unless (occurrences label "No Cushion") }}
      {
        "name": "{{ trim (first (split label ' (+' )) }}",
        "{{getImage image 'core-swatch'}}",
        "map": ""
      }{{#unless isLast}},{{/unless}}{{/unless}}{{/unless}}{{/forEach}}{{/inArray}}{{/forEach}}
  ],
  "geographic_availability": "US"
}
</script><!-- end Pintrest Strucutred Data -->


<script type="application/json" id="productInfo">
{
  "url": "{{product.url}}",
  "title": "{{this.product.title}}",
  "product_id": "{{product.id}}",
  "brand": "{{product.brand.name}}",
  "price": "{{#block "jsonPrice"}}{{/block}}",
  "availability": "in stock",
  "image": "{{getImage product.main_image 'product'}}",
  "sku": "{{product.sku}}",
  "disabledSwatches": "{{#each product.custom_fields}}{{#if this.name '===' "hideswatch"}}{{this.value}}{{/if}}{{/each}}" 
}
</script>

<script type="application/json" id="klaviyo">
{
	Name: "{{product.title}}",
	ProductID: "{{product.id}}",
	ImageURL: "{{getImage prodcuct.main_image 'prodcuct_size' (cdn theme_settings.default_image_product)}}",
	URL: "{{product.url}}",
	Brand: "{{product.brand.name}}",
	Price: "{{product.price.without_tax.value}}",
	CompareAtPrice: "{{product.price.rrp_without_tax.value}}"
}
</script>


<script type="application/json" id="tabJSON">
[
  {
    "id": "specsTab",
    "contentCntr": "specs"
  },
  {
    "id": "careTab",
    "contentCntr": "care"
  },
  {
    "id": "shipTab",{{#each product.custom_fields}}{{#if this.name '==' "Assembly Required"}}{{#if this.value '==' 'no' }}
    "customContent": "No assembly required.",{{/if}}{{/if}}{{/each}}
    "contentCntr": "ship"
  },
  {
    "id": "pdfTab",
    "contentCntr": "pdf"
  },
  {
    "id": "warrantyTab",
    "contentCntr": "warranty"
  },
  {
    "id": "returnTab",
    "contentCntr": "returns"
  }
]
</script>