<section
  class="
    product-details
    product-block
    section
    {{#unless quick_view}}
      product-single
    {{/unless}}
    {{cart_icon}}-icon
    {{theme_settings.product-single-display-order}}
  "
  data-product-container
  data-product-title="{{product.title}}"
  data-product-id="{{product.id}}">
  <div class="container">
    {{#unless quick_view}}
      {{> components/common/breadcrumbs breadcrumbs}}
    {{/unless}}

    <div class="product-details-column">
      <h1 class="product-title mobileShow">{{this.product.title}}</h1>
      <p class="item-number mobileShow">ITEM #: {{product.sku}}</p>

      {{> components/products/customizations/swatch-hover-detail}}
      {{> components/products/product-single-images
        images=product.images
        default_image=theme_settings.default_image
      }}
      <!--moved from add-to-cart-form.html-->
      <div class="share-block">
        <hr>
        <div class="share-buttons-wrap">
            <span class="share-title">
                {{ lang 'product.share'}}
              </span>
          {{> components/common/share-buttons
            share_buttons=settings.add_this
            url=product.url
            image=(getImage product.main_image 'thumb')
            title=product.title
          }}
        </div>
      </div>
      <hr>
      <div class="consult-showroom-wrap">
        <div class="showroom-block">
            <span class="gallery-icon gallery-phone">{{> components/products/gallery-phone-icon}}</span>
            <p>For a Free Design Consultation or to Order by Phone <br>Call: <a href="tel:1-866-360-8325">1-866-360-8325</a></p>
        </div>
      </div>
      <!--End Share-->
    </div>

    <div class="product-details-column">
      <!-- {{#if product.brand}}
        <a class="product-brand" href="{{product.brand.url}}">{{product.brand.name}}</a>
      {{/if}} -->

      {{#if quick_view}}
        <h1 class="product-title"><a href="{{product.url}}">{{this.product.title}}</a></h1>
      {{else}}
        <h1 class="product-title mobileHide">{{this.product.title}}</h1>
      {{/if}}
        <p class="item-number mobileHide">ITEM #: {{product.sku}}</p>

      <div class="yotpo-pdp-wrapper">
          <div class="yotpo bottomLine" data-product-id="{{ product.id }}"></div>  
          <div class='yotpo QABottomLine' data-appkey='aS8rMIONwGgNbx1ATQmUtKY173Xk5HHc75qGrnuq' data-product-id='{{ product.id }}'></div>
      </div>
      

      <div class="price-range">
          {{#if product.options}}
            {{#if product.price}}
              {{> components/products/price price=product.price show_savings=false save_block=false}}
            {{/if}}
          {{else}}
            <!-- show no price -->
          {{/if}}
      </div>

      <!-- moved to add-to-cart.html -->
      <!-- <div class="product-price">
        {{#if product.price}}
          {{> components/products/price price=product.price show_savings=true save_block=true}}
        {{/if}}

        {{#if product.call_for_price}}
          <p>{{product.call_for_price}}</p>
        {{/if}}
      </div> -->

      <div class="product-rating-block">
        {{#if settings.show_product_rating}}
          <div class="product-item-rating">
            {{> components/products/ratings rating=this.product.rating}}
            <span class="reviews-jumplink total-reviews" data-scroll="#product-reviews">
              ( <a class="product-reviews-link link" href="{{#if quick_view}}{{product.url}}#product-reviews{{else}}#product-reviews{{/if}}">{{lang 'product.reviews.title' numReviews=product.num_reviews}}</a> )
            </span>
          </div>

          {{{snippet 'product_rating'}}}
        {{/if}}
      </div>

      {{#if product.release_date }}
        <p class="message neutral">{{product.release_date}}</p>
      {{/if}}
      

      {{#each product.custom_fields}}
        {{#if this.name '==' "Lead-Time"}}   
            <p class="shipping-range shipping-range--static mobileHide">{{this.value}}</p>
        {{/if}}
      {{/each}}

      
      {{#each product.custom_fields}}
        {{#if this.name '==' "Promo Text"}}
            <p class="pdp-promo-text">{{{this.value}}}</p>
        {{/if}}
      {{/each}}


      {{#if theme_settings.product-single-display-order '===' 'product-description-first'}}
        <ul class="highlight-group">
          {{#each product.custom_fields}}
            {{#if this.name '===' "Highlight 1"}}
              <li>{{value}}</li>
            {{else if this.name '===' "Highlight 2"}}
              <li>{{value}}</li>
            {{else if this.name '===' "Highlight 3"}}
              <li>{{value}}</li>
            {{/if}}
          {{/each}}
        </ul>
        <hr>
        {{> components/products/add-to-cart-form cart_icon=cart_icon}}

      {{else}}
        {{> components/products/add-to-cart-form cart_icon=cart_icon}}
        <hr>
        {{> components/products/product-description}}
      {{/if}}

      <div class="product-message-area" data-product-alerts></div>

      {{#if quick_view}}
        <a class="quick-shop-details-lower link" href="{{this.product.url}}">{{lang 'product.view_full_details'}}</a>
      {{/if}}
    </div>

    {{{snippet 'product_details'}}}

  </div>
  <div class="pdp-shadow">
    <div class="tmp-prod-details">
      {{{product.description}}}
      <div id="warrantyTab">
          {{{product.warranty}}}
      </div>

      <div id="videoTab">
        {{#if product.videos.list.length}}
        <div class="tab-content-panel" id="product-videos">
          <div class="product-videos-list">
            {{#each product.videos.list}}
              {{> components/products/video-block-atmo video=this}}
            {{/each}}
          </div>
        </div>
      {{/if}}
    </div>
    </div>
  </div>

  <div class="tab-wrapper">
      <div class="tab-header">
        <ul>
          <li class="active"><a data-tabval="descTab" class="descBtn">Description</a></li>
          <li><a data-tabval="specsTab" class="specsBtn">Specifications</a></li>
          <li><a data-tabval="careTab" class="careBtn">Care Info</a></li>
          <li><a data-tabval="shipTab" class="shipBtn">Shipping</a></li>
          <li><a data-tabval="pdfTab" class="pdfBtn">Resources</a></li>
          <li><a data-tabval="videoTab" class="videoBtn">{{lang 'product.videos'}}</a></li>
          <li><a data-tabval="warrantyTab" class="warrantyTab">Warranty</a></li>
        </ul>
      </div>
      <div class="tab-content"></div>
  </div>


  <div class="mobile-tab-wrapper">
    <a class="mobile-tab-heading" data-tabVal="descTab">Description</a>
    <div class="descContent active"></div>
    
    <a class="mobile-tab-heading mobile-specsTab" data-tabVal="specsTab">Specifications</a>
    <div class="specsContent"></div> 
    
    <a class="mobile-tab-heading mobile-careTab" data-tabVal="careTab">Care Info</a>
    <div class="careContent"></div>
    
    <a class="mobile-tab-heading mobile-shipTab" data-tabVal="shipTab">Shipping</a>
    <div class="shipContent"></div>
    
    <a class="mobile-tab-heading mobile-pdfTab" data-tabVal="pdfTab">Resources</a>
    <div class="pdfContent"></div>

    <a class="mobile-tab-heading mobie-videoTab" data-tabVal="videoTab">{{lang 'product.videos'}}</a>
    <div class="videoContent"></div>
    
    <a class="mobile-tab-heading mobile-warratyTab" data-tabVal="warrantyTab">Warranty</a>
    <div class="warrantyContent"></div>
  </div>
</section>

<!-- moved yotpo to tempaltes/pages/product.html -->

<script>
(function(document){

  var tabClone, tabValue,
      tabButtons = document.querySelectorAll('.tab-header a'),
      tabContentEl = document.querySelector('.tab-content'),
      mobileTabButtons = document.querySelectorAll('.mobile-tab-heading');

  const tabs = [
          {
            type: document.querySelector('#specsTab'),
            id: "specsTab",
            tabBtnClass: ".specsBtn",
            mobileClass: ".mobile-specsTab",
            mobileObj: document.querySelector('.specsContent')
          },
          {
            type: document.querySelector('#careTab'),
            id: "careTab",
            tabBtnClass: ".careBtn",
            mobileClass: ".mobile-careTab",
            mobileObj: document.querySelector('.careContent')
          },
          {
            type: document.querySelector('#shipTab'),
            id: "shipTab",
            tabBtnClass: ".shipBtn",
            mobileClass: ".mobile-shipTab",
            mobileObj: document.querySelector('.shipContent')
          },
          {
            type: document.querySelector('#pdfTab'),
            id: "pdfTab",
            tabBtnClass: ".pdfBtn",
            mobileClass: ".mobile-pdfTab",
            mobileObj: document.querySelector('.pdfContent')
          },
          {
            type: document.querySelector('#videoTab'),
            id: "videoTab",
            tabBtnClass: ".videoBtn",
            mobileClass: ".mobile-videoTab",
            mobileObj: document.querySelector('.videoContent')
          },
          {
            type: document.querySelector('#warrantyTab'),
            id: "warrantyTab",
            tabBtnClass: ".warrantyBtn",
            mobileClass: ".mobile-warrantyTab",
            mobileObj: document.querySelector('.warrantyContent')
          }
        ];



    const tabsModule = {

      // activate the first tab
      activateFirstTab: function(args){
        var dataDumpEl = document.querySelector(args.dataClass),
            mobileDesc = document.querySelector(args.contentClass),
            prodDescEl = document.createElement('div');

        prodDescEl.setAttribute('id', args.id);
        prodDescEl.classList.add('active');
        prodDescEl.appendChild(dataDumpEl);

        tabClone = prodDescEl.cloneNode(true);

        tabContentEl.appendChild(prodDescEl);
        mobileDesc.appendChild(tabClone);

        return this;
      },


      //Initialize tabbed content
      initTabContent: function() {

        // itterate over our tabs object and build out each tab skipping any tabs that have no content
        tabs.forEach( (element) => {
          if (element.type !== null && document.getElementById(element.id).innerHTML.trim() !== "") {
            let cln = element.type.cloneNode(true);

            tabClone.querySelector('#' + element.id).parentNode.removeChild(tabClone.querySelector('#' + element.id))
            tabContentEl.appendChild(element.type);
            element.mobileObj.appendChild(cln);

          } else {
            // hide desktop button item 
            document.querySelector("[data-tabval='"+ element.id +"']").parentElement.classList.add('innactive-tab');
            // hide desktop pane
            document.querySelector("[data-tabval='"+ element.id +"']").parentElement.classList.add('innactive-tab');
            // hide mobile tab
            document.querySelector("[data-tabval='"+ element.id +"'].mobile-tab-heading").classList.add('innactive-tab');
          }

        });

        return this;
      },


      //Clear active tab headers
      clearTabHeaders: function() {
        tabButtons.forEach((element, i) => {
          tabButtons[i].parentElement.classList.remove('active');
        });

        return this;
      },


      //Clear active tab content
      clearTabContent: function() {
        let tabContentElements = document.querySelectorAll('.tab-content div');
        
        tabContentElements.forEach((element, i) => {
          tabContentElements[i].classList.remove('active');
        });

        return this;
      },


      //Update the tab contents based on tabValue
      updateTabContent: function() {
        this.clearTabContent();
        document.querySelector('#' + tabValue).classList.add('active');

        return this;
      }

  };


  // Choose which tab to show first
  // this is also used to build its sibbling tabs
  // therefore we run this before we Instantiate the Tab Content
  tabsModule.activateFirstTab({
    id: "descTab",
    dataClass: ".tmp-prod-details",
    contentClass: ".descContent"

  }).initTabContent();



  //Add Tab Button Listeners
  tabButtons.forEach( (element, i) => {  
    if (!tabButtons[i].parentElement.classList.contains('innactive-tab')) {

      tabButtons[i].addEventListener('click', function(event) {

        if (!this.parentElement.classList.contains('active')) {
          tabValue = this.dataset.tabval;

          tabsModule.clearTabHeaders();
          this.parentElement.classList.toggle('active');
          tabsModule.updateTabContent();

          event.preventDefault();
        }
      });
    }
  });


  //Add Mobile Tab Button Listeners
  mobileTabButtons.forEach( (element, j) => {
    mobileTabButtons[j].addEventListener('click', function(event) {
      let mobileContent = document.querySelector('.mobile-tab-wrapper' + ' #' + this.getAttribute("data-tabval"));
     
      mobileContent.classList.toggle('active');
      event.preventDefault();
    });
  });


}(document));

</script>

{{> components/products/customizations/request-swatch-modal product}}
